#page-title {
  margin-top: 0;
  background-size: 100%;
  background-repeat: repeat;
  margin-bottom: 10px;
  width: calc(100% + 40px);
  margin-left: -40px;

  .cs-default.page-rewards & {
    background-image: url("../images/yellowbrushstroke_lg.png");
    padding: 27px 10px 30px 40px;
    color: $purple;
  }

  .cs-classic.page-rewards & {
    background-image: url("../images/redbrushstroke_lg.png");
    color: $dark-blue;
    padding: 24px 10px 30px 40px;
  }

  .cs-elegant.page-rewards & {
    background-image: url("../images/bluebrushstroke_lg.png");
    color: $gray;
    padding: 24px 10px 30px 40px;
  }
}
.page-rewards {
  .main {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
      .block-views {
         flex: 0 0 50%;
          .views-field-nothing {
            margin-bottom: 20px;
             .field-content {
               > div {
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                display: -webkit-flex;
                display: flex;
                 .reward-image {
                   flex: 0 0 100px;
                 }
                 .reward-body-wrapp {
                   flex: 0 0 calc(100% - 100px);
                    > div {
                       padding-left: 10px;
                        &.reward-des {
                          padding-left: 30px;
                        }
                        &.reward-tit {
                          font-weight: bold;
                        }
                    }
                 }
               }
             }
          }
          &:nth-of-type(1) {
            .views-field-nothing {
              padding-right: 10px;
            }
          }
          &:nth-of-type(2) {
            .views-field-nothing {
              padding-left: 10px;
            }
          }
      }
  }
}
