// Non-modular or client styles for .l-footer region.
.post-footer.contain-to-grid {
  .cs-default & {
    background: $footer-color;
  }

  .cs-classic & {
    @extend .light-blue;
  }

  .cs-elegant & {
    @extend .blue;
  }
}

.l-footer {
  width: 100%;
  display: inline-block;
  padding-top: 30px;

  .cs-default & {
   background: $footer-color;
  }

  .cs-classic & {
    @extend .light-blue;
  }

  .cs-elegant & {
    @extend .blue;
  }

  .footer {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding-left: 56px;
    padding-right: 50px;

    .block-play-library-custom-program-footer-content {
      flex: 0 0 70%;
      @media screen and (max-width: 767px) {
        flex: 0 0 100%;
        order: 2;
      }

      .u-footer-content {
        font-size: 14px;

        .cs-default & {
          color: $purple;
        }

        color: $dark-blue;

        p {
          margin-bottom: 0;
          line-height: 20px;
          color: inherit;
          font-size: inherit;

          @include semibold-font;

          a {
            color: inherit;
            font-size: inherit;
            font-family: inherit;

            &:hover {
              color: inherit;
              font-size: inherit;
              text-decoration: underline;
            }
          }
        }
      }

      .lower-footer-content {
        font-size: 12px;

        @include semibold-font;

        margin-top: 25px;

        .cs-default & {
          color: $purple;
        }

        color: $dark-blue;

        a {
          font-size: inherit;
          font-family: inherit;
          color: inherit;
        }
      }

      .copy-right {
        font-size: 12px;

        @include semibold-font;

        .cs-default & {
         color: $purple;
        }

        color: $dark-blue;

        margin-top: -5px;
      }
    }

    .block-menu-menu-social-sharing-icons {
      flex: 0 0 30%;
      @media screen and (max-width: 767px) {
        flex: 0 0 100%;
      }
    }
  }
}

.l-footer-columns {}
