.node-type-poll {
	#page-title {
		width: 100%;
		margin-left: 0;
	}
	.poll {
		margin-bottom: 30px;
		.vote-form {
			text-align: left;
			.choices {
				margin: 0;
			}
		}
		.text {
			margin-top: 15px;
		}
	}
	.form-type-item {
		display: none;
	}
	input[type="radio"] {
		margin-bottom: 0;
	}
}