.progress-main h1 {
	background: #7eb600 none repeat scroll 0 0;
  border: 1px solid #7eb600;
  color: #fff;
  display: inline-block;
  font-family: SpecialElite !important;
  font-size: 24px;
  font-style: normal !important;
  font-weight: normal !important;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.progress-main .new-row > .grid {
  border: 1px solid #cccccc;
  color: #32024e;
  display: inline-block;
  height: 160px;
  padding: 10px 1.8%;
  position: relative;
  vertical-align: top;
  width: 12.85%;
}

.progress-main .new-row #cells p {
  margin: 0 0 0.8em;
}