/* Hide the color picker when not associated with a selector. */
#flexicolor-fieldset > .fieldset-wrapper > #flexicolor-color-picker {
  display: none;
}

.form-type-textfield .form-item-input-flexicolor-selector {
  float: left;
}
.form-type-textfield #flexicolor-color-picker {
  float: left;
}
.form-type-textfield .description {
  clear: left;
}

/* Force manage link in #flexicolor-switch-form to clear submit button. */
#edit-flexicolor-manage-link {
  display: block;
}
