// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.orange-blue {
	background: $blue;
    overflow: hidden;
    border-radius: 20px;
    color: $white;
    position: relative;
    @extend .box-shadow;
      .block-title, h2 {
       	color: $white;
      	@extend .mclaren;
		padding-top: 26px;
		padding-bottom: 25px;
	    font-size: 28px;
		height: 110px;
		border-bottom: medium none;
		margin-top: -1px;
		padding-left:4%;
		z-index: 0;
		position: relative;
		font-weight: normal !important;
		border-radius: 20px;
		overflow: hidden;
		 &:after {
		 	content: "";
		 	background: url('../images/libraryzurb/background-saffron.png') no-repeat;
		 		background-position: -35px 10px;
		 		width: 100%;
		 		height: 110px;
		 		transform: rotate(180deg);
		 		-webkit-transform: rotate(180deg);
		 		-moz-transform: rotate(180deg);
		 		-ms-transform: rotate(180deg);
		 		-o-transform: rotate(180deg);
		 		position: absolute;
		 		left: 0;
		 		top: 0;
		 		z-index: -1;

		 }
     }
}
.white-text {
	color: $white;
	@extend .mclaren;
}
.black-text {
	color: $black;
	@extend .arial-regular;
	opacity: 1 !important;
}
.blue-text {
	color: $blue;
	@extend .mclaren;
	  &:hover {
	  	color: $blue;
	  }

}
.yellow-button {
	color: $black;
	@extend .mclaren;
	border-radius: 10px;
	background: $yellow !important;
	text-transform: capitalize;
	border: none;
	padding: $button-sml 20px;
	@extend .box-shadow;
	 &:hover {
	 	color: $black;
	 	background: $button-hover !important;
	 	opacity: 1;
	 	outline: none;
	 	text-decoration: none !important;
	 }
	 &:focus, &.active {
	 	color: $black;
	 	background: $button-active !important;
	 	outline: 1;
	 	opacity: 1;
	 	text-decoration: none !important;
	 }

}
.blue-button {
	color: $white !important;
	@extend .mclaren;
	background: $blue !important;
	border-radius: 10px;
	padding: 9px 22px;
	font-size: 21px;
	@extend .box-shadow;
	border: none;
	text-transform: capitalize;
	  &:hover, &:focus {
	 	color: $white;
	 	background: $blue;
	 	opacity: 1;
	 	outline: none;
	 }

}
.yellow-background {
	color: $white;
	border-radius: 20px;
	background: $yellow;
	@extend .mclaren;
	@extend .box-shadow;

}
.like {
	position: relative;
	padding-right: 30px;
 &:after {
 	 	content: "";
 	 	height: 30px;
 	 	width: 30px;
 	 	display: block;
 	 	background-size: 30px;
 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
 	 	position: absolute;
 	 	top: -4px;
 	 	right: 0;
 	 }
}
.blue-background {
	background: $blue;
    overflow: hidden;
    border-radius: 20px;
    color: $white;
    position: relative;
    @extend .box-shadow;
}
.wave-img {
		color: $white;
      	@extend .mclaren;
		padding-top: 26px;
		padding-bottom: 25px;
	    font-size: 28px;
		height: 110px;
		border-bottom: medium none;
		margin-top: -1px;
		padding-left:4%;
		z-index: 0;
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		 &:after {
		 	content: "";
		 	background: url('../images/libraryzurb/background-saffron.png') no-repeat;
		 		background-position: -35px 10px;
		 		width: 100%;
		 		height: 110px;
		 		transform: rotate(180deg);
		 		-webkit-transform: rotate(180deg);
		 		-moz-transform: rotate(180deg);
		 		-ms-transform: rotate(180deg);
		 		-o-transform: rotate(180deg);
		 		position: absolute;
		 		left: 0;
		 		top: 0;
		 		z-index: -1;

		 }
    }
.box-shadow {
  -webkit-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
}
.no-border {
	border: none !important;
	outline: none !important;
}
.arial-regular {
	font-family: Arialregular !important;
	font-style: normal !important;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased !important;
}
.arial-bold {
	font-family: Arialbold !important;
	font-style: normal !important;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased !important;
}
.mclaren {
	font-family: McLaren-Regular !important;
	font-weight: normal !important;
	font-style: normal !important;
	-webkit-font-smoothing: antialiased !important;
}
.no-background {
	background: none !important;
}
.blue-box {
	background: $blue !important;
	box-shadow: none !important;
	opacity: 1 !important;
}
.counter {
	counter-increment: section;
	content: " " counter(section, decimal) ". ";
	padding-right: 5px;
}
.remove-button {
 text-align: center;
 padding: 10px 0px;
 background:$blue;
 border-radius: 20px;
 @extend .box-shadow;
   a {
   	margin: 0px;
	background: $blue !important;
	color: $white;
	font-size: 17px;
	box-shadow: none !important;
	border-radius: 0px !important;
	padding: 0px;
	border: medium none;
	@extend .mclaren;
	 &:hover {
	 	text-decoration: underline !important;
	 }
   }
}