// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

.pagination.pager {
	float: right;
	margin-right: 10px;
	 li {
	 	border-left: 1px solid transparent;
	 	padding: 0;
	 	height: 33px;
	 	width: 31px;
	 	overflow: hidden;
	 	 &.current {
	 	  	 a {
	 	  	 	background: $blue;
	 	  	 	 	&:hover {
			 	  	 	background: $blue;
	 	  		 	}
	 	  	 }
	 	  }
	 	  a {
	 	  	background: $orange;
	 	  	padding: 5px 10px;
	 	  	color: $white;
	 	  	text-decoration: none;
	 	  	width: 100%;
	 	  	height: 100%;
	 	  	padding: 0 !important;
	 	  	text-decoration: none !important;
	 	  	font-size: 17px;
	 	  	line-height: 34px;
	 	  	 &:hover {
	 	  	 	background: $blue;
	 	  	 }
	 	  }
	 	 
	 	  &.arrow {
	 	  	 &:nth-of-type(2) {
	 	  	 	a {
	 	  	 	color: transparent !important;
	 	  	 	background: $orange url('../images/libraryzurb/left-arrow.png') no-repeat;
	 	  	 	background-position: center 7px;
	 	  	 	background-size: 18px;
	 	  	 	border-radius: 12px 0px 0px 12px;
	 	  	  }
	 	  	  
	 	  	 }
	 	  	 &:nth-last-of-type(2) {
	 	  	  	a {
	 	  	    color: transparent !important;
	 	  	 	background: $orange url('../images/libraryzurb/right-arrow.png') no-repeat;
	 	  	 	background-position: center 4px;
	 	  	 	background-size: 18px;
	 	  	 	border-radius: 0px 12px 12px 0px;

	 	  	  	}
	 	  	  }
	 	  	&.first, &.last {
	 	  		display: none;
	 	  	}
	 	  }
	 }
}
.view .views-field-body {
	@include arialregular;
}
.page-patron ul.action-links {
	display: none;
}
.view-empty a {
	display: inline-block;
	margin-top: 10px;
	background: $blue !important;
	color: $white !important;
	width: 100%;
	margin-left: 0 !important;
	@include noborder;
	  &:hover {
	  	 background: $blue !important;
	  	 color: $white !important;
	  	 text-decoration: underline !important;
	  }
}
h1#page-title {
	@include mclaren;
	color: $black;
	font-size: 28px;
}
.views-field-count {
	padding-left: 17px;
}
.more-link {
	text-align: right !important;
	 	a {
		 	@include mclaren;
		 	position: relative;
		 	font-size: 17px;
		 	text-transform: capitalize;
	 		padding-right: 20px;
		 	 	&:after {
          	@include previous(17px, 17px, $right: 0, $top: 1px);
          	background: url('../images/libraryzurb/right-blue-arrow.png') no-repeat;
          	background-size: 15px;
		 	 	}
		}
}
.page-user {
	.alert-box {
		&:nth-of-type(2) {
			display: none;
	}
 }
}
.homebox-column-wrapper {
	@media screen and (max-width: 767px) {
		width: 100% !important;
		.homebox-column {
			height: auto !important;
			padding: 0 !important;
		}
	}
}
.more-link {
 			text-align: right;
 			width: 100%;
			 	a {
 			 	@include mclaren;
 			 	position: relative;
 			 	font-size: 17px;
 			 	text-transform: capitalize;
			 	padding-right: 20px;
 			 	 	&:after {
                  	@include previous(17px, 17px, $right: 0, $top: 12%);
                  	background: url('../images/libraryzurb/right-blue-arrow.png') no-repeat;
                  	background-size: 15px;
 			 	 	}
 			}
 		}
 .page-patron {
 	.button-group {
 		&:nth-of-type(1) {
 			li {
 				display: none;
 			}
 		}
 		&:nth-of-type(2) {
 			float: left;
 			 a {
 			 	font-size: 17px !important;
 			 	@include noborder;
 			 	 background: $yellow !important;
 			 	  &:hover {
 			 	  	background: $button-hover;
 			 	  }
 			 }
 			 li {
 			 	&:nth-of-type(1) {
 			 		display: none;
 			 	}
 			 }
 		}
 	}
 	#edit-profile-main-field-user-birthday {
 		width: 100%;
 		display: inline-block;
 	}
 }
 /**css for login and signup button in unauthencated pages***/
  .not-logged-in {
  	.pre-header {
  		padding-bottom: 0 !important;
  		.pre-header-left { 
  			.top-menu { 
  				float: none !important;
  				width: 100% !important;
  				 .block-menu-menu-authenticated-links {
  				 	float: right;
  				 	margin-bottom: 0;
  				 	 .menu {
  				 	 	li {
  				 	 		a {
  				 	 			@include bluebutton($font-size: 17px);
  				 	 			margin: 5px !important;
  				 	 		}
  				 	 	}
  				 	 }
  				 }
  			}
  		}
  	}
  }
  form#user-pass {
  	span {
  		&.form-required {
  			display: none;
  		}
  	}
  	div {
  		&.user_pass_name {
  			&:after {
  				content: "*";
  				color: $red;
  			}
  		}
  	}
  }
  .blue-button {
  	color: $white !important;
	@include mclaren;
	background: $blue !important;
	border-radius: 10px;
	padding: 9px 22px;
	@include boxshadow;
	border: none;
	font-size: 17px;
	display: inline-block;
	text-transform: capitalize;
	  &:hover, &:focus {
	 	color: $white;
	 	background: $blue;
	 	opacity: 1;
	 	outline: none;
	 }
  }
 .l-messages div.messages.status {
  	margin-bottom: 15px !important;
  }