// @file
// Place your mixins here. Feel free to roll your own mixins. Or nuke what is
// currently here.

//
// Mixin: Base Utility
//

 //css before and after
 @mixin previous($width, $height, $top: null, $bottom: null, $left: null, $right: null) {
  content: "";
  width: $width;
  height: $height;
  display: block;
  visibility: visible;
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}
// generic transform

@mixin rotate($degrees, $dir: null ) {
    
    @if $dir == "Y" {
    -webkit-transform: rotateY($degrees);
    -moz-transform: rotateY($degrees);
    -ms-transform: rotateY($degrees);
    -o-transform: rotateY($degrees);
    transform: rotateY($degrees);
    } @else if $dir == "X" {
    -webkit-transform: rotateX($degrees);
    -moz-transform: rotateX($degrees);
    -ms-transform: rotateX($degrees);
    -o-transform: rotateX($degrees);
    transform: rotateX($degrees);
    } @else {
      -webkit-transform: rotate($degrees);
      -moz-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
      -o-transform: rotate($degrees);
      transform: rotate($degrees);
    } 
}
//media query

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
   @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin mobile {
   @media (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin mini {
	@media (min-width: #{$tablet-width}) and (max-width: #{$medium-width}) {
		@content;
	}
}

//for optimise sass coding

@mixin stage {
  position: absolute;
  left: -999em;
}

@mixin unstage {
  position: static;
  left: auto;
}
@mixin boxshadow {
 	 -webkit-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
  	-moz-box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
  	box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
 }

 @mixin mclaren {
	font-family: McLaren-Regular !important;
	font-weight: normal !important;
	font-style: normal !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	text-rendering: optimizeLegibility !important;
	-moz-font-smoothing: grayscale !important;

}
@mixin noborder {
	border: none !important;
	outline: none !important;
}
@mixin arialregular {
	font-family: arial !important;
	font-style: normal !important;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important; 
}
@mixin arialbold {
	font-family: Arialbold !important;
	font-style: normal !important;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	-moz-font-smoothing: grayscale !important;
	text-rendering: optimizeLegibility !important; 
}
@mixin orange-blue {
	background: $blue;
    overflow: hidden;
    border-radius: 20px;
    color: $white;
    position: relative;
    @include boxshadow;
      .block-title, h2 {
       	color: $white;
      	@include mclaren;
		padding-top: 26px;
		padding-bottom: 25px;
	    font-size: 28px;
	      @include mobile{
	     	font-size: 22px;
	     	padding-top: 13px;
	     	height: 100px;
	     	padding-left: 22px;
	     }
		height: 110px;
		border-bottom: medium none;
		margin-top: -1px;
		padding-left:36px;
		z-index: 0;
		position: relative;
		font-weight: normal !important;
		border-radius: 20px;
		overflow: hidden;
		 &:after {
		 	@include mobile {
		 		@include previous(100%, 95px, $left: 0, $top: 0);
		 	}
		 	@include previous(100%, 110px, $left: 0, $top: 0);
		 	background: url('../images/libraryzurb/background-saffron.png') no-repeat;
		 		background-position: -35px 10px;
		 		@include rotate(180deg);
		 		z-index: -1;
		 @include mobile {
		 	background-position: -52px 16px;
		 	background-size: 200% auto;
		 }
		 		
		
		 
		 }
     }
}
@mixin yellowbutton($p: null) {
	color: $black;
	@include mclaren;
	border-radius: 10px;
	background: $yellow;
	text-transform: capitalize;
	border: none;
	@if $p == "P" {
		padding: $button-sml 10px;
		word-spacing: -2px;
	}
	@else {
		padding: $button-sml 20px;
	}
	@include mobile {
		padding: 4px 13px 6px !important;
	}
	@include boxshadow;
	 &:hover {
	 	color: $black;
	 	background: $button-hover;
	 	opacity: 1;
	 	outline: none;
	 	text-decoration: none !important;
	 }
	 &:focus, &.active {
	 	color: $black;
	 	background: $button-active;
	 	outline: 1;
	 	opacity: 1;
	 	text-decoration: none !important;
	 }

}
@mixin bluebutton($font-size: null, $p: null) {
	color: $white !important;
	@include mclaren;
	background: $blue !important;
	border-radius: 10px;
	@if $p == "lg" {
		padding: 9px 40px 9px 22px;
	}
	@else if $p == "sm" {
       padding: 4px 13px 6px;
       z-index: 9999 !important;
	}
	@else {
	padding: 9px 22px;
}
	@include boxshadow;
	border: none;
	text-transform: capitalize;
	font-size: $font-size;
	  &:hover, &:focus {
	 	color: $white;
	 	background: $blue;
	 	opacity: 1;
	 	outline: none;
	 }

}
@mixin yellowbackground {
	color: $white;
	border-radius: 20px;
	background: $yellow;
	@include boxshadow;

}
@mixin like($fromtop: null) {
	position: relative;
	@if $fromtop == "y" {
	padding-right: 40px;
}
@else {
	padding-right: 34px;
}
 &:after {
 	@if $fromtop == "y" {
 		@include previous(30px, 30px, $right: 6px, $top: 11px);
 	}
 	@else {
 	@include previous(30px, 30px, $right: 0, $top: 0px);
 	}
 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
 	 }
}
@mixin bluebackground {
	background: $blue !important;
    overflow: hidden;
    border-radius: 20px;
    color: $white;
    position: relative;
    @include boxshadow;
}
@mixin waveimg($ch-font: null, $back: null) {
		color: $white;
      	@include mclaren;
		padding-top: 26px;
		padding-bottom: 25px;
	    
	     @if $ch-font == "C" {
	     	font-size: 22px;
	     	  @include mobile {
	     	  	font-size: 17px;
	     	  }
	     }
	     @else {
	     	font-size: 28px;
	     @include mobile {
	     	font-size: 22px;
	     }
	     }
	     @include mobile {
	     	height: 100px;
	     	padding-top: 13px;
	     	padding-left: 22px;
	     }
		height: 110px;
		border-bottom: medium none;
		margin-top: -1px;
		padding-left:36px;
		z-index: 0;
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		 &:after {
		 	@include mobile {
		 	  @include previous(100%, 95px, $left: 0, $top: 0);
		 	}
		 	@include previous(100%, 110px, $left: 0, $top: 0);
		 	background: url('../images/libraryzurb/background-saffron.png') no-repeat;
		 		background-position: -35px 10px;
		 		@include rotate(180deg);
		 		z-index: -1;
		 		@include mobile {
		 			background-position: -52px 16px;
		 			background-size: 200% auto;
		 		}

		 }
		 @if $back == "full" {
		 	@include mobile {
		 	height: auto !important;
		 	border-radius: 20px 20px 0px 0px !important;
		 }
		 	 &:after {
		 	 	@include mobile {
		 	  @include previous(100%, 100% !important, $left: 0, $top: 0);
		 	   background: $orange !important;
		 	   background-image: none;
		 	}
		 	 }
		 }
    }
@mixin nobackground {
	background: none !important;
}
@mixin bluebox {
	background: $blue !important;
	box-shadow: none !important;
	opacity: 1 !important;
}
@mixin counter {
	counter-increment: section;
	content: " " counter(section, decimal) ". ";
	padding-right: 5px;
	display: inline-block;
}
@mixin animate {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform; 
}
@mixin block {
	margin-bottom: 35px;
	@include mobile {
	     	margin-bottom: 25px;
	     }
}
@mixin white-text {
	color: $white !important;
	@include mclaren;
}
@mixin black-text {
	color: $black;
	@include arialregular;
	opacity: 1 !important;
}
@mixin blue-text {
	color: $blue;
	@include mclaren;
	  &:hover {
	  	color: $blue;
	  }

}
@mixin bck_size_tablet {
	@include tablet {
		background-size: 100% !important;
	}
}
