.page-activities {
  #page-title {
    display: none;
  }
  .button {
    margin-left: 0;
  }
  .flicker-block {
    margin-top: 50px;
  }
}

/*-----------------------activity-my-review-page----------------*/
.page-my-reviews, .page-my-booklists {
	.view--reviews-for-all-type {
		.views-row {
			width: 100%;
			display: inline-block;
			.views-field-field-book-cover-image-link {
		    float: left;
		    width: 30%;
		    table {
		    	border: none;
		    	tbody {
		    		border-top: none;
		    	}
		    }
			}
			.views-field-nothing {
				width: 70%;
				.button-wrap {
					a {
						margin-left: 0;
					}
				}
			}
		}
	}
}
