@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

	/*-------------------------Progress Page--------------------------*/
	.calendar-wrapper {
   	.fc-center {
   		.fc-button {
   			padding: 3px 24px !important;
   		}
   	}
  }
  .progress-page-wrap {
  	#wrap {
  		> div {
  			&.sticker-block {
  				flex: 0 0 45%;
  			}
  			&.rewards {
  				flex: 0 0 30%;
  			}
  		}
  	}
  }
	/*-------------------------Progress Page Ends--------------------------*/

	/*-------------------------Dashboard Page--------------------------*/
  .my-dashbord-block {
  	.attachment {
  		.image {
  			img {
  				width: 150px;
  				height: 150px;
  			}
  		}
  		.view-content {
  			table {
  				img {
  					height: auto;
  				}
  			}
  		}
  	}
  }
  /*-------------------------Dashboard Page Ends--------------------------*/

  /*-------------------------Reward Page--------------------------*/
  .view-reward-page-views {
  	.reward-page-for-kids {
  		.description {
  			width: 68%;
  		}
  	}
  }
  /*-------------------------Reward Page Ends--------------------------*/

	/*-------------------------Photo/videos Page--------------------------*/
 .view.photos-block {
	 	&.view {
		 	.view-content {
		 		.views-row {
		 			flex: 0 0 27%;
		 		}
		 	}
		}
	}
	.video-block {
		&.view {
			.view-content {
				.views-row {
					flex: 0 0 21% !important;
				}
			}
		}
	}
	/*-------------------------Photo/videos Page Ends--------------------------*/

	/*-------------------------Events Page--------------------------*/
	.current-program {
		.programme-content {
			.body {
				width: 70%;
			}
		}
	}
	.view.other-programme {
		.other-programme {
			.programme-content {
				width: 70%;
			}
		}
	}
	/*-------------------------Events Page Ends--------------------------*/

  .page-reviews-patrons, .page-reviews-staff {
    .views-exposed-form {
      .views-exposed-widget {
        .form-submit {
          margin-top: 21px;
          padding: 7px 10px !important
        }
      }
    }
  }
}