// @file
// Place your mixins here. Feel free to roll your own mixins. Or nuke what is
// currently here.

//
// Mixin: Base Utility
//
@mixin stage {
  position: absolute;
  left: -999em;
}

@mixin unstage {
  position: static;
  left: auto;
}

//font-families
@mixin primary_fonts {
  .cs-default & {
    font-family: $mclaren;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }

  .cs-classic & {
    font-family: $Architects;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }

  .cs-elegant & {
    font-family: $margarine;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }
}

@mixin secondary_fonts {
  .cs-default & {
    font-family: $arial;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }

  .cs-classic & {
    font-family: $ptsans;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }

  .cs-elegant & {
    font-family: $open-sans;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }
}

@mixin bold_fonts {
  .cs-default & {
    font-family: $arial;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }

  .cs-classic & {
    font-family: $ptsans;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }

  .cs-elegant & {
    font-family: $open-sans;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }
}

@mixin menu($border: null) {
  color: $white;

  @if $border == "m" {
    .cs-default & {
      &:hover, &.active, &:focus {
        border-bottom: 1px solid $orange;
      }
    }

    .cs-elegant & {
      &:hover, &.active, &:focus {
        border-bottom: 1px solid $darkblue;
      }
    }
  }
  .cs-default.page-booklists & {

  }
  .cs-default & {
    background: $orange;

    &:hover, &.active, &:focus {
      color: $orange;
      background: #fff;
    }
  }

  .cs-classic & {
    background: $sky-blue;

    &:hover, &.active, &:focus {
      @extend .dark-blue;
    }
  }

  .cs-elegant & {
    background: $blue;

    &:hover, &.active, &:focus {
      background: $white;
      color: $darkblue;
    }
  }
}

@mixin primary_fsize {
  .cs-default & {
    font-size: 17px;
  }

  .cs-classic &, .cs-elegant & {
    font-size: 19px;
  }
}

.font-stroke-main {
  @include primary_fonts;

  height: 85px;
  width: 100%;
  background: url("../images/stroke");
  padding-top: 14px;
  border-radius: 15px 15px 0 0;
  padding-left: 35px;

  @extend h1;

  @extend .white-text;

  .cs-default & {
    background-position: -95px -226px;
  }

  .cs-classic & {
    background-position: -95px -569px;
  }

  .cs-elegant & {
    background-position: -95px -914px;
  }
}

.font-stroke-sidebar {
  @include primary_fonts;

  height: 85px;
  width: 100%;
  background: url("../images/stroke");
  padding-top: 14px;
  border-radius: 15px 15px 0 0;
  padding-left: 30px;

  @extend .white-text;

  .cs-default & {
    background-position: -60px -239px;
    font-size: 22px;
  }

  .cs-classic & {
    background-position: -60px -583px;
    font-size: 24px;
  }

  .cs-elegant & {
    background-position: -60px -928px;
    font-size: 25px;
  }
}

//all support mixin
