// DEFAULT COLORS
// There are three detault color sets.
// Uncomment the color set you want to use. 
// Comment out all color sets you aren't using.
// Change primary color on line 70 of _settings.scss to use c1  
// Look for "LibrarySite Edit" in _settings.scss and custom.scss for site-by-site customizations

$color_gray_dark: #333333;
$color_gray_light: #f1f1f1;
$color_white: #ffffff;
$color_notice: #ffe382;

// Color set 1: Red and Blue

$color_c1: #ee3940;
$color_c2: #983432; 
$color_c3: #afccec;
$color_c4: #e2f0f9;

// Color set 2: Green and Gold

// $color_c1: #24ad5b;
// $color_c2: #146836; 
// $color_c3: #f9cc7b;
// $color_c4: #fdebc5;

// Color set 2: Blue and Purple

// $color_c1: #1b97d5;
// $color_c2: #19659f; 
// $color_c3: #d6b3d4;
// $color_c4: #ecd9ec;
