.page-user {
	.main {
		.primary-tabs {
			display: none;
		}
		.block-play-library-custom-user-profile-tabs {
			ul {
				list-style: none;
				width: 100%;
				li {
					display: inline-block;
					&:first-child {
						a {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.page-user {
		.main {
			.block-play-library-custom-user-profile-tabs {
				ul { 
					text-align: center;
	    		max-width: 320px;
	    		margin: 0 auto 30px;
				}
			}
		}
	}
}