.page-progress {
  #page-title {
    display: none;
  }
}

.bingo-progress-page {
  background: $purple;
  color: $white;
  h1#title,.progress-wrap > div:not(.bingo-progress-main) * {
    color: inherit;
  }
  .user-info {
    color: $purple;
    background: $footer-color;
    padding: 20px;
    border-radius: 10px;
     .uname {
       @extend h3;
       color: $purple !important;
     }
  }

  .activities {
    position: relative;
       color: $purple;
    border-radius: 10px;
    > div {
       background: $white;
       height: 100%;
       padding: 20px;
    }


     *:not(button) {
       color: inherit;
     }
    .chosen-container {
            @include primary_fsize;

            a.chosen-single {
              height: auto;
              border-radius: 0;

              .cs-default & {
                color: $purple;
                border: 1px solid $purple;
              }

              .cs-classic & {
                color: $medium-blue;
                border: 1px solid $medium-blue;
              }

              .cs-elegant & {
                color: $green;
                border: 1px solid $green;
              }

              background: $white;
              border: 1px solid $link-color;

              > div {
                width: 30px;

                .cs-default & {
                  background: $purple;
                }

                .cs-classic & {
                  background: $medium-blue;
                }

                .cs-elegant & {
                  background: $green;
                }

                b {
                  background: none;
                  border-left: 7px solid transparent;
                  border-right: 7px solid transparent;
                  display: inline-block;
                  height: 0;
                  width: 0;
                  border-top: 7px solid white;
                  margin-left: 9px;
                  position: relative;
                  top: -1px;
                }
              }
            }
          }
    form .form-item {
     &.form-type-select.form-item-activity, &.form-type-date-popup.form-item-date {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        width: 100%;
          label {
            flex: 0 0 150px;
          }
          > div , select {
             flex: 0 0 calc(100% - 150px);
              .form-item-date-date {
                 label,input {
                  display: inline-block;
                  margin-right: 10px;
                 }
              }
          }
      }
    }
  }
  .bingo-card,.non-bingo-card {
    td {
      border: 1px solid $secondary-background !important;
    }
    tr, td {
       background: $white;
        &.filled-cell {
          background: #A3EEF6;
           * {
             color: $purple;
             @include semibold-font;
             width: 100%;
             display: inline-block;
           }
        }
    }
  }
  .pager {
    a {
      text-align: center;
    }
  }
}
