//view filter block common in review pages
.view-booklist-page-view,
.book-reviews-page, .view-movie-review,
.view-music-review-listing,
.view--video-game-review,
.view--individual-activities-listing {
  ul {
    list-style: none;
    margin-left: 0;

    li {
      margin-left: inherit;
    }
  }

  .view-filters {
    margin-top: 23px;



    .cs-default & {
      background: $secondary-background;
      padding: 8px 24px 4px;
      color: $white;
      @include body-font;
       border-radius: 0;

    }

    .cs-classic & {
      background: $medium-blue;
      padding: 8px 24px 4px;
      background-size: cover;
    }

    .cs-elegant & {
      background: $orange;
      padding: 8px 24px 4px;
      background-size: cover;
    }

    label {
      color: $white;
    }

    overflow: visible;
  }

  .views-exposed-widgets {
    width: calc(100% + 10px);
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    align-content: center;
    align-items: center;
  }

  .views-exposed-widget {
    flex: 0 0 calc(25% - 10px);
    -ms-box-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    -ms-padding-right: 1%;
    padding: 0;
    float: none;
    margin-right: 10px;
  }

  .chosen-container {
    .chosen-single {
      border-radius: 8px;
      &:hover, &:focus {
        border-radius: 8px;
      }

      b {
        visibility: hidden;
        position: relative;

        &:after {
          content: "";
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;

          .cs-default & {
            border-top: 5px solid $purple;
          }

          .cs-classic & {
            border-top: 5px solid $medium-blue;
          }

          .cs-elegant & {
            border-top: 5px solid $gray;
          }

          position: absolute;
          top: 45%;
          display: block;
          left: 0;
          visibility: visible;
        }
      }
    }
  }

  .views-submit-button {
    button.form-submit {
      height: 31px;
      margin-top: 21px;
    }
  }

  .form-submit {
    @extend .main-button;
  }

  .chosen-container {
    width: 100% !important;

    &.chosen-with-drop.chosen-container-active {
      a {
        box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
        border: none;
      }
    }

    .chosen-drop {
      position: absolute;
      width: 100%;
      top: calc(100% - 5px);

      @extend .primary-color;
    }

    a {
      @extend .main-button;
      border: none;
      height: auto;
      width: 100%;
      display: inline-block;
      border: none;
      position: relative;
    }
  }
}

//side bar menu common in review pages
.block-menu-menu-book-reviews-sidebar-menu-f {
  .menu {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
      width: 100%;
      margin: 0;
      padding: 0;

      a {
        @include button-font;

        width: 100%;
        display: inline-block;
        position: relative;
        padding: 10px 10px 10px 60px;
        border-bottom: 1px solid #f2f2f2;
        color: $purple;

        &:after {
          content: "";
          width: 48px;
          height: 100%;
          background: url("../images/adult-spritesheet");
          display: block;
          position: absolute;
          left: 10px;
          top: 0;
        }

        &.activity-review {
          .page-activities-listing.cs-default & {
            background: $white;

          }

          .page-activities-listing.cs-classic & {
            background: $white;
            color: $dark-blue;

            &:after {
              background-position: 0px -409px;
            }
          }

          .page-activities-listing.cs-elegant & {
            background: $white;
            color: $orange;

            &:after {
              background-position: 0px -803px;
            }
          }

          &:after {
           background-position: 0px -1672px;;
          }
        }

        &.book-review {
          &:after {
            background-position: -3px -1933px;
          }
        }

        &.booklist-review {
          &:after {
            background-position: -3px -1738px;
          }
        }

        &.movie-review {
          &:after {
            background-position: -4px -1802px;
          }
        }

        &.music-review {
          &:after {
            background-position: -4px -1866px;
          }
        }

        &.video-review {
          &:after {
            background-position: -8px -2003px;
          }
        }

        .cs-default & {
          background: $footer-color;

          &:hover, &:focus, &.active {
            background: $white;
          }
        }

        .cs-classic & {
          background: $dark-blue;

          &:hover, &:focus, &.active {
            background: $white;
            color: $dark-blue;
          }

          &.activity-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: 0px -409px;
              }
            }
          }

          &.book-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -3px -543px;
              }
            }
          }

          &.booklist-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -3px -475px;
              }
            }
          }

          &.movie-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -4px -608px;
              }
            }
          }

          &.music-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -4px -669px;
              }
            }
          }

          &.video-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -8px -739px;
              }
            }
          }
        }

        .cs-elegant & {
          background: $orange;

          &:hover, &:focus, &.active {
            background: $white;
            color: $orange;
          }

          &.activity-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: 0px -803px;
              }
            }
          }

          &.book-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -3px -938px;
              }
            }
          }

          &.booklist-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -3px -870px;
              }
            }
          }

          &.movie-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -4px -1003px;
              }
            }
          }

          &.music-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -4px -1066px;
              }
            }
          }

          &.video-review {
            &:hover, &:focus, &.active {
              &:after {
                background-position: -8px -1136px;
              }
            }
          }
        }
      }
    }
  }
}

h2.reviews-title, .view-booklist-slideshow .view-header h1 {
  @extend h1;
}

.section-movie-review,
.section-music-review,
.section-video-game-review,
.page-activities-list,
.page-activities-listing {
  #page-title {
    display: none;
  }
}

.common-review-wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  @include button-font;

  > div {
    margin-bottom: 10px;
  }

  > div:not(.body, .date) {
    font-family: inherit;

    * {
      font-family: inherit;
    }

    margin-bottom: 10px;
  }

  > div:not(.title) {
    padding-left: 22px;
  }



  .title {
    width: 100%;
    display: block;

    > div {
      float: left;

      &:nth-of-type(1) {
        width: 70%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &.likes {
        width: 30%;
        text-align: right;
      }
    }
  }

  .review-by-user {
    > div {
      margin-top: 10px;
      margin-bottom: 10px;
      display: inline-block;

      &.views-field-field-user-avatar {
        margin-left: 5px;
        margin-right: 5px;
        img {
          width: 32px;
          height: 32px;
          object-fit: contain;
        }
      }
    }
  }

  .body {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.activity-list-wrapper {
  a {
    @include bold-font;

    margin-top: 15px;
    display: inline-block;
  }
}

.button {
  color: inherit;
}

.view-reviews-page-views, .view-booklist-page-left-side-bar {
  .view-header {
    h3 {
      @extend .stroke-sidebar;

      padding-left: 0;
    }

    h5 {
      @include bold-font;
    }
  }

  .view-content {
    ol {
      list-style: none;

      .views-row {
        margin-bottom: 10px;

        .title {
          font-weight: normal;

          span a {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.view-footer .activity-desc {
  margin-bottom: 20px;
}
.block-teen-reward-page {
  padding: 20px;
    .cs-default & {
    @extend .yellow;
    color: $purple;
  }
  .cs-classic & {
    @extend .light-blue;
    color: $dark-blue;
  }
  .cs-elegant & {
    @extend .yellow-btn-elegant;
    color: $black;
  }
  .form-type-select {
           display: flex;
           display: -webkit-flex;
           flex-wrap: wrap;
           label,select,> div {

           }
           label {
             @extend .primary-color;
             @include primary_fsize;
             @include button-font;
           }
           .chosen-container {
             @include primary_fsize;
              a.chosen-single {
                 height: auto;
                 border-radius: 0;
                 .cs-default &{
                   color: $purple;
                   border: 1px solid $purple;
                 }
                 .cs-classic & {
                  color: $medium-blue;
                  border: 1px solid $medium-blue;
                 }
                 .cs-elegant & {
                   color: $green;
                   border: 1px solid $green;
                 }
                 background: $white;
                 border: 1px solid $link-color;
                  > div {
                     width: 30px;
                     .cs-default & {
                      background: $purple;
                     }
                     .cs-classic & {
                      background: $medium-blue;
                     }
                     .cs-elegant & {
                      background: $green;
                     }
                     b {
                       background: none;
                       border-left: 7px solid transparent;
                       border-right: 7px solid transparent;
                       display: inline-block;
                       height: 0;
                       width: 0;
                       border-top: 7px solid white;
                       margin-left: 9px;
                       position: relative;
                       top: -1px;
                     }
                  }
              }
           }
        }
}
.page-reviews {
  .sidebar-activity {
    .view-reviews-page-views {
      margin-top: 20px;
    }
  }
}

/*----------------css for movie,music,videogame-review---------------------*/
  .node-type-movie-review, .node-type-music-review,
  .node-type-video-game-review {
    #page-title {
      display: none;
    }
    .img_review {
      width: 25%;
      float: left;
      table {
        border: none;
        tbody {
          border-top: none;
        }
      }
    }
    .review_movie, .review_music, .review_videogame {
      width: 75%;
      float: left;
    }
    .created, .avatar {
      margin-right: 7px;
      float: left;
    }
    .avatar {
      height: 32px;
      width: 32px;
      object-fit: contain;
    }
    .date_created {
      margin: 12px 0 10px 0;
    }
  }
  .review_movie, .review_music, .review_videogame {
    .movie-review, .music-review, .videogame-review {
      .reviewer {
        @extend h5;
      }
    }
  }
  .movielikefollow-wrap, .musiclikefollow-wrap, .vidiogamelikefollow-wrap {
    margin-bottom: 15px;
    a {
      @extend .button;
    }
    .movie-likes, .music-likes, .videogame-likes {
      float: left;
      margin-right: 20px;
    }
    .like-here {
      a {
        position: relative;
        padding-right: 30px;
        &:after {
          content: "";
          width: 25px;
          height: 25px;
          display: inline-block;
          background: url("../images/star-sprite") no-repeat scroll center center;
          position: absolute;
          right: 7px;
          top: 0px;
          .cs-default & {
            background-position: -16px -204px;
          }
          .cs-classic & {
            background-position: -16px -147px;
          }
          .cs-elegant & {
            background-position: -16px -204px;
          }
        }
      }
    }
  }

  /*-----------------------css for activity review---------------------*/
  .node-type-review-activity {
    #page-title {
      margin-left: 0;
      width: 100%;
    }
    .created, .avatar {
      margin-right: 7px;
      float: left;
    }
    .avatar {
      height: 32px;
      width: 32px;
      object-fit: contain;
    }
    .date_created {
      margin: 12px 0 10px 0;
      clear: both;
    }
  }
  .activitylikefollow-wrap {
    margin-bottom: 15px;
    a {
      @extend .button;
    }
    .activity-likes {
      float: left;
      margin-right: 20px;
    }
    .like-here {
      a {
        position: relative;
        padding-right: 30px;
        &:after {
          content: "";
          width: 25px;
          height: 25px;
          display: inline-block;
          background: url("../images/star-sprite") no-repeat scroll center center;
          position: absolute;
          right: 7px;
          top: 0px;
          .cs-default & {
            background-position: -16px -204px;
          }
          .cs-classic & {
            background-position: -16px -147px;
          }
          .cs-elegant & {
            background-position: -16px -204px;
          }
        }
      }
    }
  }
  .node-review-activity {
    .activity-review {
      .reviewer {
        @extend h5;
      }
    }
  }
  /*-----------------------css ends for activity review---------------------*/


  @media screen and (max-width: 767px) {
    .node-type-movie-review,.node-type-music-review, 
    .node-type-video-game-review {
      .img_review {
        width: 100%;
        table {
          width: 100%;
          img {
            display: block;
            margin: auto;
          }
        }
      }
      .review_movie, .review_music, .review_videogame {
        width: 100%;
      }
    }
  }
/*----------------css ends for movie,music,videogame-review---------------------*/

