/*
Sass::SyntaxError: ".activity-page-kids .view-header p:nth-of-type(1)" failed to @extend "h1".
The selector "h1" was not found.
Use "@extend h1 !optional" if the extend should be able to fail.


Backtrace:
/var/www/html/chillco_new/docroot/sites/all/themes/kids_programme/scss/pages/activity.scss:15
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:62:in `block in check_extends_fired!'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `block in each_value'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `each'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/util/subset_map.rb:105:in `each_value'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:51:in `check_extends_fired!'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/visitors/extend.rb:16:in `visit'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/root_node.rb:39:in `css_tree'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/mukeshk/.rvm/gems/ruby-2.3.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".activity-page-kids .view-header p:nth-of-type(1)\" failed to @extend \"h1\".\A The selector \"h1\" was not found.\A Use \"@extend h1 !optional\" if the extend should be able to fail.\A "; }
