body {
  font-family: Helvetica, Arial, sans-serif;
}

.wf-active body {
  font-family: 'BetecknaLowerCaseBold', Helvetica, Arial, Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  visibility: visible;
}

.wf-active strong {
  font-family: 'BetecknaLowerCaseMedium', Helvetica, Arial, Verdana, sans-serif;
}

.wf-active em {
  font-family: 'BetecknaLowerCaseItalic', Helvetica, Arial, Verdana, sans-serif;
}
