//grid layout//
html {
	background: $grey;
}
body {
	width: 100%;
	height: 100%;
	 @include arialregular;
	-webkit-font-smoothing: antialiased;
	 font-size: 18px; 
	 line-height: 1.5;
	color: $black;
	@include boxshadow;
	background: $white;
	&.front, &.not-front {
		max-width: 1280px;
		margin: 0 auto;


	}
	.main {
			margin-top: -5px;
		}
	input[type="password"] {
		@include mclaren;
	}
	.alert-box.success {
		opacity: 1;
		@include mclaren;
		 a {
		 	@include mclaren;
		 	opacity: 1;
		 	color: $red !important;
		 	&.close {
		 		color: $white !important;
		 		opacity: 1;
		 		 &:hover {
		 		 	text-decoration: none !important;
		 		 }
		 	}
		 }
	}
}
.row {
	&.l-main {
		max-width: 94.6%;
		@media screen and (max-width: 767px) {
			max-width: 91.8%;
		}
	}
} 
.large-3 {
   @media screen and (min-width: 1026px) {
	width: 31.87%;
   }
   @media only screen and (min-width: 768px) and (max-width: 1025px) {
   	 width: 38%;
   	 padding-left: 0;
   	 padding-right: 0;
   }
   @media screen and (max-width: 767px) {
   	width: 100%;
   	display: inline-block;
   }
}
.large-9 {
	@media screen and (min-width: 1026px) {
	width: 68.12%;
}
   @media only screen and (min-width: 768px) and (max-width: 1025px) {
   	  width: 62%;
   	  padding-left: 0;
   	  padding-right: 0;
   }
 @media screen and (max-width: 767px) {
 	width: 100%;
 	display: inline-block;
 }
}
.pull-9 {
	@media  screen and (min-width: 1026px) {
		right: 68.4%;
	}
	@media only screen and (min-width: 768px) and (max-width: 1025px) {
		right: 63.4%;
	}
	@media screen and (max-width: 767px) {
		right: 0;
	}
}
.push-3 {
	@media  screen and (min-width: 1026px) {
		left: 31.9%;
	}
	@media only screen and (min-width: 768px) and (max-width: 1025px) {
		left: 38.9%;
	}
	@media screen and (max-width: 767px) {
		left: 0;
	}
}
.main.columns, .sidebar-first.columns {
	@media screen and (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
	}
}