
/* $Id openbadging_forward.css */

.openbadging_forward_link {
  position:relative;
  bottom: 0.5em;
  float:right;
  margin-left: 1em;
  margin-right: 3em;
}

.openbadging_forward_syslink {
  margin-right: 1em;
}

img.openbadging-forward-icon {
  vertical-align: bottom;
}

img.openbadging-forward-icon-margin {
  margin-right: 4px;
  *margin-top: 0px;
}

label.printmail-label {
  width: 175px;
  float: left;
}

.page-openbadging-forward #page #main #block-system-main .form-item{
  float: left;
  clear: both;  
}
.page-openbadging-forward #page #main #block-system-main .form-actions{
  float: left;
  clear: both;
}
.page-openbadging-forward #page #main #block-system-main label{
  margin-top: 0px;
}