.bootbox.modal.fade.bootbox-confirm.in {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
}
.bootbox.modal.fade.bootbox-confirm.in .modal-dialog {
	width: 100%;
	max-width: 60%;
	margin: auto;
	background: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 50px 20px;
	position: relative;
	top: 50%;

}
.bootbox.modal.fade.bootbox-confirm.in .modal-dialog .bootbox-close-button.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	/*border-radius: 73%;*/	
	border: none;
	background: transparent;
	font-size: 36px;
	color: red;
}
.bootbox.modal.fade.bootbox-confirm.in .modal-dialog .bootbox-body {
	font-size: 18px;
}
.bootbox.modal.fade.bootbox-confirm.in .modal-dialog .modal-footer .btn {
	float: right;
}