.bingo-card, .non-bingo-card {
	width: 45%;
	display:inline-block;
	text-align:  center;
}

.bingo-card table td{
	background: blue;
}
.bingo-card td {
		width : 150px;
		height: 150px;
		border: 2px solid;
		border-color:  #ffffff;
}

.filled-cell span{
	display: block;
	width: 100%;
}

.bingo-card .filled-cell {
	background: purple;
	color: #ffffff;
	text-align: center;
	/*height: auto;*/
	/*background: url("/sites/all/themes/libraryzurb/images/libraryzurb/header-background.png");*/
}

.non-bingo-card .filled-cell {
	background: purple;
	color: #ffffff;
	text-align: center;
	/*height: auto;*/
	/*background: url("/sites/all/themes/libraryzurb/images/libraryzurb/header-background.png");*/
}
.non-bingo-card table td{
	background: blue;
}
.non-bingo-card td {
		width : 450px;
		height: 450px;
		border: 2px solid;
		border-color:  #ffffff;
}

.report-acivity {
	width: 450px;
	background: blue;
	margin: 20px 50px;
	border: 2px solid;
    border-color: #FFFFFF;
}
.report-acivity .chosen-container{
	width: 90% !important;
	/*text-align: center;*/
}

.block-play-progress-bingo-cards{
	padding: 0px 20px;
}

.block-play-progress-bingo-cards label{
	color: #ffffff;
}

.user-info{
	width: 100%;
	background: blue;
	color: #ffffff;
}

.user-points{
	/*text-align: right;*/
	padding: 20px 20px ;
	color: #ffffff;
	display: inline-block;
	/*width: 15%*/
}

.rewards-info{
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding: 20px 20px ;
}
.avatar-block{
	width: 60%;
	display: inline-block;
	padding: 20px 20px ;
}
.bingo-progress-page{
	background: skyblue;
	color: #ffffff !important;
}
.bingo-progress-main{
	text-align: center;
	margin: 50px;
}
.report-acivity h3{
	color: #ffffff;
	padding: 20px;
}
.page-title {
	width: 50%;
	padding: 20px;
	color: #ffffff;
	display: inline-block;
}

.print-pdf {
    width: 25%;
    display: inline-block;
    float: right;
}
.print-pdf .printBtn{
	padding: 20px;
}

.progress-wrap h2, p{
	padding-left:  20px !important;

}

.progress-wrap{
	color: #ffffff;
}