/*.bingo-card, .non-bingo-card {
	width: 45%;
	display:inline-block;
	text-align:  center;
}

.bingo-card table td{
	background: blue;
}
.bingo-card td {
		width : 150px;
		height: 150px;
		border: 2px solid;
		border-color:  #ffffff;
}

.filled-cell span{
	display: block;
	width: 100%;
}

.bingo-card .filled-cell {
	background: purple;
	color: #ffffff;
	text-align: center;

}

.non-bingo-card .filled-cell {
	background: purple;
	color: #ffffff;
	text-align: center;

}
.non-bingo-card table td{
	background: blue;
}
.non-bingo-card td {
		width : 450px;
		height: 450px;
		border: 2px solid;
		border-color:  #ffffff;
}

.report-acivity {
	width: 450px;
	background: blue;
	margin: 20px 50px;
	border: 2px solid;
    border-color: #FFFFFF;
}
.report-acivity .chosen-container{
	width: 90% !important;

}

.block-play-progress-bingo-cards{
	padding: 0px 20px;
}

.block-play-progress-bingo-cards label{
	color: #ffffff;
}

.user-info{
	width: 100%;
	background: blue;
	color: #ffffff;
}

.user-points{

	padding: 20px 20px ;
	color: #ffffff;
	display: inline-block;

}

.rewards-info{
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding: 20px 20px ;
}
.avatar-block{
	width: 60%;
	display: inline-block;
	padding: 20px 20px ;
}
.bingo-progress-page{
	background: skyblue;
	color: #ffffff !important;
}
.bingo-progress-main{
	text-align: center;
	margin: 50px;
}
.report-acivity h3{
	color: #ffffff;
	padding: 20px;
}
.page-title {
	width: 50%;
	padding: 20px;
	color: #ffffff;
	display: inline-block;
}

.print-pdf {
    width: 25%;
    display: inline-block;
    float: right;
}
.print-pdf .printBtn{
	padding: 20px;
}

.progress-wrap h2, p{
	padding-left:  20px !important;

}

.progress-wrap{
	color: #ffffff;
}*/
.bingo-progress-page {
	width: 100%;
	display: inline-block;
	margin-bottom: 25px;
	box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
	padding: 15px;
}
.bingo-progress-page .title {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;

}
.bingo-progress-page .title > div {
	flex: 0 0 50%;
}
.bingo-progress-page .title > div.print-pdf {
	text-align: right;
	margin-top: 10px;
}
.bingo-progress-page .user-info {
	display: flex;
	width: 100%;
	align-items: center;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
}

.bingo-progress-page .user-info .avatar-block {
	flex: 0 0 60%;
}
.bingo-progress-page .user-info .avatar-block > div{
	display: table-cell;
	vertical-align: bottom;
	padding-left: 10px;

}
.bingo-progress-page .user-info .user-points {
	flex: 0 0 20%;
}
.bingo-progress-page .user-info .rewards-info {
	flex: 0 0 20%;
}
.bingo-progress-page .progress-wrap {
	margin-top: 25px;
}
.bingo-progress-page .bingo-progress-main {
	display: flex;
	width: 100%;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.bingo-progress-page .bingo-progress-main > div {
	flex: 0 0 50%;
	margin-bottom: 25px;
}
.bingo-progress-page .bingo-progress-main > div:nth-child(2n) {
	padding-left: 10px;
}
.bingo-progress-page .bingo-progress-main > div:nth-child(2n + 1) {
	padding-right: 10px;
}
.bingo-progress-page .bingo-progress-main > div  table {
	width: 100%;
	display: table;
}
.bingo-progress-page .bingo-progress-main > div table tr {
	width: 100%;
	display: table-row;
}
.bingo-progress-page .bingo-progress-main > div table tr td {
	width: 33.33%;
	display: table-cell;
	height: 150px;
	border: 1px solid #000;
}
.bingo-progress-page .bingo-progress-main .non-bingo-card table tr td {
	height: calc(150px * 3);
	text-align: center;
}
