@media print {
  /*------------variables--------------*/
  @import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,600,700|PT+Sans:400,700");
  @import url("https://fonts.googleapis.com/css?family=Exo+2:400,500,600|Raleway|Roboto:400,700|Sniglet|Special+Elite");
  /*------------variables--------------*/
  /*------------------mixin-----------------*/
  /*------------------mixin-----------------*/
  /*------------------common-----------------*/
  /* line 157, ../scss/print.scss */
  .elegant-btn-hover, .cs-elegant .main-button:hover, .cs-elegant .button:hover, .cs-elegant button:hover, .cs-elegant .main-button:focus, .cs-elegant .button:focus, .cs-elegant button:focus {
    background: #fae714;
  }

  /* line 161, ../scss/print.scss */
  .classic-btn-hover, .cs-classic .main-button:hover, .cs-classic .button:hover, .cs-classic button:hover, .cs-classic .main-button:focus, .cs-classic .button:focus, .cs-classic button:focus {
    background: #9ffafe;
  }

  /* line 165, ../scss/print.scss */
  .black {
    background: #000;
  }

  /* line 169, ../scss/print.scss */
  .white-text, .stroke-sidebar, .primary-background, .yellow-commonblock, .cs-classic .msg-button, .cs-elegant .msg-button, .cs-classic .top-menu-button, .cs-elegant .top-menu-button {
    color: #fff;
  }

  /* line 173, ../scss/print.scss */
  .yellow-text {
    color: #f6f45a;
  }

  /* line 177, ../scss/print.scss */
  .link-text {
    color: #2ba6cb;
  }

  /* line 181, ../scss/print.scss */
  .black-text {
    color: #000;
  }

  /* line 185, ../scss/print.scss */
  .orange, .cs-elegant .msg-button.new {
    background: #ff5714;
  }

  /* line 189, ../scss/print.scss */
  .green, .cs-elegant .primary-background {
    background: #6eeb83;
  }

  /* line 193, ../scss/print.scss */
  .white {
    background: #fff;
  }

  /* line 197, ../scss/print.scss */
  .green-gradiant {
    background: #7cb301;
    background: -webkit-radial-gradient(#7cb301, #6d9c05, #74a703);
    background: -moz-radial-gradient(#7cb301, #6d9c05, #74a703);
    background: radial-gradient(#7cb301, #6d9c05, #74a703);
  }

  /* line 204, ../scss/print.scss */
  .purple, .cs-default .primary-background {
    background: #16316e;
  }

  /* line 208, ../scss/print.scss */
  .msg-blue {
    background: #358aa7;
  }

  /* line 212, ../scss/print.scss */
  .blue {
    background: #1be7ff;
  }

  /* line 216, ../scss/print.scss */
  .light-blue, .cs-classic .main-button, .cs-classic .button, .cs-classic button {
    background: #a8dadc;
  }

  /* line 220, ../scss/print.scss */
  .medium-blue, .cs-classic .primary-background {
    background: #457b9d;
  }

  /* line 224, ../scss/print.scss */
  .dark-blue, .cs-classic .msg-button, .cs-classic .top-menu-button {
    background: #1d3557;
  }

  /* line 228, ../scss/print.scss */
  .yellow-btn-hover-default, .cs-default .main-button:hover, .cs-default .button:hover, .cs-default button:hover, .cs-default .main-button:focus, .cs-default .button:focus, .cs-default button:focus, .cs-default .msg-button:hover, .cs-default .msg-button:focus, .yellow-btn-default {
    background: #feed40;
  }

  /* line 232, ../scss/print.scss */
  .yellow-btn-elegant, .cs-elegant .main-button, .cs-elegant .button, .cs-elegant button {
    background: #e4ff1a;
  }

  /* line 236, ../scss/print.scss */
  .gray-btn, .cs-elegant .msg-button, .cs-elegant .top-menu-button {
    background: #666666;
  }

  /* line 240, ../scss/print.scss */
  .mustard-yellow, .yellow-commonblock {
    background: #e8aa14;
  }

  /* line 244, ../scss/print.scss */
  .red {
    background: #e63946;
  }

  /* line 248, ../scss/print.scss */
  .yellow, .cs-default .main-button, .cs-default .button, .cs-default button {
    background: #f6f45a;
  }

  /* line 253, ../scss/print.scss */
  .border-none, .teen-button, .button, button, .main-button, .msg-button, .top-menu-button {
    border: none;
  }

  /* line 265, ../scss/print.scss */
  .stroke-main {
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    margin: 0;
    width: 100%;
    padding-top: 14px;
    padding-left: 35px;
    text-transform: capitalize;
  }
  /* line 55, ../scss/print.scss */
  .cs-default .stroke-main {
    font-family: "Bitter", serif;
    font-weight: 700;
  }
  /* line 59, ../scss/print.scss */
  .cs-classic .stroke-main {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
  }
  /* line 63, ../scss/print.scss */
  .cs-elegant .stroke-main {
    font-family: "Sniglet", cursive;
    font-weight: 400;
  }
  /* line 276, ../scss/print.scss */
  .stroke-main * {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
  }
  /* line 285, ../scss/print.scss */
  .cs-default .stroke-main {
    font-size: 26px;
    color: #fff;
  }
  /* line 298, ../scss/print.scss */
  .cs-classic .stroke-main {
    font-size: 28px;
    color: #fff;
  }
  /* line 312, ../scss/print.scss */
  .cs-elegant .stroke-main {
    font-size: 28px;
    color: #333333;
  }
  /* line 324, ../scss/print.scss */
  .stroke-sidebar {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    width: 100%;
    margin: 0;
    line-height: 1.4;
    text-transform: capitalize;
    padding-top: 14px;
    padding-left: 30px;
  }
  /* line 55, ../scss/print.scss */
  .cs-default .stroke-sidebar {
    font-family: "Bitter", serif;
    font-weight: 700;
  }
  /* line 59, ../scss/print.scss */
  .cs-classic .stroke-sidebar {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
  }
  /* line 63, ../scss/print.scss */
  .cs-elegant .stroke-sidebar {
    font-family: "Sniglet", cursive;
    font-weight: 400;
  }
  /* line 336, ../scss/print.scss */
  .cs-default .stroke-sidebar {
    font-size: 24px;
  }
  /* line 344, ../scss/print.scss */
  .cs-classic .stroke-sidebar {
    font-size: 25px;
    color: #fff;
  }
  /* line 355, ../scss/print.scss */
  .cs-elegant .stroke-sidebar {
    color: #333333;
    font-size: 25px;
  }
  /* line 365, ../scss/print.scss */
  .primary-background {
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }
  /* line 374, ../scss/print.scss */
  .cs-elegant .primary-background {
    color: #333333;
  }
  /* line 94, ../scss/print.scss */
  .cs-default .primary-background {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 98, ../scss/print.scss */
  .cs-classic .primary-background {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
  }
  /* line 102, ../scss/print.scss */
  .cs-elegant .primary-background {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  /* line 94, ../scss/print.scss */
  .cs-default .primary-background {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 98, ../scss/print.scss */
  .cs-classic .primary-background {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
  }
  /* line 102, ../scss/print.scss */
  .cs-elegant .primary-background {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  /* line 392, ../scss/print.scss */
  .view-content {
    position: relative;
  }
  /* line 395, ../scss/print.scss */
  .view-content .owl-controls {
    margin-top: 0;
    width: 100%;
    position: absolute;
    top: 40%;
    left: -26px;
    height: 0;
  }
  /* line 403, ../scss/print.scss */
  .view-content .owl-controls .owl-pagination {
    display: none;
  }
  /* line 407, ../scss/print.scss */
  .view-content .owl-controls .owl-buttons {
    width: calc(100% + 52px);
    position: relative;
    display: inline-block;
    height: 0;
  }
  /* line 413, ../scss/print.scss */
  .view-content .owl-controls .owl-buttons > div {
    margin: 0;
    border-radius: 0;
    color: transparent;
    background: transparent url("../images/teen-spritesheet");
    padding: 0;
    opacity: 1;
    height: 50px;
  }
  /* line 423, ../scss/print.scss */
  .view-content .owl-controls .owl-buttons .owl-prev {
    float: left;
    background-position: -20px -1120px;
  }
  /* line 427, ../scss/print.scss */
  .cs-elegant .view-content .owl-controls .owl-buttons .owl-prev {
    background-position: -20px -1035px;
  }
  /* line 432, ../scss/print.scss */
  .view-content .owl-controls .owl-buttons .owl-next {
    float: right;
    background-position: -17px -3109px;
  }
  /* line 436, ../scss/print.scss */
  .cs-elegant .view-content .owl-controls .owl-buttons .owl-next {
    background-position: -17px -3023px;
  }

  /* line 445, ../scss/print.scss */
  .b-padding {
    padding: 20px 35px 18px;
  }
  /* line 448, ../scss/print.scss */
  .b-padding p {
    margin: 0;
  }

  /* line 454, ../scss/print.scss */
  .margin-0 {
    margin: 0;
  }

  /* line 459, ../scss/print.scss */
  .yellow-commonblock {
    padding: 14px 25px 15px;
    overflow: hidden;
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }
  /* line 94, ../scss/print.scss */
  .cs-default .yellow-commonblock {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 98, ../scss/print.scss */
  .cs-classic .yellow-commonblock {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
  }
  /* line 102, ../scss/print.scss */
  .cs-elegant .yellow-commonblock {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  /* line 94, ../scss/print.scss */
  .cs-default .yellow-commonblock {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 98, ../scss/print.scss */
  .cs-classic .yellow-commonblock {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
  }
  /* line 102, ../scss/print.scss */
  .cs-elegant .yellow-commonblock {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  /* line 476, ../scss/print.scss */
  .brush-stroke {
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
  }
  /* line 481, ../scss/print.scss */
  .cs-default .brush-stroke {
    background-image: url("../images/yellowbrushstroke_sm.png");
    padding: 12px 10px 14px 40px;
    color: #16316e;
  }
  /* line 490, ../scss/print.scss */
  .cs-classic .brush-stroke {
    background-image: url("../images/redbrushstroke_sm.png");
    color: #fff;
    padding: 7px 10px 14px 40px;
  }
  /* line 499, ../scss/print.scss */
  .cs-elegant .brush-stroke {
    background-image: url("../images/bluebrushstroke_sm.png");
    color: #333333;
    padding: 10px 10px 14px 40px;
  }
  /* line 513, ../scss/print.scss */
  .cs-default .primary-color, .cs-default h1, .cs-default h2, .cs-default h3, .cs-default .bingo-progress-page .user-info .uname, .bingo-progress-page .user-info .cs-default .uname, .cs-default h4, .cs-default h5 {
    color: #000;
  }
  /* line 517, ../scss/print.scss */
  .cs-classic .primary-color, .cs-classic h1, .cs-classic h2, .cs-classic h3, .cs-classic .bingo-progress-page .user-info .uname, .bingo-progress-page .user-info .cs-classic .uname, .cs-classic h4, .cs-classic h5 {
    color: #1d3557;
  }
  /* line 521, ../scss/print.scss */
  .cs-elegant .primary-color, .cs-elegant h1, .cs-elegant h2, .cs-elegant h3, .cs-elegant .bingo-progress-page .user-info .uname, .bingo-progress-page .user-info .cs-elegant .uname, .cs-elegant h4, .cs-elegant h5 {
    color: #333333;
  }

  /* line 527, ../scss/print.scss */
  .secondary-background {
    background-repeat: repeat;
  }
  /* line 528, ../scss/print.scss */
  .cs-default .secondary-background, .cs-classic .secondary-background {
    background: #059ab2;
  }
  /* line 532, ../scss/print.scss */
  .cs-elegant .secondary-background {
    background: #e8aa14;
  }

  /* line 540, ../scss/print.scss */
  .likes {
    padding-left: 14px;
    padding-top: 5px;
  }
  /* line 544, ../scss/print.scss */
  .likes span {
    padding-right: 25px;
    position: relative;
  }
  /* line 548, ../scss/print.scss */
  .likes span:after {
    content: "";
    width: 21px;
    height: 21px;
    background: url("../images/adult-spritesheet");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
  }
  /* line 559, ../scss/print.scss */
  .cs-default .likes span:after {
    background-position: -21px -1134px;
  }
  /* line 563, ../scss/print.scss */
  .cs-classic .likes span:after {
    background-position: -20px -152px;
  }
  /* line 567, ../scss/print.scss */
  .cs-elegant .likes span:after {
    background-position: -20px -266px;
  }

  /* line 573, ../scss/print.scss */
  .bold-fonts {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }
  /* line 112, ../scss/print.scss */
  .cs-default .bold-fonts {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
  }
  /* line 116, ../scss/print.scss */
  .cs-classic .bold-fonts {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
  }
  /* line 120, ../scss/print.scss */
  .cs-elegant .bold-fonts {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }

  /*------------------common-----------------*/
  /*------------------Elements-----------------*/
  /* line 639, ../scss/print.scss */
  a {
    color: #2ba6cb;
  }
  /* line 641, ../scss/print.scss */
  a:hover {
    text-decoration: underline;
  }

  /* line 646, ../scss/print.scss */
  h1, h2, h3, .bingo-progress-page .user-info .uname, h4, h5 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
  }
  /* line 55, ../scss/print.scss */
  .cs-default h1, .cs-default h2, .cs-default h3, .cs-default .bingo-progress-page .user-info .uname, .bingo-progress-page .user-info .cs-default .uname, .cs-default h4, .cs-default h5 {
    font-family: "Bitter", serif;
    font-weight: 700;
  }
  /* line 59, ../scss/print.scss */
  .cs-classic h1, .cs-classic h2, .cs-classic h3, .cs-classic .bingo-progress-page .user-info .uname, .bingo-progress-page .user-info .cs-classic .uname, .cs-classic h4, .cs-classic h5 {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
  }
  /* line 63, ../scss/print.scss */
  .cs-elegant h1, .cs-elegant h2, .cs-elegant h3, .cs-elegant .bingo-progress-page .user-info .uname, .bingo-progress-page .user-info .cs-elegant .uname, .cs-elegant h4, .cs-elegant h5 {
    font-family: "Sniglet", cursive;
    font-weight: 400;
  }

  /* line 650, ../scss/print.scss */
  h1 {
    font-size: 28px;
  }
  /* line 651, ../scss/print.scss */
  .cs-default h1 {
    font-size: 28px;
  }
  /* line 668, ../scss/print.scss */
  h2 {
    font-size: 25px;
  }
  /* line 669, ../scss/print.scss */
  .cs-default h2 {
    font-size: 24px;
  }
  /* line 686, ../scss/print.scss */
  h3, .bingo-progress-page .user-info .uname {
    font-size: 22px;
  }
  /* line 692, ../scss/print.scss */
  h4 {
    font-size: 20px;
  }

  /* line 695, ../scss/print.scss */
  h5 {
    font-size: 17px;
  }

  /* line 698, ../scss/print.scss */
  ul, ol, dl {
    list-style-position: inside;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 26px;
  }
  /* line 94, ../scss/print.scss */
  .cs-default ul, .cs-default ol, .cs-default dl {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 98, ../scss/print.scss */
  .cs-classic ul, .cs-classic ol, .cs-classic dl {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
  }
  /* line 102, ../scss/print.scss */
  .cs-elegant ul, .cs-elegant ol, .cs-elegant dl {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }

  /* line 702, ../scss/print.scss */
  p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  /* line 94, ../scss/print.scss */
  .cs-default p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 98, ../scss/print.scss */
  .cs-classic p {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
  }
  /* line 102, ../scss/print.scss */
  .cs-elegant p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  /* line 705, ../scss/print.scss */
  .view-content p, .view-header p, .view-footer p {
    margin-bottom: 0;
  }

  /* line 710, ../scss/print.scss */
  li.progress {
    border: none;
    outline: none;
    padding: 0;
  }

  /* line 716, ../scss/print.scss */
  a:focus, button:focus {
    outline: none;
  }

  /* line 721, ../scss/print.scss */
  .view-footer button, .view-footer .button {
    margin-left: 0;
  }

  /* line 727, ../scss/print.scss */
  .primary-tabs .button-group li {
    margin-right: 10px;
  }

  /*------------------Elements-----------------*/
  /*------------------Buttons-----------------*/
  /* line 744, ../scss/print.scss */
  .button.small, button.small {
    font-size: 18px;
  }
  /* line 747, ../scss/print.scss */
  .button.radius, button.radius {
    border-radius: 8px !important;
  }

  /* line 753, ../scss/print.scss */
  .teen-button, .button, button, .main-button, .msg-button, .top-menu-button {
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 8px;
  }
  /* line 75, ../scss/print.scss */
  .cs-default .teen-button, .cs-default .button, .cs-default button, .cs-default .main-button, .cs-default .msg-button, .cs-default .top-menu-button {
    font-family: "Bitter", serif;
    font-weight: 400;
  }
  /* line 79, ../scss/print.scss */
  .cs-classic .teen-button, .cs-classic .button, .cs-classic button, .cs-classic .main-button, .cs-classic .msg-button, .cs-classic .top-menu-button {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
  }
  /* line 83, ../scss/print.scss */
  .cs-elegant .teen-button, .cs-elegant .button, .cs-elegant button, .cs-elegant .main-button, .cs-elegant .msg-button, .cs-elegant .top-menu-button {
    font-family: "Sniglet", cursive;
    font-weight: 400;
  }
  /* line 762, ../scss/print.scss */
  .cs-default .teen-button, .cs-default .button, .cs-default button, .cs-default .main-button, .cs-default .msg-button, .cs-default .top-menu-button {
    line-height: 1;
  }
  /* line 765, ../scss/print.scss */
  .cs-classic .teen-button, .cs-classic .button, .cs-classic button, .cs-classic .main-button, .cs-classic .msg-button, .cs-classic .top-menu-button {
    line-height: 22px;
  }
  /* line 768, ../scss/print.scss */
  .cs-elegant .teen-button, .cs-elegant .button, .cs-elegant button, .cs-elegant .main-button, .cs-elegant .msg-button, .cs-elegant .top-menu-button {
    line-height: 23px;
  }
  /* line 771, ../scss/print.scss */
  .teen-button:hover, .button:hover, button:hover, .main-button:hover, .msg-button:hover, .top-menu-button:hover {
    text-decoration: underline;
  }

  /* line 775, ../scss/print.scss */
  .main-button, .button, button {
    transition: all linear 0.5s;
  }
  /* line 778, ../scss/print.scss */
  .cs-default .main-button, .cs-default .button, .cs-default button {
    color: #16316e;
    padding: 8px 14px 5px;
  }
  /* line 787, ../scss/print.scss */
  .cs-classic .main-button, .cs-classic .button, .cs-classic button {
    color: #1d3557;
    padding: 4px 14px 5px;
  }
  /* line 795, ../scss/print.scss */
  .cs-elegant .main-button, .cs-elegant .button, .cs-elegant button {
    padding: 4px 14px;
    color: #333333;
  }

  /* line 804, ../scss/print.scss */
  .msg-button {
    position: relative;
  }
  /* line 807, ../scss/print.scss */
  .cs-default .msg-button.new:after {
    background-position: -20px -1209px;
  }
  /* line 812, ../scss/print.scss */
  .cs-default .msg-button.new, .cs-classic .msg-button.new {
    background: #c12bc6;
    color: #fff;
  }
  /* line 822, ../scss/print.scss */
  .cs-default .msg-button {
    background: #059ab2;
    color: #fff;
    padding: 7px 14px 6px 50px;
  }
  /* line 831, ../scss/print.scss */
  .cs-classic .msg-button {
    padding: 4px 14px 5px 50px;
  }
  /* line 837, ../scss/print.scss */
  .cs-elegant .msg-button {
    padding: 4px 14px 4px 50px;
  }
  /* line 842, ../scss/print.scss */
  .msg-button:after {
    content: "";
    width: 30px;
    height: 14px;
    position: absolute;
    left: 20px;
    top: 9px;
    background: url("../images/teen-spritesheet");
    background-position: -20px -1209px;
  }

  /* line 855, ../scss/print.scss */
  .cs-default .top-menu-button {
    background: #059ab2;
    color: #fff;
    padding: 7px 14px 6px;
  }
  /* line 860, ../scss/print.scss */
  .cs-classic .top-menu-button {
    padding: 4px 14px 5px;
  }
  /* line 866, ../scss/print.scss */
  .cs-elegant .top-menu-button {
    padding: 4px 14px 4px;
  }

  /*------------------Buttons-----------------*/
  /*------------------Page-print-----------------*/
  /* line 878, ../scss/print.scss */
  .page-progress #page-title {
    display: none;
  }
  /* line 882, ../scss/print.scss */
  .bingo-progress-page .avatar-image img {
    width: 20px !important;
    height: 20px !important;
    object-fit: contain;
  }
  .bingo-progress-page .title .print-pdf {
    display: none;
  }
  .bingo-progress-page .bingo-progress-main > div {
    flex: 0 0 30%;
  }
  .bingo-progress-page .bingo-progress-main .activities button {
    background-color: #feed40;
    color: #16316e;
    padding: 8px 14px 5px;
  }

  /* line 890, ../scss/print.scss */
  .bingo-progress-page {
    background: #16316e;
    color: #fff;
  }
  /* line 893, ../scss/print.scss */
  .bingo-progress-page h1#title, .bingo-progress-page .progress-wrap > div:not(.bingo-progress-main) * {
    color: inherit;
  }
  /* line 896, ../scss/print.scss */
  .bingo-progress-page .user-info {
    color: #16316e;
    background: #d9dde8;
    padding: 20px;
    border-radius: 10px;
  }
  /* line 901, ../scss/print.scss */
  .bingo-progress-page .user-info .uname {
    color: #16316e !important;
  }
  /* line 907, ../scss/print.scss */
  .bingo-progress-page .activities {
    position: relative;
    color: #16316e;
    border-radius: 10px;
  }
  /* line 911, ../scss/print.scss */
  .bingo-progress-page .activities > div {
    background: #fff;
    height: 100%;
    padding: 20px;
  }
  /* line 918, ../scss/print.scss */
  .bingo-progress-page .activities *:not(button) {
    color: inherit;
  }
  /* line 921, ../scss/print.scss */
  .bingo-progress-page .activities .chosen-container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    font-size: 17px;
    line-height: 26px;
  }
  /* line 94, ../scss/print.scss */
  .cs-default .bingo-progress-page .activities .chosen-container {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  /* line 98, ../scss/print.scss */
  .cs-classic .bingo-progress-page .activities .chosen-container {
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
  }
  /* line 102, ../scss/print.scss */
  .cs-elegant .bingo-progress-page .activities .chosen-container {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  /* line 924, ../scss/print.scss */
  .bingo-progress-page .activities .chosen-container a.chosen-single {
    height: auto;
    border-radius: 0;
    background: #fff;
    border: 1px solid #2ba6cb;
  }
  /* line 928, ../scss/print.scss */
  .cs-default .bingo-progress-page .activities .chosen-container a.chosen-single {
    color: #16316e;
    border: 1px solid #16316e;
  }
  /* line 933, ../scss/print.scss */
  .cs-classic .bingo-progress-page .activities .chosen-container a.chosen-single {
    color: #457b9d;
    border: 1px solid #457b9d;
  }
  /* line 938, ../scss/print.scss */
  .cs-elegant .bingo-progress-page .activities .chosen-container a.chosen-single {
    color: #6eeb83;
    border: 1px solid #6eeb83;
  }
  /* line 946, ../scss/print.scss */
  .bingo-progress-page .activities .chosen-container a.chosen-single > div {
    width: 30px;
  }
  /* line 949, ../scss/print.scss */
  .bingo-progress-page .activities .chosen-container a.chosen-single > div {
    background: #16316e;
  }
  /* line 961, ../scss/print.scss */
  .bingo-progress-page .activities .chosen-container a.chosen-single > div b {
    background: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 7px solid white;
    margin-left: 9px;
    position: relative;
    top: -1px;
  }
  /* line 977, ../scss/print.scss */
  .bingo-progress-page .activities form .form-item.form-type-select.form-item-activity, .bingo-progress-page .activities form .form-item.form-type-date-popup.form-item-date {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
  }
  /* line 983, ../scss/print.scss */
  .bingo-progress-page .activities form .form-item.form-type-select.form-item-activity label, .bingo-progress-page .activities form .form-item.form-type-date-popup.form-item-date label {
    flex: 0 0 150px;
  }
  /* line 986, ../scss/print.scss */
  .bingo-progress-page .activities form .form-item.form-type-select.form-item-activity > div, .bingo-progress-page .activities form .form-item.form-type-select.form-item-activity select, .bingo-progress-page .activities form .form-item.form-type-date-popup.form-item-date > div, .bingo-progress-page .activities form .form-item.form-type-date-popup.form-item-date select {
    flex: 0 0 calc(100% - 150px);
  }
  /* line 989, ../scss/print.scss */
  .bingo-progress-page .activities form .form-item.form-type-select.form-item-activity > div .form-item-date-date label, .bingo-progress-page .activities form .form-item.form-type-select.form-item-activity > div .form-item-date-date input, .bingo-progress-page .activities form .form-item.form-type-select.form-item-activity select .form-item-date-date label, .bingo-progress-page .activities form .form-item.form-type-select.form-item-activity select .form-item-date-date input, .bingo-progress-page .activities form .form-item.form-type-date-popup.form-item-date > div .form-item-date-date label, .bingo-progress-page .activities form .form-item.form-type-date-popup.form-item-date > div .form-item-date-date input, .bingo-progress-page .activities form .form-item.form-type-date-popup.form-item-date select .form-item-date-date label, .bingo-progress-page .activities form .form-item.form-type-date-popup.form-item-date select .form-item-date-date input {
    display: inline-block;
    margin-right: 10px;
  }
  /* line 999, ../scss/print.scss */
  .bingo-progress-page .bingo-card td, .bingo-progress-page .non-bingo-card td {
    border: 1px solid #059ab2 !important;
  }
  /* line 1002, ../scss/print.scss */
  .bingo-progress-page .bingo-card tr, .bingo-progress-page .bingo-card td, .bingo-progress-page .non-bingo-card tr, .bingo-progress-page .non-bingo-card td {
    background: #fff;
  }
  /* line 1004, ../scss/print.scss */
  .bingo-progress-page .bingo-card tr.filled-cell, .bingo-progress-page .bingo-card td.filled-cell, .bingo-progress-page .non-bingo-card tr.filled-cell, .bingo-progress-page .non-bingo-card td.filled-cell {
    background: #A3EEF6;
  }
  /* line 1006, ../scss/print.scss */
  .bingo-progress-page .bingo-card tr.filled-cell *, .bingo-progress-page .bingo-card td.filled-cell *, .bingo-progress-page .non-bingo-card tr.filled-cell *, .bingo-progress-page .non-bingo-card td.filled-cell * {
    color: #16316e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;
    width: 100%;
    display: inline-block;
  }
  /* line 130, ../scss/print.scss */
  .cs-default .bingo-progress-page .bingo-card tr.filled-cell *, .cs-default .bingo-progress-page .bingo-card td.filled-cell *, .cs-default .bingo-progress-page .non-bingo-card tr.filled-cell *, .cs-default .bingo-progress-page .non-bingo-card td.filled-cell * {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  /* line 1016, ../scss/print.scss */
  .bingo-progress-page .pager a {
    text-align: center;
  }

  /*------------------Page-print-----------------*/
  /*!
  Chosen, a Select Box Enhancer for jQuery and Prototype
  by Patrick Filler for Harvest, http://getharvest.com

  Version 1.1.0
  Full source at https://github.com/harvesthq/chosen
  Copyright (c) 2011 Harvest http://getharvest.com

  MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
  This file is generated by `grunt build`, do not edit it by hand.
  */
  /* @group Base */
  /* line 1036, ../scss/print.scss */
  .chosen-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    zoom: 1;
    *display: inline;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  /* line 1047, ../scss/print.scss */
  .chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  }

  /* line 1061, ../scss/print.scss */
  .chosen-container.chosen-with-drop .chosen-drop {
    left: 0;
  }

  /* line 1064, ../scss/print.scss */
  .chosen-container a {
    cursor: pointer;
  }

  /* @end */
  /* @group Single Chosen */
  /* line 1070, ../scss/print.scss */
  .chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 23px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    line-height: 24px;
  }

  /* line 1091, ../scss/print.scss */
  .chosen-container-single .chosen-default {
    color: #999;
  }

  /* line 1094, ../scss/print.scss */
  .chosen-container-single .chosen-single span {
    display: block;
    overflow: hidden;
    margin-right: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* line 1101, ../scss/print.scss */
  .chosen-container-single .chosen-single-with-deselect span {
    margin-right: 38px;
  }

  /* line 1104, ../scss/print.scss */
  .chosen-container-single .chosen-single abbr {
    position: absolute;
    top: 6px;
    right: 26px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px;
  }

  /* line 1114, ../scss/print.scss */
  .chosen-container-single .chosen-single abbr:hover {
    background-position: -42px -10px;
  }

  /* line 1117, ../scss/print.scss */
  .chosen-container-single.chosen-disabled .chosen-single abbr:hover {
    background-position: -42px -10px;
  }

  /* line 1120, ../scss/print.scss */
  .chosen-container-single .chosen-single div {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 18px;
    height: 100%;
  }

  /* line 1128, ../scss/print.scss */
  .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("chosen-sprite.png") no-repeat 0px 2px;
  }

  /* line 1134, ../scss/print.scss */
  .chosen-container-single .chosen-search {
    position: relative;
    z-index: 1010;
    margin: 0;
    padding: 3px 4px;
    white-space: nowrap;
  }

  /* line 1141, ../scss/print.scss */
  .chosen-container-single .chosen-search input[type="text"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1px 0;
    padding: 4px 20px 4px 5px;
    width: 100%;
    height: auto;
    outline: 0;
    border: 1px solid #aaa;
    background: white url("chosen-sprite.png") no-repeat 100% -20px;
    background: url("chosen-sprite.png") no-repeat 100% -20px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
  }

  /* line 1158, ../scss/print.scss */
  .chosen-container-single .chosen-drop {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
    background-clip: padding-box;
  }

  /* line 1163, ../scss/print.scss */
  .chosen-container-single.chosen-container-single-nosearch .chosen-search {
    position: absolute;
    left: -9999px;
  }

  /* @end */
  /* @group Results */
  /* line 1170, ../scss/print.scss */
  .chosen-container .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
  }

  /* line 1179, ../scss/print.scss */
  .chosen-container .chosen-results li {
    display: none;
    margin: 0;
    padding: 5px 6px;
    list-style: none;
    line-height: 15px;
    -webkit-touch-callout: none;
  }

  /* line 1187, ../scss/print.scss */
  .chosen-container .chosen-results li.active-result {
    display: list-item;
    cursor: pointer;
  }

  /* line 1191, ../scss/print.scss */
  .chosen-container .chosen-results li.disabled-result {
    display: list-item;
    color: #ccc;
    cursor: default;
  }

  /* line 1196, ../scss/print.scss */
  .chosen-container .chosen-results li.highlighted {
    background-color: #3875d7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
    background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
    background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
    color: #fff;
  }

  /* line 1205, ../scss/print.scss */
  .chosen-container .chosen-results li.no-results {
    display: list-item;
    background: #f4f4f4;
  }

  /* line 1209, ../scss/print.scss */
  .chosen-container .chosen-results li.group-result {
    display: list-item;
    font-weight: bold;
    cursor: default;
  }

  /* line 1214, ../scss/print.scss */
  .chosen-container .chosen-results li.group-option {
    padding-left: 15px;
  }

  /* line 1217, ../scss/print.scss */
  .chosen-container .chosen-results li em {
    font-style: normal;
    text-decoration: underline;
  }

  /* @end */
  /* @group Multi Chosen */
  /* line 1224, ../scss/print.scss */
  .chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto !important;
    height: 1%;
    border: 1px solid #aaa;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
    background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
    cursor: text;
  }

  /* line 1244, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li {
    float: left;
    list-style: none;
  }

  /* line 1248, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  /* line 1253, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 1px 0;
    padding: 5px;
    height: 15px;
    outline: 0;
    border: 0 !important;
    background: transparent !important;
    box-shadow: none;
    color: #666;
    font-size: 100%;
    font-family: sans-serif;
    line-height: normal;
    border-radius: 0;
  }

  /* line 1267, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-field .default {
    color: #999;
  }

  /* line 1270, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-clip: padding-box;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 13px;
    cursor: default;
  }

  /* line 1288, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url("chosen-sprite.png") -42px 1px no-repeat;
    font-size: 1px;
  }

  /* line 1298, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
  }

  /* line 1301, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 1px solid #ccc;
    background-color: #e4e4e4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    color: #666;
  }

  /* line 1312, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-choice-focus {
    background: #d4d4d4;
  }

  /* line 1315, ../scss/print.scss */
  .chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
    background-position: -42px -10px;
  }

  /* line 1318, ../scss/print.scss */
  .chosen-container-multi .chosen-results {
    margin: 0;
    padding: 0;
  }

  /* line 1322, ../scss/print.scss */
  .chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
  }

  /* @end */
  /* @group Active  */
  /* line 1330, ../scss/print.scss */
  .chosen-container-active .chosen-single {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  /* line 1334, ../scss/print.scss */
  .chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
    background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
    background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
    box-shadow: 0 1px 0 #fff inset;
  }

  /* line 1347, ../scss/print.scss */
  .chosen-container-active.chosen-with-drop .chosen-single div {
    border-left: none;
    background: transparent;
  }

  /* line 1351, ../scss/print.scss */
  .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 2px;
  }

  /* line 1354, ../scss/print.scss */
  .chosen-container-active .chosen-choices {
    border: 1px solid #5897fb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  /* line 1358, ../scss/print.scss */
  .chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #111 !important;
  }

  /* @end */
  /* @group Disabled Support */
  /* line 1364, ../scss/print.scss */
  .chosen-disabled {
    opacity: 0.5 !important;
    cursor: default;
  }

  /* line 1368, ../scss/print.scss */
  .chosen-disabled .chosen-single {
    cursor: default;
  }

  /* line 1371, ../scss/print.scss */
  .chosen-disabled .chosen-choices .search-choice .search-choice-close {
    cursor: default;
  }

  /* @end */
  /* @group Right to Left */
  /* line 1377, ../scss/print.scss */
  .chosen-rtl {
    text-align: right;
  }

  /* line 1380, ../scss/print.scss */
  .chosen-rtl .chosen-single {
    overflow: visible;
    padding: 0 8px 0 0;
  }

  /* line 1384, ../scss/print.scss */
  .chosen-rtl .chosen-single span {
    margin-right: 0;
    margin-left: 26px;
    direction: rtl;
  }

  /* line 1389, ../scss/print.scss */
  .chosen-rtl .chosen-single-with-deselect span {
    margin-left: 38px;
  }

  /* line 1392, ../scss/print.scss */
  .chosen-rtl .chosen-single div {
    right: auto;
    left: 3px;
  }

  /* line 1396, ../scss/print.scss */
  .chosen-rtl .chosen-single abbr {
    right: auto;
    left: 26px;
  }

  /* line 1400, ../scss/print.scss */
  .chosen-rtl .chosen-choices li {
    float: right;
  }

  /* line 1403, ../scss/print.scss */
  .chosen-rtl .chosen-choices li.search-field input[type="text"] {
    direction: rtl;
  }

  /* line 1406, ../scss/print.scss */
  .chosen-rtl .chosen-choices li.search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 19px;
  }

  /* line 1410, ../scss/print.scss */
  .chosen-rtl .chosen-choices li.search-choice .search-choice-close {
    right: auto;
    left: 4px;
  }

  /* line 1414, ../scss/print.scss */
  .chosen-rtl.chosen-container-single-nosearch .chosen-search,
  .chosen-rtl .chosen-drop {
    left: 9999px;
  }

  /* line 1418, ../scss/print.scss */
  .chosen-rtl.chosen-container-single .chosen-results {
    margin: 0 0 4px 4px;
    padding: 0 4px 0 0;
  }

  /* line 1422, ../scss/print.scss */
  .chosen-rtl .chosen-results li.group-option {
    padding-right: 15px;
    padding-left: 0;
  }

  /* line 1426, ../scss/print.scss */
  .chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
    border-right: none;
  }

  /* line 1429, ../scss/print.scss */
  .chosen-rtl .chosen-search input[type="text"] {
    padding: 4px 5px 4px 20px;
    background: white url("chosen-sprite.png") no-repeat -30px -20px;
    background: url("chosen-sprite.png") no-repeat -30px -20px;
    direction: rtl;
  }

  /* line 1435, ../scss/print.scss */
  .chosen-rtl.chosen-container-single .chosen-single div b {
    background-position: 6px 2px;
  }

  /* line 1438, ../scss/print.scss */
  .chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-position: -12px 2px;
  }

  /* @end */
  /* @group Retina compatibility */
  /* @end */


  .bingo-progress-page {
    width: 100%;
    display: inline-block;
    margin-bottom: 25px;
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
    padding: 15px;
  }
  .bingo-progress-page .title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;

  }
  .bingo-progress-page .title > div {
    flex: 0 0 50%;
  }
  .bingo-progress-page .title > div.print-pdf {
    text-align: right;
    margin-top: 10px;
  }
  .bingo-progress-page .user-info {
    display: flex;
    width: 100%;
    align-items: center;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
  }

  .bingo-progress-page .user-info .avatar-block {
    flex: 0 0 60%;
  }
  .bingo-progress-page .user-info .avatar-block > div{
    display: table-cell;
    vertical-align: bottom;
    padding-left: 10px;

  }
  .bingo-progress-page .user-info .user-points {
    flex: 0 0 20%;
  }
  .bingo-progress-page .user-info .rewards-info {
    flex: 0 0 20%;
  }
  .bingo-progress-page .progress-wrap {
    margin-top: 25px;
  }
  .bingo-progress-page .bingo-progress-main {
    display: flex;
    width: 100%;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: row;
  }
  .bingo-progress-page .bingo-progress-main > div {
    flex: 0 0 50% !important;
    margin-bottom: 25px;
    padding: 0 !important;
  }
  /*.bingo-progress-page .bingo-progress-main .activities {
    width: 50% !important;
  }*/
  .bingo-progress-page .bingo-progress-main .activities .chosen-container {
    width: 100% !important;
  }
  /*.bingo-progress-page .bingo-progress-main > div:nth-child(2n) {
    padding-left: 10px;
  }
  .bingo-progress-page .bingo-progress-main > div:nth-child(2n + 1) {
    padding-right: 10px;
  }*/
  .bingo-progress-page .bingo-progress-main > div  table {
    width: 100%;
    display: table;
  }
  .bingo-progress-page .bingo-progress-main > div table tr {
    width: 100%;
    display: table-row;
  }
  .bingo-progress-page .bingo-progress-main > div table tr td {
    width: 33.33%;
    display: table-cell;
    height: 150px;
    border: 1px solid #000;
  }
  .bingo-progress-page .bingo-progress-main .non-bingo-card table tr td {
    height: calc(150px * 3);
    text-align: center;
  }

}

/*# sourceMappingURL=print.css.map */
