
.accordionWrapper{background:#fff;float:left;width:100%;box-sizing:border-box;}
.accordionItem{
  float:left;
  display:block;
  width:100%;
  box-sizing: border-box;
  font-family:'Open-sans',Arial,sans-serif;
}
.accordionItem .form-wrapper {
  margin-top: 0;
  margin-bottom: 4px;
  padding: 0;
  border: 0px;
  border-bottom: 1px solid #ccc;
}
.accordionWrapper > .form-wrapper {
  padding-bottom: 30px;
}
.accordionItem legend{
  cursor:pointer;
  margin:0px 0px 10px 0px;
  padding:10px;
  background:#dedede;
  color:#3a3a3a;
  width:100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  margin-bottom: 0;
}

.close.accordionItem .fieldset-wrapper{
  height:0px;
  margin-top: 0;
  transition:height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float:left;
  display:block;



}
.open.accordionItem .fieldset-wrapper{
  padding: 20px;
  margin-top: 0 !important;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display:block;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  border: none;
    display: flex;
  flex-flow: row wrap;
}

.open.accordionItem legend{
  margin:0px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordionItem legend:after {
  content: " ";
  position: absolute;
  display: block;
  right: 10px;
  top: 20px;
   width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid #3a3a3a;
    border-top: 0.2em solid #3a3a3a;
    transform: rotate(134deg);
    margin-right: 0.5em;
}
.open.accordionItem legend:after {
  transform: rotate(316deg);
}
.accordionItem .avatar_radio {
  flex-grow: 0;
flex-shrink: 0;
flex-basis: 12.5%;
display: flex;
flex-direction: row;
align-items: top;
 height: 60px;
    overflow: hidden;
    min-height: 60px;
    margin-top: 0;
    margin-bottom: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .accordionItem .avatar_radio {
    flex-basis: 20%;

  }
}
@media screen and (max-width: 767px) {
  .accordionItem .avatar_radio {
    flex-basis: 25%;
  }
}
.accordionItem .avatar_radio label  {
   position: relative;
   padding-left: 32px;
   visibility: hidden;

}
.accordionItem .avatar_radio label:before {
  content: "";
  width: 32px;
  height: 32px;
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
}
.accordionItem .avatar_radio input[type='radio'] {
  visibility: hidden;
}
.accordionItem .avatar_radio input[type='radio']:checked + label:before {
  box-shadow: 2px 2px 16px 10px #000;
  filter: grayscale(30%); /* Current draft standard */
-webkit-filter: grayscale(30%); /* New WebKit */
-moz-filter: grayscale(30%);
-ms-filter: grayscale(30%);
-o-filter: grayscale(30%);
}
.accordionItem .form-wrapper .avatar_radio label.option {
   display: block !important;
}
/**for nature**/
.accordionItem #edit-checkboxes-fieldset2nature .avatar_radio label:before {
  background-image: url('../images/nature');
}
/**for food**/
.accordionItem #edit-checkboxes-fieldset2foods .avatar_radio label:before {
  background-image: url('../images/food');
}
/**for people**/
.accordionItem #edit-checkboxes-fieldset2people .avatar_radio label:before {
  background-image: url('../images/people');
}
/**for things**/
.accordionItem #edit-checkboxes-fieldset2things .avatar_radio label:before {
  background-image: url('../images/things');
}
/**for activity**/
.accordionItem #edit-checkboxes-fieldset2activity .avatar_radio label:before {
  background-image: url('../images/activity');
}
/**for going places**/
.accordionItem #edit-checkboxes-fieldset2going-places .avatar_radio label:before {
  background-image: url('../images/going-places');
}
/*adjusting background positions of avatar radio*/
/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-1 label:before {
  background-position: -20px -20px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-2 label:before {
  background-position: -20px -92px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-3 label:before {
  background-position: -20px -164px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-4 label:before {
  background-position: -20px -236px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-5 label:before {
  background-position: -20px -308px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-6 label:before {
  background-position: -20px -380px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-7 label:before {
  background-position: -20px -452px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-8 label:before {
  background-position: -20px -524px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-9 label:before {
  background-position: -20px -596px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-10 label:before {
  background-position: -20px -668px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-11 label:before {
  background-position: -20px -740px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-12 label:before {
  background-position: -20px -812px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-13 label:before {
  background-position: -20px -884px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-14 label:before {
  background-position: -20px -956px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-15 label:before {
  background-position: -20px -1028px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-16 label:before {
  background-position: -20px -1100px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-17 label:before {
  background-position: -20px -1172px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-18 label:before {
  background-position: -20px -1244px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-19 label:before {
  background-position: -20px -1316px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-20 label:before {
  background-position: -20px -1388px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-21 label:before {
  background-position: -20px -1460px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-22 label:before {
  background-position: -20px -1532px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-23 label:before {
  background-position: -20px -1604px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-24 label:before {
  background-position: -20px -1676px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-25 label:before {
  background-position: -20px -1748px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-26 label:before {
  background-position: -20px -1820px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-27 label:before {
  background-position: -20px -1892px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-28 label:before {
  background-position: -20px -1964px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-29 label:before {
  background-position: -20px -2036px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-30 label:before {
  background-position: -20px -2108px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-31 label:before {
  background-position: -20px -2180px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-32 label:before {
  background-position: -20px -2252px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-33 label:before {
  background-position: -20px -2324px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-34 label:before {
  background-position: -20px -2396px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-35 label:before {
  background-position: -20px -2468px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-36 label:before {
  background-position: -20px -2540px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-37 label:before {
  background-position: -20px -2612px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-38 label:before {
  background-position: -20px -2684px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-39 label:before {
  background-position: -20px -2756px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-40 label:before {
  background-position: -20px -2828px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-41 label:before {
  background-position: -20px -2900px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-42 label:before {
  background-position: -20px -2972px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-43 label:before {
  background-position: -20px -3044px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-44 label:before {
  background-position: -20px -3116px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-45 label:before {
  background-position: -20px -3188px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-46 label:before {
  background-position: -20px -3260px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-47 label:before {
  background-position: -20px -3332px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-48 label:before {
  background-position: -20px -3404px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-49 label:before {
  background-position: -20px -3476px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-50 label:before {
  background-position: -20px -3548px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-51 label:before {
  background-position: -20px -3620px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-52 label:before {
  background-position: -20px -3692px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-53 label:before {
  background-position: -20px -3764px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-54 label:before {
  background-position: -20px -3836px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-55 label:before {
  background-position: -20px -3908px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-56 label:before {
  background-position: -20px -3980px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-57 label:before {
  background-position: -20px -4052px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-58 label:before {
  background-position: -20px -4124px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-59 label:before {
  background-position: -20px -4196px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-60 label:before {
  background-position: -20px -4268px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-61 label:before {
  background-position: -20px -4340px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-62 label:before {
  background-position: -20px -4412px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-63 label:before {
  background-position: -20px -4484px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-64 label:before {
  background-position: -20px -4556px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-65 label:before {
  background-position: -20px -4628px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-66 label:before {
  background-position: -20px -4700px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-67 label:before {
  background-position: -20px -4772px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-68 label:before {
  background-position: -20px -4844px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-69 label:before {
  background-position: -20px -4916px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-70 label:before {
  background-position: -20px -4988px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-71 label:before {
  background-position: -20px -5060px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-72 label:before {
  background-position: -20px -5132px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-73 label:before {
  background-position: -20px -5204px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-74 label:before {
  background-position: -20px -5276px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-75 label:before {
  background-position: -20px -5348px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-76 label:before {
  background-position: -20px -5420px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-77 label:before {
  background-position: -20px -5492px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-78 label:before {
  background-position: -20px -5564px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-79 label:before {
  background-position: -20px -5636px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-80 label:before {
  background-position: -20px -5708px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-81 label:before {
  background-position: -20px -5780px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-82 label:before {
  background-position: -20px -5852px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-83 label:before {
  background-position: -20px -5924px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-84 label:before {
  background-position: -20px -5996px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-85 label:before {
  background-position: -20px -6068px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-86 label:before {
  background-position: -20px -6140px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-87 label:before {
  background-position: -20px -6212px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-88 label:before {
  background-position: -20px -6284px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-89 label:before {
  background-position: -20px -6356px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-90 label:before {
  background-position: -20px -6428px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-91 label:before {
  background-position: -20px -6500px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-92 label:before {
  background-position: -20px -6572px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-93 label:before {
  background-position: -20px -6644px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-94 label:before {
  background-position: -20px -6716px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-95 label:before {
  background-position: -20px -6788px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-96 label:before {
  background-position: -20px -6860px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-97 label:before {
  background-position: -20px -6932px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-98 label:before {
  background-position: -20px -7004px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-99 label:before {
  background-position: -20px -7076px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-100 label:before {
  background-position: -20px -7148px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-101 label:before {
  background-position: -20px -7220px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-102 label:before {
  background-position: -20px -7292px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-103 label:before {
  background-position: -20px -7364px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-104 label:before {
  background-position: -20px -7436px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-105 label:before {
  background-position: -20px -7508px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-106 label:before {
  background-position: -20px -7580px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-107 label:before {
  background-position: -20px -7652px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-108 label:before {
  background-position: -20px -7724px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-109 label:before {
  background-position: -20px -7796px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-110 label:before {
  background-position: -20px -7868px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-111 label:before {
  background-position: -20px -7940px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-112 label:before {
  background-position: -20px -8012px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-113 label:before {
  background-position: -20px -8084px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-114 label:before {
  background-position: -20px -8156px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-115 label:before {
  background-position: -20px -8228px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-116 label:before {
  background-position: -20px -8300px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-117 label:before {
  background-position: -20px -8372px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-118 label:before {
  background-position: -20px -8444px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-119 label:before {
  background-position: -20px -8516px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-120 label:before {
  background-position: -20px -8588px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-121 label:before {
  background-position: -20px -8660px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-122 label:before {
  background-position: -20px -8732px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-123 label:before {
  background-position: -20px -8804px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-124 label:before {
  background-position: -20px -8876px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-125 label:before {
  background-position: -20px -8948px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-126 label:before {
  background-position: -20px -9020px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-127 label:before {
  background-position: -20px -9092px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-128 label:before {
  background-position: -20px -9164px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-129 label:before {
  background-position: -20px -9236px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-130 label:before {
  background-position: -20px -9308px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-131 label:before {
  background-position: -20px -9380px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-132 label:before {
  background-position: -20px -9452px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-133 label:before {
  background-position: -20px -9524px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-134 label:before {
  background-position: -20px -9596px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-135 label:before {
  background-position: -20px -9668px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-136 label:before {
  background-position: -20px -9740px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-137 label:before {
  background-position: -20px -9812px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-138 label:before {
  background-position: -20px -9884px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-139 label:before {
  background-position: -20px -9956px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-140 label:before {
  background-position: -20px -10028px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-141 label:before {
  background-position: -20px -10100px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-142 label:before {
  background-position: -20px -10172px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-143 label:before {
  background-position: -20px -10244px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-144 label:before {
  background-position: -20px -10316px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-145 label:before {
  background-position: -20px -10388px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-146 label:before {
  background-position: -20px -10460px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-147 label:before {
  background-position: -20px -10532px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-148 label:before {
  background-position: -20px -10604px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-149 label:before {
  background-position: -20px -10676px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-150 label:before {
  background-position: -20px -10748px;
}

/* line 3, ../sass/test.scss */
.accordionItem .form-wrapper .avatar_radio.ar-151 label:before {
  background-position: -20px -10820px;
}
