// Non-modular or client styles for .l-header region.

.l-header {
	background: $green;
	.row {
  &.header-middle {
  	max-width: 100%;
  	 a#logo {
        margin: 20px 20px 20px 0px;
  	 }
  	 h1#site-name {
  	 	margin: 26px 0px 0px;
  	 }
  	 h2#site-slogan {
  	 	margin: 2px 0px 0px;
  	 }
  	 section {
  	 	&.s-logoblock {
  	 		margin-bottom: 0px;
  	 		 p {
  	 		 	margin-bottom: 0px;
  	 		 }
  	 	}
  	 	&.block-menu-menu-secoundary-menu {
  	 		margin-bottom: 0;
  	 		ul.menu {
  	 			width: 100%;
  	 			max-width: 710px;
  	 			float: right;
  	 			list-style: none;
  	 			position: relative;
  	 			bottom: 20px;
  	 			  li {
  	 			  	float: left;
  	 			  	margin-left: 1px;
  	 			  	height: 106px;
  	 			  	width: 100px;
  	 			  	
					
                         
  	 			  	  a {
  	 			  	  	  position: relative;
  	 			  	  	  visibility: hidden;
  	 			  	  	  width: 100%;
  	 			  	  	  height: 100%;

  	 			  	  	   &:after {
  	 			  	  	   	width: 94px;
                            height: 105px;
                            background-size: 100px;
                            content: "";
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            visibility: visible;
                         -webkit-transition-duration: 0.8s;
						-moz-transition-duration: 0.8s;
						-o-transition-duration: 0.8s;
						transition-duration: 0.8s;

						-webkit-transition-property: -webkit-transform;
						-moz-transition-property: -moz-transform;
						-o-transition-property: -o-transform;
						transition-property: transform;
  	 			  	  	   }
  	 			  	  	 
  	 			  	  	  &.current-program {
  	 			  	  	  	position: relative;
  	 			  	  	  	 &:hover,&.active-trail {
  	 			  	  	  	 	&:after {
  	 			  	  	  	 		background: url('../images/libraryzurb/currentprogs_hover.png') no-repeat;
  	 			  	  	  	   }
  	 			  	  	  	 }
  	 			  	  	  	 &:after {
                               background: url('../images/libraryzurb/current-programs.png') no-repeat;
                            }

  	 			  	  	  }
  	 			  	  	 &.activities {
  	 			  	  	 	 &:hover,&.active-trail {
  	 			  	  	  	 	&:after {
  	 			  	  	  	 		background: url('../images/libraryzurb/activities_hover.png') no-repeat;
  	 			  	  	  	   }
  	 			  	  	  	 }
  	 			  	  	  	&:after{
                            background: url('../images/libraryzurb/activities.png') no-repeat;
                            }
  	 			  	  	  }
  	 			  	  	  &.rewards {
  	 			  	  	  	 &:hover,&.active-trail {
  	 			  	  	  	 	&:after {
  	 			  	  	  	 		background: url('../images/libraryzurb/rewards_hover.png') no-repeat;
  	 			  	  	  	   }
  	 			  	  	  	 }
  	 			  	  	  	&:after {
  	 			  	  	  	  background: url('../images/libraryzurb/rewards.png') no-repeat;
  	 			  	  	    }
  	 			  	  	  }
  	 			  	  	  &.reviews {
  	 			  	  	  	 &:hover,&.active-trail {
  	 			  	  	  	 	&:after {
  	 			  	  	  	 		background: url('../images/libraryzurb/reviewactive.png') no-repeat;
  	 			  	  	  	   }
  	 			  	  	  	 }
                            &:after {
  	 			  	  	  	  background: url('../images/libraryzurb/reviews.png') no-repeat;
  	 			  	  	    }
  	 			  	  	  }
  	 			  	  	  &.photos {
  	 			  	  	  	 &:hover,&.active-trail {
  	 			  	  	  	 	&:after {
  	 			  	  	  	 		background: url('../images/libraryzurb/photos_videos_hover.png') no-repeat;
  	 			  	  	  	   }
  	 			  	  	  	 }
  	 			  	  	  	&:after {
  	 			  	  	  	  background: url('../images/libraryzurb/photosnvideos.png') no-repeat;
  	 			  	  	    }
  	 			  	  	  }
  	 			  	  	  &.events {
  	 			  	  	  	 &:hover,&.active-trail {
  	 			  	  	  	 	&:after {
  	 			  	  	  	 		background: url('../images/libraryzurb/events_hover.png') no-repeat;
  	 			  	  	  	   }
  	 			  	  	  	 }
  	 			  	  	  	&:after {
  	 			  	  	  	  background: url('../images/libraryzurb/events.png') no-repeat;
  	 			  	  	    }
  	 			  	  	  }
  	 			  	  	  &.progress {
  	 			  	  	  	 &:hover,&.active-trail {
  	 			  	  	  	 	&:after {
  	 			  	  	  	 		background: url('../images/libraryzurb/progress_hover.png') no-repeat;
  	 			  	  	  	   }
  	 			  	  	  	 }
  	 			  	  	  	border: none;
  	 			  	  	  	&:after {
  	 			  	  	  	  background: url('../images/libraryzurb/progress.png') no-repeat;
  	 			  	  	    }
  	 			  	  	  }
  	 			  	  	  
  	 			  	  	   &:hover {
  	 			  	  	   	&:after {
					  		transform: rotateY(360deg);
					  		-webkit-transform: rotateY(360deg);
							-moz-transform: rotateY(360deg);
							-ms-transform: rotateY(360deg);
							-o-transform: rotateY(360deg);
					}
						 
					  }
  	 			  	  }
  	 			  
  	 			  }


  	 		}
  	 	}
  	 }
  }
}
}

// Top Bar
//--------------------------------------------------
.top-bar {
  .title-area {}
}

.top-bar-section {}
.top-bar-section .left {}
.top-bar-section .right {}
