
/* $Id openbadging_manage_backpack_edit_form.css */

.my-backpack-edit-delete-view {
  float: right;
  margin-top: -28px;
}
.view-my-backpack-badges table tr{
  background-color:#ffffff;
  padding:0 10px;
}
.view-my-backpack-badges table tr td{
  width:135px;
  padding:4px 5px;
}
.my-backpack-badges-content-field .my-backpack-badge-image{
  border:1px solid #eeeeee;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.my-backpack-badge-image img{
  padding: 10px 0 0 15px;
}
.imagelink{
  float:left;
}
.imagelink a{
  width:0px;
}
#openbadging-entity-delete-form #edit-actions {
  width:100%;
}
#openbadging-entity-delete-form #edit-actions #edit-submit{
  margin: 0 10px 0 0;
}
#openbadging-form #edit-submit {
  float:left;
}
#openbadging-form #edit-delete {
  float:left;
}
