.page-messages {
  .privatemsg-unread td {
    font-weight: normal;
  }
  #page-title.title {
    &+ .primary-tabs {
      display: inline-block;
      vertical-align: top;
      margin-top: 26px;
        &+ ul.action-links {
          display: inline-block;
          list-style: none;
          vertical-align: top;
          margin: 0;
          margin-top: 26px;
           li a {
              display: inline-block;
              text-decoration: none;
              box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
              text-transform: capitalize;
              border: none;
              line-height: 26px;
              margin: 0;
           }
        }
    }
  }
}
.message-button {
   font-size: 18px;
   display: inline-block;
   box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  transition: all linear 0.5s;
  &:hover {
    text-decoration: underline;
  }
  .page-messages.cs-default & {
     font-family: $Special-elite;
    font-weight: 400;
    line-height: 1;
    @extend .yellow;
    color: $purple;
    padding: 9px 14px 4px;

     &:hover,&:focus {
      @extend .yellow-btn-hover-default;
     }
   }
   .page-messages.cs-classic & {
    font-family: $Exo2;
   font-weight: 400;
   line-height: 22px;
    @extend .light-blue;
    color: $dark-blue;
    padding: 4px 14px 5px;
     &:hover, &:focus {
      @extend .classic-btn-hover;
     }
   }
   .page-messages.cs-elegant & {
    font-family: $Sniglet;
    font-weight: 400;
    line-height: 23px;
      @extend .yellow-btn-elegant;
    padding: 4px 14px;
    color: $black;
    &:hover, &:focus {
      @extend .elegant-btn-hover;
    }
   }
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-smoothing: grayscale;
}
 #page-title.title + .primary-tabs + ul.action-links li a {
   @extend  .message-button;
}

#page-title.title {
    .page-messages & {
    line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-smoothing: grayscale;

  margin: 0;
  width: 100%;
  padding-top: 14px;
  padding-left: 35px;
  text-transform: capitalize;

  * {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
  }

  @extend .white-text;
  }



 .page-messages.cs-default & {
    font-size: 26px;
     font-family: $Special-elite;
    font-weight: 400;
  }

  .page-messages.cs-classic & {
    font-size: 28px;
     font-family: $Exo2;
   font-weight: 600;
  }

  .page-messages.cs-elegant & {
    font-size: 28px;
    font-family: $Sniglet;
    font-weight: 400;
    color: $gray;
  }
}
.main {
  .page-messages & {
      padding-left: 0 !important;
  padding-right: 0 !important;
  width: calc(100% - 40px);
  margin: auto;
  float: none;
  color: $white;
     overflow: hidden;
  box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
  margin-bottom: 35px;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: grayscale;

  }

   .page-messages.cs-default & {
     @extend .purple;
     font-family: $Raleway;
    font-weight: 400;

   }
   .page-messages.cs-classic & {
      @extend .medium-blue;
      font-family: $Exo2;
   font-weight: 500;
    }
    .page-messages.cs-elegant & {
      @extend .green;
   font-family: $Roboto;
    font-weight: 400;
    color: $gray;

    }

}

.button-group {
  .page-messages & {
    margin-left: 35px;
  }
}
table.sticky-header {
  thead {
    .page-messages.cs-default & {
        @extend .purple;
        border-bottom: 5px solid $purple;
      }
      .page-messages.cs-elegant & {
      @extend .green;
      border-bottom: 5px solid $green;
    }
    .page-messages.cs-classic & {
      @extend .medium-blue;
      border-bottom: 5px solid $medium-blue;
    }
  }
}
.privatemsg-list {
  thead {
    .page-messages.cs-default & {
        @extend .purple;
      }
       .page-messages.cs-elegant & {
     @extend .green;
    }
    .page-messages.cs-classic & {
     @extend .medium-blue;
    }
  }
}
.page-messages.cs-elegant form fieldset label {
  color: $gray;
}
.page-messages {
 .block-block-3 {
    display: inline-block;
    margin-top: 26px;
  }
  form {
   padding: 0 35px;
   margin-bottom: 0;
    fieldset {
      border: none;
      padding-left: 0;
      margin: 0 0 0 -6px;
      margin-bottom: 39px;
      legend {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        font-weight: normal;
        margin-top: 15px;
        a {
          @extend .message-button;
        }
      }
      label {
        color: $white;
        font-weight: bold;
        text-align: left !important;
      }
    }
    .container-inline {
      margin-top: 10px;
      .form-type-textfield {
        display: inline-block;
        max-width: 32.5%;
        width: 100%;
      }
    }
  }
  .form-item-operation {
    display: inline-block;
  }
  .chosen-container {
    width: 200px;
    a {
      @extend .message-button;
      div {
        margin-top: 7px !important;
      }
    }
  }
  table.sticky-enabled {
    margin: 23px 0 40px 0;
  }
  table.sticky-header {
    border: none;
  }
  .privatemsg-list {
   width: 100%;
   background: transparent;
   border: none;
    thead {
      background: $blue;
      border-bottom: 5px solid transparent;
      .select-all {
        width: 1%;
        position: relative;
        top: 7px;
      }
      th {
        padding-bottom: 0;
      }
    }
    tbody {
      border-top: none;
      tr {
        background: transparent;
        border-bottom: none;
        td {
          padding-bottom: 2px;
        }
        &.selected {
          td {
            background: transparent;

          }
        }
      }
      .form-type-checkbox {
        .form-checkbox {
          margin-bottom: 0;
        }
      }
    }
  }
  .privatemsg-header-subject, .privatemsg-header-lastupdated,
  .privatemsg-list-subject{
    a {
      color: $white;
      font-size: 19px;
    }
    img {
      margin-left: 5px;
    }
  }
  .privatemsg-list-date, .empty.message  {
    color: $white;
    font-size: 19px;
  }
  .privatemsg-header-participants, .privatemsg-list-participants {
    display: none;
  }
  .warning {
    margin: 30px 0 40px 0;
  }
  .privatemsg-message-participants {
    margin: 18px 35px 0;
    font-size: 19px;
  }
  .privatemsg-message {
    max-width: 100%;
    padding: 30px 35px 0;
  }
  .privatemsg-message-column {
    width: 100%;
    border-bottom: 2px solid #C5C5C5;
    margin-bottom: 22px;
  }
  .privatemsg-author-name, .privatemsg-message-date {
    font-size: 19px;
    color: $white;
  }
  .privatemsg-message-information {
    border-bottom: none;
  }
  .privatemsg-message-body {
    margin-left: 0;
    p {
       font-size: 19px;
    }
  }
  .privatemsg-reply {
    color: $white;
  }
  .text-format-wrapper {
    margin-bottom: 26px;
    label {
      font-size: 19px;
      color: $white;
    }
  }
  .button {
    margin-left: 0;
    margin-right: 15px;
  }
  #edit-cancel {
    @extend .message-button;


  }
  .privatemsg-message-actions {
    list-style: none;
    margin: 28px 0;
    a {
      @extend .message-button;

    }
  }
  .chosen-container-single .chosen-single {
    @extend .message-button;
    height: auto;
    border: none;
    border-radius: 0;
    width: 100%;
    top: 2px;
  }
  .chosen-drop {
    width: 100%;
    color: $black;
    text-align: left;
    display: inline-block;
     .chosen-results {
      width: 100%;
      display: inline-block;
      float: none;
       li {
        width: 100%;
        display: inline-block;
        height: auto;
       }
     }
  }
}
/* .chosen-drop {


  .page-messages.cs-default & {
    top: 40px;
    @extend .yellow;
    color: $black;
  }
  .page-messages.cs-classic & {
    top: 40px;
    @extend .light-orange;
    color: $white;
  }
  .page-messages.cs-elegant & {
    top: 40px;
    @extend .light-orange;
    color: $white;
  }
} */
.pagination.pager {
  li {
    &.current {
      a {
        .page-messages.cs-default &, .page-messages.cs-classic &,
        .page-messages.cs-elegant & {
          background: $yellow;
          color: $black;
        }
      }
    }
    a {
      &:hover,&:focus {
        .page-messages.cs-default &, .page-messages.cs-classic &,
        .page-messages.cs-elegant &
        {
          background: $yellow;
          color: $black;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .page-messages {
    .action-links {
      display: none !important;
    }
    .button-group {
      margin-left: 10px;
    }
    .container-inline {
      button, .form-type-select {
        margin-bottom: 20px !important;
      }
    }
    form {
      padding: 0 10px;
    }
    .privatemsg-header-subject, .privatemsg-header-lastupdated,
    .privatemsg-list-subject {
      a {
        font-size: 14px;
      }
      img {
        margin-left: 0;
      }
    }
    .privatemsg-author-name, .privatemsg-message-date,
    .privatemsg-list-date, .empty.message  {
      font-size: 14px;
    }
    .privatemsg-message-participants {
      margin-left: 10px;
      margin-right: 10px;
    }
    .privatemsg-message {
      padding-left: 10px;
      padding-right: 10px;
    }
    .privatemsg-message-body {
      p {
        font-size: 14px;
      }
    }
    .text-format-wrapper {
      label {
        font-size : 14px;
      }
    }
  }
}

/* @media all and (max-width: 1024px) {
  .form-select {
   .page-messages.cs-default & {
      font-family: $mclaren;
      font-weight: normal;
      font-size: 17px;
      background: $yellow;
      color: $black;
    }
     .page-messages.cs-classic & {
      font-family: $Architects;
      font-weight: 700;
      font-size: 18px;
      background: $light-orange;
      color: $white;
    }
   .page-messages.cs-elegant & {
      font-family: $margarine;
      font-weight: normal;
      font-size: 19px;
      background: $light-orange;
      color: $white;
    }
  }
  .page-messages {
    .form-select {
      padding: 6px 24px;
      display: inline-block;
      text-decoration: none;
      box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
      text-transform: capitalize;
      border-radius: 10px;
      border: none;
      line-height: 26px;
    }
  }
} */
