#page-title {
  margin-top: 0;
}
.current-program {
   .programme-content {
    -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -webkit-flex;
      display: flex;
     padding: 35px;
      a {
        font-weight: 700;
        text-decoration: underline;
        color: $white;
      }
      .image {
        flex: 0 0 200px;
        padding-top: 8px;
      }
      .body {
        flex: 0 0 calc(100% - 200px);
        padding-left: 35px;
      }
   }
}
.other-programme.view {
  padding-bottom: 80px;
   .view-header * {
     @extend h1;
   }
   .other-programme {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -webkit-flex;
      display: flex;
     padding: 35px 35px 0;
      .programme-image {
        flex: 0 0 200px;
        padding-top: 8px;
      }
      .programme-content {
        flex: 0 0 calc(100% - 200px);
        padding-left: 35px;
         h2 {
            margin-top: 0;
            margin-bottom: 30px;
            .cs-default & {
             color: $purple;
            }
            .cs-elegant & {
                color: $dark-blue;
              }
              .cs-classic & {
                color: $blue;
              }
              * {
                color: inherit;
              }
         }
         .sign-up {
          margin-top: 5px;
           a {
             @extend .button;
             margin-left: 0;
           }
         }
      }
   }
}
.page-programs {
  .block.block-play-program-raffle {
    .msg-highlight {
      position: relative;
      padding-left: 70px;
      height: 72px;
      display: flex;
      width: 100%;
      align-items: center;
       &:before {
        content: "";
        position: absolute;
        width: 65px;
        height: 72px;
        background: url('../images/white-calender.png') no-repeat scroll center center;
        top: 0;
        left: 0;
       }
    }
  }
  #page-title {
    margin-bottom: 30px;
  }
}
.left-sidebar-program-block {
  margin-bottom: 35px;
  img {
    max-width: 130px;
  }
  .views-field-title {
    margin-top: 10px;
    a {
      color: $white;

    }
  }
}
