#page-title {
  margin-top: 0;
}
.current-program.primary-background {
   * {
    color: $white;
   }
  .stroke-main.programme-title {
    color: $white;
  }
  .cs-default & {
    background: url("../images/background.jpeg") scroll repeat;
    background-size: cover;
  }

  .cs-classic & {
    @extend .medium-blue;
  }

  .cs-elegant & {
    @extend .orange;
  }



  @include primary_fsize;

  @include body-font;
   .programme-content {
    -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -webkit-flex;
      display: flex;
     padding: 35px;
      a {
        font-weight: 700;
        text-decoration: underline;
        color: $white;
      }
      .image {
        flex: 0 0 200px;
        padding-top: 8px;
      }
      .body {
        flex: 0 0 calc(100% - 200px);
        padding-left: 35px;
      }
   }
}
.other-programme.view {
  padding-bottom: 80px;
   .view-header * {
     @extend h1;
   }
   .other-programme {
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      display: -webkit-flex;
      display: flex;
     padding: 35px 35px 0;
      .programme-image {
        flex: 0 0 200px;
        padding-top: 8px;
      }
      .programme-content {
        flex: 0 0 calc(100% - 200px);
        padding-left: 35px;
         h2 {
            margin-top: 0;
            margin-bottom: 30px;
            .cs-default & {
             color: $purple;
            }
            .cs-elegant & {
              color: $gray;

              }
              .cs-classic & {
                color: $dark-blue;
              }
              * {
                color: inherit;
              }
         }
         .sign-up {
          margin-top: 10px;
           a {
             @extend .button;
             margin-left: 0;
           }
         }
      }
   }
}
.page-programs {
  .block.block-play-program-raffle {
    .msg-highlight {
      position: relative;
      padding-left: 70px;
      height: 72px;
      display: flex;
      width: 100%;
      align-items: center;
       &:before {
        content: "";
        position: absolute;
        width: 65px;
        height: 72px;
        background: url('../images/white-calender.png') no-repeat scroll center center;
        top: 0;
        left: 0;
       }
    }
  }
  #page-title {
    margin-bottom: 30px;
  }
  .view-my-progress-for-teen-program {
    .item-list {
      li {
        position: relative;
        .views-field-php {
          position: absolute;
          left: 12px;
        }
      }
    }
  }
}
.left-sidebar-program-block {
  margin-bottom: 35px;
  img {
    max-width: 130px;
  }
  .views-field-title {
    margin-top: 10px;
    a {
      color: $white;
      .cs-elegant & {
        color: $gray;
      }

    }
  }
}
.page-programs #page-title {
  background-size: 100%;
  background-repeat: repeat;
  margin-bottom: 10px;
  width: calc(100% + 40px);
  margin-left: -40px;
}
#page-title {
  .page-programs.cs-default & {
    background-image: url("../images/yellowbrushstroke_lg.png");
    padding: 27px 10px 30px 40px;
    color: $purple;
  }
  .page-programs.cs-classic & {
    background-image: url("../images/redbrushstroke_lg.png");
    color: $dark-blue;
    padding: 24px 10px 30px 40px;
  }
  .page-programs.cs-elegant & {
    background-image: url("../images/bluebrushstroke_lg.png");
    color: $gray;
    padding: 24px 10px 30px 40px;
  }

}
