/*------------Mobile Responsive--------------*/
@media screen and (max-width: 767px) {

	/*------------Mobile Menu--------------*/
	.mobile-hamburger {
		flex: 1 1 40px;
		button {
			float: left;
	    margin-left: 10px;
	    margin-bottom: 0;
	    margin-top: 4px;
	    border: none;
	    outline: none;
	    position: relative;
	    padding: 0 !important;
	    box-shadow: none;
	    background-color: transparent;
	    span.icon {
	      display: block;
		    width: 35px;
		    height: 5px;
		    margin-bottom: 5px;
		    .cs-default & { 
					background: $yellow;
		    }
		    .cs-elegant & {
		    	background: $gray-btn;
		    }
		    .cs-classic & {
		    	background: $dark-blue;
		    }
		  }
		  .cs-default &, .cs-elegant &, .cs-classic & {
		  	&:hover, &:focus {
          background: transparent;
        }
		  }
		}
	}
	.pre-header {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.mobile-menu {
		&.columns {
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
	}
	.l-header {
		.pre-header {
			.top-menu {
    		flex: 1 1 calc(100% - 60px);
    	}
		}
	}
	.block-menu-menu-anonymous-header-links {
		ul.menu {
			li {
				a {
					padding: 4px 10px;
				}
			}
		}
	}
	.hide-for-only-small {
		&.main-menu {
			display: none;
		}
	}
	.pre-header {
		.top-menu {
			&.hide-for-only-small {
				display: block;
				.top-header-menu {
					display: flex;
					display: -webkit-flex;
			    align-items: center;
					font-size: 14px;
					margin-right: 10px;
					.username {
						.cs-default &, .cs-classic & .cs-elegant & {
							margin-left: 5px;
							margin-right: 0;
						}
					}
					.button-hide {
						display: none;
					}
					.btn {
						padding: 4px 10px;
						white-space: nowrap;
					}
				}
			}
			.block-menu-menu-anonymous-header-links {
				.menu {
					margin-right: 10px;
					margin-top: 0 !important;
				}
			}
		}
	}
	.l-header {
		.pre-header {
			.menu {
				.not-logged-in & {
					margin-top: 15px;
				}
			}
		}
	}
	
	/*------------Mobile Menu Ends--------------*/

	/*------------Header--------------*/
	.l-header {
		.header-middle {
			padding: 15px 0 15px 10px;
			.logo-block {
				flex: 0 0 100%;
				.site-info {
			    width: 50%;
			    float: left;
			    img {
			    	width: 100%;
			    }
			    .site-name {
			    	font-size: 25px;
			    	margin: 10px 0 10px 5px;
			    }
			    .site-slogan {
			    	font-size: 15px;
			    	margin: -10px 0 0 5px;
			    }
			  }
			  .program-logo {
			    width: 50%;
			    float: left;
			    margin-top: 0!important;
			    padding: 0 10px 0 20px;
			    margin-bottom: 0;
			    img {
			    	width: 100%;
			    	height: 100%;
			    	float: right;
			    }
				}
			}
		}
	}
	/*------------Header Ends--------------*/

	/*------------Footer--------------*/
	.block-menu-menu-social-sharing-icons {
		ul {
			&.menu {
				float: none;
			}
		}
	}
	/*------------Footer Ends--------------*/

	/*-------------Dashboard Page-------------*/
	.homebox {
		&.homebox-auto-save {
			width: 100%;
			margin-left: 0;
			.homebox-column-wrapper {
				width: 100% !important;
				padding-left: 0;
				padding-right: 0;
				.portlet-header {
					padding-left: 60px !important;
					.cs-default & {
		        font-size: 18px !important;
	      	}
		      .cs-elegant & {
		        font-size: 21px !important;
		      }
		      .cs-classic & {
		        font-size: 21px !important;
		      }
		      .cs-default & {
			      .portlet-icon {
			      	top: 0;
			      }
			    }
				}
				.portlet-content {
					padding: 25px 15px !important;
				}
			}
			.homebox-column {
				height: auto !important;
			}
			#homebox-buttons {
				padding-left: 0;
			}
		}
	}
	.page-user-profile {
		.block-play-library-custom-pm-block {
			padding-right: 10px;
			padding-left: 10px;
			.pm-custom {
				> div {
					&:nth-of-type(1) {
						flex: 0 0 100%;
					}
					&:nth-of-type(2) {
						flex: 0 0 100%;
						padding-top: 20px;
					}
				}
				.pm {
					border-bottom: 1px dotted #000;
					padding: 10px 0;
					.pm-subject, .pm-admin, .pm-date {
						flex: 0 0 100%;
						white-space: initial;
						.pm-new {
							span {
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
	.view-book-reviews-dashboard {
		.form-type-select {
			select {
				font-size: 12px;
			}
		}
	}

	.my-dashbord-block {
		.attachment {
			flex: 0 0 100%;
			.view-content {
				.views-field-nothing {
					.image {
						display: inline-block;
					}
					.name {
						width: 100%;
						text-align: center;
						display: inline-block;
					}
					.field-content > div {
						padding-left: 0;
					}
				}
			}
			.image {
				width: 100%;
				img {
					margin-left: auto;
					margin-right: auto;
					display: block;
					height: 100px;
					width: 100px;
				}
			}
		}
		.view-content {
			flex: 0 0 100%;
			table {
				margin-right: 10px;
			}
		}
	}

	/*-------------User Public Profile-------------*/
		.page-users-public-profile {
			.view--user-public-profile, .view-public-reward {
				text-align: center;
			}
		}
	/*-------------User Public Profile Ends-------------*/

	/*-------------Leaderboard Page-------------*/
	.page-leaderboard {
		.main {
			.primary-tabs + div {
				ol {
					li {
						flex: 0 0 100%;
						span {
							display: block;
						}
					}
				}
			}
		}
	}
	/*-------------Leaderboard Page Ends-------------*/
	/*-------------Dashboard Page Ends-------------*/

	/*-------------Home Page-------------*/
	.homepage-booklist-slider {
		padding-top: 30px;
		ul {
			&.booklist-pager {
				text-align: center;
				width: 100%;
				input[type=radio] + label {
					&:before {
						background: $purple;
						border: 1px solid $purple;
					 	.cs-classic & {
					 		background: $medium-blue;
					 		border: 1px solid $medium-blue;
					 	}
					 	.cs-elegant & {
					 		background: $green;
					 		border: 1px solid $green;
					 	}
					}
				}
			}
		}
		.controls {
			width: 100%;
			bottom: 10px;
		}
		.slide {
			.view-footer {
				padding-left: 0;
				text-align: center;
			}
		}
	}
	.view-home-page-video-slideshow {
		&.flicker-block {
			.owl-item {
				text-align: center;
			}
		}
	}
	.annocement {
		padding-left: 10px;
		padding-right: 10px;
	}
	/*-------------Home Page Ends-------------*/

	/*-------------Bookreview Page-------------*/
	.page-reviews  {
		.book-reviews-page {
			.views-exposed-widget {
				flex: 0 0 calc(100% - 10px);
				button {
					margin-left: 0;
				}
			}
		}
		.views-field-field-book-cover-image-link {
			width: 100%;
			table {
				width: 100%;
			}
			img {
				margin: auto;
				display: block;
			}
		}
	}
	.main {
		.view-movie-review,  .view-music-review-listing,
		.view--video-game-review, .view--individual-activities-listing {
			.views-exposed-widget {
				flex: 0 0 calc(100% - 10px);
				button {
					margin-left: 0;
				}
			}
		}
	}
	.reviews-wrapper {
		width: 100%;
	}
	.book-review-page-overlay {
		margin-top: 20px;
		.review_node_sidebar {
			width: 100%;
			table {
				width: 100%;
				img {
					display: block;
					margin: auto;
				}
			}
		}
		.node-review-book {
			width: 100%;
		}
	}
	/*-------------Bookreview Page Ends-------------*/

	/*-------------Booklisting Page-------------*/
	.page-booklists {
		.created-by-user {
			.view-content {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.booklist-wrapp {
		margin-top: 15px;
		.book-body-wrapp {
			div.title {
				width: 100%;
			}
		}
		.book-user-likes {
		 	div.book-created {
    		width: 100%;
    	}
    	div.book-like {
    		width: 100%;
    		float: right;
    		margin-top: 10px;
    	}
    }
	}
	.main {
		.view-booklist-page-view {
			.views-exposed-widget {
				flex: 0 0 calc(100% - 10px);
			}
			.views-submit-button {
				button.form-submit {
					margin-left: 0;
				}
			}
		}
	}

	.book-review-page-overlay {
		.booklist-title {
			margin-bottom: 10px;
		}
		.bk_title {
    	width: 100%;
    }
	}
	.node-type-booklist, .node-type-review-book {
		.button-group {
			li {
				a {
					margin-left: 0;
					margin-right: 20px;
				}
			}
		}
	}
	/*-------------Booklisting Page Ends-------------*/

	/*-------------Movie Review Page-------------*/
	.view-content {
		.common-review-wrapper {
			.title > div {
				&:nth-of-type(1) {
					width: 60%;
				}
				&.likes {
					width: 40%;
				}
			}
		}
	}
	/*-------------Movie Review Page Ends-------------*/

	/*-------------Activity Page-------------*/
	.page-activities-list {
	 .view--activities-listing {
	 		margin-bottom: 30px;
	 	}
	}
	/*-------------Activity Page Ends-------------*/

	/*-------------Current-Programme Page-------------*/
	.page-programs {
		.stroke-main {
			padding-left: 10px;
		}
		.main {
			.programme-content {
				padding: 10px;
				.image {
	    		flex: 0 0 100% !important;
	    		padding-top: 0;
	    		img {
	    			display: block;
	    			margin: auto;
	    		}
	    	}
	    	.body {
	    		flex: 0 0 100%;
	    		padding: 20px 10px 0;
	    	}
			}
		}
	}
	.other-programme {
		&.view {
			padding-bottom: 50px;
			.other-programme {
				padding: 10px 0;
				.programme-image {
					flex: 0 0 100%;
					padding-top: 0;
					img {
						display: block;
						margin: auto;
					}
				}
				.programme-content {
					flex: 0 0 100%;
					padding: 20px 0 0 0;
				}
			}
		}
	}
	/*-------------Current-Programme Page Ends-------------*/

	/*-------------Events Page-------------*/
	.section-events {
		.view-events {
			.view-content {
				.views-row {
					border-bottom: 1px dotted #000;
					padding: 10px 0;
					&.views-row-last {
						border-bottom: none;
					}
				}
				h3 {
					text-align: center;
				}
			}
		}
	}
	.events-page-events {
		.events-wrapper {
			text-align: center;
			.title, .date, .location {
    		flex: 0 0 100%;
    		a {
    			padding-left: 0;
    		}
    	}
		}
	}
	/*-------------Events Page Ends-------------*/

 	/*-------------Rewards Page-------------*/
	.view-reward-page-views {
		.views-row {
			.reward-page-for-kids {
				border-bottom: 2px dotted #000;
				padding-bottom: 30px;
				.reward-image-title {
					flex: 0 0 100%;
					padding-right: 0;
					img {
						display: block;
						margin: auto;
					}
					div {
						text-align: center;
					}
				}
				.description {
					flex: calc(100%);
					margin-top: 20px;
				}
			}
		}
	}
	.reward-block-reward-page {
		&.view-reading-badge-views {
			.view-header {
				margin-top: 30px;
			}
			.view-content {
				width: 100%;
				margin-left: 0;
				margin-bottom: 10px;
				.views-row {
			    flex: 0 0 100%;
			    margin-left: 0;
			    margin-right: 0;
			    border-bottom: 2px dotted #000;
			    padding: 15px 0;
			  }
			}
		}
	}
	.section-rewards {
		aside.sidebar-activity {
			margin-top: 20px;
		}
	}
	.page-rewards {
		.block-views-my-raffle-ticket-block {
			padding-bottom: 30px;
			.views-row {
				text-align: center;
			}
		}
		.main {
			.block-views {
				flex: 0 0 100% !important;
			}
		}
	}
	/*-------------Rewards Page Ends-------------*/

	/*-------------Photo's Video's Page-------------*/
	.view.photos-block, .view.video-block {
		.view-content {
			width: 100%;
			margin-left: 0;
			.views-row {
				flex: 0 0 100%;
				.flickr-photoset-img {
					img {
						display: block;
						margin: auto;
					} 
				}
			}
		}
	}
	.view.photos-block {
		.view-content {
			.views-row {
				.flickr-citation {
					max-width: 320px;
					margin: 23px auto;
					a {
						width: 200px;
					}
				}
			}
		}
	}
	/*-------------Photo's Video's Page Ends-------------*/

	/*-------------Progress Page-------------*/
	.progress-page-wrap {
    padding-left: 10px;
    padding-right: 10px;
    #wrap {
    	padding-left: 15px;
    	padding-right: 15px;
    	div.sticker-block, div.rewards, div.reading-progress {
    		flex: 0 0 100%;
    		padding-right: 0;
    		margin-bottom: 20px;
    	}
    	> div {
		 	&.rewards {
		 		.view-Rewards-Progress {
		 			.view-content {
		 				 .cs-default &, .cs-classic &, .cs-elegant & {
			 				 	margin-top: 0;
			 				 	padding-left: 0;
		 				 	}	 
		 				}
		 			}
		 		}
		 	}
    }
    .calendar-wrapper {
	    .fc-center {
	    	max-width: 320px;
	    	button {
	    		padding: 6px 20px !important;
	    	}
	    }
	  }
	  .fc-content-skeleton > table {
	  	.fc-day-top {
	  		span {
	  			font-size: 25px;
	  		}
	  	}
	  	.fc-content {
	  		white-space: inherit;
	  		> div {
	  			display: none;
	  		}
	  	}
	  }
	  table {
	  	.fc-head {
	  		th {
	  			font-size: 20px
	  		}
	  	}
	  	.fc-scroller {
	  		height: auto !important;
	  	}
	  }
	  .print-pdf {
	  	display: none;
	  }
	}

	/*---------teen-css-------------*/
	.progress-page {
		padding: 10px;
		.avatar-id {
			flex: 0 0 100%;
		}
		.point-status {
    	flex: 0 0 100%;
    	flex-direction: column;
    	-webkit-flex-direction: column;
    }
    .progress-wrap > div {
    	flex: 0 0 100%;
    	margin-bottom: 25px;
    }
    .reward-won {
    	margin-right: 0;
    	margin-left: 0;
    }
		.progress-wrap {
			.report-acivity {
				form {
					select {
						font-size: 12px;
					}
					.container-inline-date {
						.form-item-date {
							> label {
								width: 10%;
								float: left;
							}
							.date-padding {
    						width: 90%;
    					}
						}
					}
				}
			}
			.progress-rewards {
				> div {
					padding-top: 20px;
				}
			}
		}
		.progress-main {
			.progress-grid {
				.grid.inserted {
					* {
						font-size: 12px !important;
					}
					background-size: 50px !important;
				}
			}
		}
	}
	/*-------------Progress Page Ends-------------*/

	/*-------------Teen Sidebar-------------*/
	.sidebar2.sidebar-shareit {
		> .first {
			.block-sharethis {
				.block-title {
					flex: 1 1 20%;
				}
				.sharethis-wrapper {
					flex: 1 1 75%;
				}
			}
		}
	}
	/*-------------Teen Sidebar Ends-------------*/

	/*-------------Teen Activity Page-------------*/
	.activity-page-wrapper {
		.body, .link, .drop-downs-wrapper  {
				padding-left: 0
		}  
		
		.drop-downs-wrapper {
			.form-type-select {
				label {
					flex: 0 0 100%;
				}
				select {
					flex: 0 0 100%;
				}
			}
		}
	}
	/*-------------Teen Activity Page Ends-------------*/
}

/*------------Tab Responsive--------------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

	/*-------------Header-------------*/
	.top-header-menu {
		.username {
			width: 85%;
  		display: inline-block;
  		margin-bottom: 10px;
  		margin-left: 5px;
		}
	}
	.l-header {
		.header-middle {
			.logo-block {
				flex: 0 0 100%;
				.site-info {
					display: inline-block;
		    	float: left;
		   		width: 50%;
				}
				.program-logo {
					display: inline-block;
		    	width: 50%;
		    	float: right;
		    	text-align: right;
		    	padding-right: 25px;
		    	margin-top: 0 !important;
		    	margin-bottom: 10px;
				}
			}
			.main-menu {
    		flex: 0 0 100%;
    		.menu-wrapper {
    			.block-lang-dropdown {
    				form {
    					margin-right: 25px;
    				}
    			}
    			ul.menu {
    				li {
    					margin-left: 0;
    					margin-right: 5px;
    				}
    			}
    		}
    	}
			select, form {
				margin-bottom: 0;
			}
		}
		.pre-header {
			.top-menu {
				.btn {
   			 	margin-left: 0;
    			margin-right: 6px;
    		}
    	}
    }
	}
	/*-------------Header Ends-------------*/

	/*-------------Dashboard Page-------------*/
	.homebox {
		&.homebox-auto-save {
			width: 100%;
			margin: auto;
			.homebox-column-wrapper {
				padding: 0 5px;
				.portlet-header {
					padding: 10px 1px 15px 40px !important;
					.portlet-title {
						&:before {
							left: -44px;
						}
					}
					.cs-default &, .cs-classic & {
		        font-size: 20px !important;
	      	}
		      .cs-elegant & {
		        font-size: 23px !important;
		      }
		      .cs-default & {
			      .portlet-icon {
			      	top: 0;
			      }
			    }
		    }
		    .homebox-portlet-inner {
		    	margin-bottom: 5px;
		    }
		    .portlet-content {
		    	padding: 25px 10px !important;
		    }
			}
			#homebox-buttons {
				padding-left: 0;
			}
		}
	}
	.page-user-profile {
		.block-play-library-custom-pm-block {
			.pm-custom {
				> div {
					&:nth-of-type(1) {
						flex: 0 0 100%;
					}
					&:nth-of-type(2) {
						flex: 0 0 100%;
						padding-top: 20px;
					}
				}
				.pm {
					border-bottom: 1px dotted #000;
					padding: 10px 0;
					.pm-subject, .pm-admin, .pm-date {
						flex: 0 0 100%;
					}
				}
			}
		}
	}
	.my-dashbord-block {
		.attachment {
			.view-content {
				.views-field-nothing {
					.image {
						display: inline-block;
					}
					.name {
						width: 100%;
						text-align: center;
						display: inline-block;
					}
				}
			}
		}
	}
	.view-book-reviews-dashboard {
		.form-type-select {
			select {
				font-size: 12px;
			}
		}
	}

	/*-------------Dashboard Page Ends-------------*/

	/*-------------Home Page-------------*/
	.view-home-page-video-slideshow {
		&.flicker-block {
			.owl-item {
				text-align: center;
			}
		}
	}
	.homepage-reward-block {
		.view-content {
			padding: 25px 10px 0 10px;
		}
		.view-header {
			p {
				padding-left: 10px;
			}
		}
		.view-footer {
			padding-left: 10px;
		}
	}
	/*-------------Home Page Ends-------------*/

	/*-------------Bookreview Page-------------*/
	.page-reviews  {
		.views-exposed-widget {
			flex: 0 0 calc(50% - 10px) !important;
		}
	}
	.sidebar2 {
  	> .first {
  		padding-left: 10px;
  		padding-right: 10px;
  	}
  	.block-menu {
  		ul.menu {
  			padding-right: 0;
  			padding-left: 0;
  		}
  	}
  }
	/*-------------Bookreview Page Ends-------------*/

	/*-------------Review Page Sidebar-------------*/
	.sidebar-activity {
		.block-menu-menu-book-reviews-sidebar-menu-f {
			.menu {
				li {
					a {
						padding-left: 50px;
						&:after {
							left: -5px;
						}
					}
				}
			}
		}
		.block-teen-reward-page {
			padding: 10px;
		}
	}
	/*-------------Review Page Sidebar Ends-------------*/

	/*-------------Booklisting Page-------------*/
	.main {
		.booklist-listing-page, .view-movie-review, 
		.view-music-review-listing, .view--video-game-review,
		.view--individual-activities-listing  {
			.views-exposed-widget {
				flex: 0 0 calc(50% - 10px);
			}
			.views-submit-button {
				button {
					&.form-submit {
						margin-top: 10px;
					}
				}
			}
		}
	}
	.booklist-wrapp {
		margin-top: 15px;
	}
	/*-------------Booklisting Page Ends-------------*/

	/*-------------Events Page-------------*/
	.section-events {
		.view-events {
			.view-content {
				.views-row {
					border-bottom: 1px dotted #000;
					padding: 10px 0;
					&.views-row-last {
						border-bottom: none;
					}
				}
			}
		}
	}
	/*-------------Events Page Ends-------------*/

	/*-------------Reward Block-------------*/
	.homepage-reward-block {
		.view-header {
			p {
				line-height: 1.2;
			}
		}
	}
	/*-------------Reward Block Ends-------------*/

	/*-------------Progress Page-------------*/
	.progress-page-wrap {
		#wrap {
			div.sticker-block {
				flex: 0 0 41%;
			}
			div.reading-progress {
				flex: 0 0 21%;
			}
		 > div {
		 	&.rewards {
		 		.view-Rewards-Progress {
		 			.view-content {
		 				 .cs-default &, .cs-classic &, .cs-elegant & {
			 				 	margin-top: 0;
			 				 	padding-left: 0;
		 				 	}	 
		 				}
		 			}
		 		}
		 	}
		}
	}

	.progress-page {
		.progress-wrap {
			> div {
				flex: 1 1 30%;
			}
			.report-acivity {
				form {
					select {
						font-size: 12px;
					}
					.container-inline-date {
						.form-item-date {
							> label {
								width: 10%;
								float: left;
							}
							.date-padding {
    						width: 90%;
    					}
						}
					}
				}
			}
		}
	}
	/*-------------Progress Page Ends-------------*/

	/*-------------Photos/Videos Page-------------*/
	.view.photos-block {
		.view-content {
			width: 100%;
			.views-row {
				padding-left: 25px;
				padding-right: 0;
			}
		}
	}
	.view.photos-block {
		.view-content {
			.views-row {
				.flickr-citation {
					a {
						&:before {
							left: 10px;
					    top: 4px;
					    background-size: 17px;
						}
						&:after {
							font-size: 14px !important;
						}
					}
				}
			}
		}
	}
	.cs-classic {
		.view.photos-block {
			.view-content {
				.views-row {
					.flickr-citation {
						a {
							&:before {
						    top: 6px;
							}
						}
					}
				}
			}
		}
	}
	/*-------------Photos/Videos Page Ends-------------*/

	/*----------------Activity Page----------------*/
		.activity-page-wrapper {
			.drop-downs-wrapper {
				.form-type-select {
					label, select {
						flex: 0 0 100%;
					}
				}
			}
		}
	/*-------------Activity Page Ends--------------*/

	.sidebar2.sidebar-shareit {
		> .first {
			.block-sharethis {
				.block-title {
					flex: 1 1 20%;
				}
				.sharethis-wrapper {
					flex: 1 1 80%;
				}
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	/*-------------Common for page title-------------*/
	.main {
		h1, h2  {
			&#page-title, &.reviews-title {
				width: 100%;
				margin-left: 0;
				background-size: auto;
				background-repeat: no-repeat;
			}
		}
		.view-booklist-slideshow {
			.view-header {
				h1 {
					width: 100%;
					margin-left: 0;
					background-size: auto;
					background-repeat: no-repeat;
				}
			}
		}
	}
	
	/*-------------Common for page title ends-------------*/
	#page-title {
   .page-activities.cs-default &, .page-activities.cs-classic &,
    .page-activities.cs-elegant & {
	   	background-position: 0 12px;
	   	background-size: auto;
	   	background-repeat: no-repeat;
	   	padding-left: 30px;
   	}
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
	/*-------------Photos/Videos Page-------------*/
	.view.photos-block {
		.view-content {
			.views-row {
				.flickr-citation {
					a {
						&:before {
							left: 20px;
						}
					}
				}
			}
		}
	}
	/*-------------Photos/Videos Page-------------*/
}