//view filter block common in review pages
.view-booklist-page-view,.book-reviews-page,.view-movie-review, .view-music-review-listing, .view--video-game-review {

  ul {
    list-style: none;
    margin-left: 0;
     li {
      margin-left: inherit;
     }
  }
  .view-filters {
   @extend .primary-background;
   .cs-default & {
          background: url("../images/background.jpeg");
          padding: 8px 24px 4px;
          background-size: cover;
        }
        .cs-classic & {
          background: $medium-blue;
          padding: 8px 24px 4px;
          background-size: cover;
        }
      .cs-elegant & {
       background: $orange;
        padding: 8px 24px 4px;
          background-size: cover;
      }
      label {
        color: $white;
      }
   overflow: visible;

  }
  .views-exposed-widgets {
    width: calc(100% + 10px);
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    align-content: center;
    align-items: center;

  }
  .views-exposed-widget {
    flex: 0 0 calc(25% - 10px);
    -ms-box-flex: 0 0 24%;
    -ms-flex: 0 0 24%;
    -ms-padding-right: 1%;
    padding: 0;
    float: none;
    margin-right: 10px;
  }
  .chosen-container {

    .chosen-single {
       &:hover,&:focus {
        border-radius: 0;
       }
      b {
        visibility: hidden;
        position: relative;
        &:after {
          content: "";
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
           .cs-default & {
             border-top: 5px solid $purple
           }
           .cs-classic & {
            border-top: 5px solid $medium-blue;
           }
           .cs-elegant & {
            border-top: 5px solid $gray;
           }
          position: absolute;
          top: 45%;
          display: block;
          left: 0;
          visibility: visible;
        }
      }
    }
}
.views-submit-button {
  button.form-submit {
    height: 31px;
    margin-top: 21px;
  }
}
.form-submit {
      @extend .main-button;


  }
  .chosen-container {
  width: 100% !important;
  &.chosen-with-drop.chosen-container-active {
    a {

      box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
      border: none;
    }
  }
  .chosen-drop  {
    position: absolute;
    width: 100%;
    top: calc(100% - 5px);
    @extend .primary-color;
  }
  a {

      @extend .main-button;
      border-radius: 0;
      border: none;
      height: auto;
      width: 100%;
      display: inline-block;
      border: none;
      position: relative;



  }
}
}
.booklist-wrapp {
  .book-body-wrapp {
    div {
      display: inline-block;
      &.title {
        width: calc(100% - 125px);
     display: inline-block;
     overflow: hidden;
    text-overflow: ellipsis;
     white-space: nowrap;
      }
      @extend h4;
      margin: 0;
       * {
        font-family: inherit;
        font-size: inherit;
        margin-bottom: 0;
       }

    }
  }
  .book-user-likes {
    > div {
      @extend h5;
      padding-left: 23px;
      margin: 0;

      float: left;
      &.book-created {
        width: 70%;

         * {
          font-family: inherit;
        font-size: inherit;
         }
      }
      &.book-like {
        width: 30%;
        text-align: right;
        * {
          font-family: inherit;
        font-size: inherit;
        }
        span {
          padding-right: 32px;
        position: relative;
         &:after {
           content: "";
            width: 25px;
            height: 25px;
            display: inline-block;
            background: url("../images/smily.png") no-repeat scroll center center;
            position: absolute;
            right: 2px;
            top: -3px;
         }
        }
      }
    }
  }
}
//side bar menu common in review pages
.block-menu-menu-book-reviews-sidebar-menu-f {
  .menu {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
     li {
      width: 100%;
      margin: 0;
      padding: 0;
        a {
          @include button-font;
          width: 100%;
          display: inline-block;
          position: relative;
          padding: 10px 10px 10px 60px;
          border-bottom: 1px solid #f2f2f2;
          color: $white;
            &:after {
              content: "";
              width: 48px;
              height: 100%;
              background: url('../images/review-spritesheet');
              display: block;
              position: absolute;
              left: 10px;
              top: 0;

            }
            &.activity-review {
              &:after {
                background-position: 0px -1199px;
              }

            }
            &.book-review {
              &:after {
                background-position: -3px -1333px;
              }
            }
            &.booklist-review {
              &:after {
                background-position: -3px -1265px;
              }
            }
            &.movie-review {
              &:after {
                background-position: -4px -1400px;
              }
            }
            &.music-review {
              &:after {
                background-position: -4px -1462px;
              }
            }
            &.video-review {
              &:after {
                background-position: -8px -1530px;
              }
            }
          .cs-default & {
             background: #7db600;
             &:hover,&:focus,&.active {
               background: $white;
               color: #7db600;
             }
             &.activity-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: 0px -15px;
                }
              }
            }
            &.book-review {
              &:hover,&:focus,&.active {
                 &:after {
                background-position: -3px -150px;
              }
              }

            }
            &.booklist-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: -3px -82px;
              }
              }

            }
            &.movie-review {
              &:hover,&:focus,&.active {
                 &:after {
                background-position: -4px -215px;
              }
              }

            }
            &.music-review {
              &:hover,&:focus,&.active {
                   &:after {
                background-position: -4px -277px;
              }
              }

            }
            &.video-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: -8px -347px;
              }
              }

            }
          }
          .cs-classic & {
                          background: $dark-blue;
             &:hover,&:focus,&.active {
               background: $white;
               color: $dark-blue;
             }
             &.activity-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: 0px -409px;
                }
              }
            }
            &.book-review {
              &:hover,&:focus,&.active {
                 &:after {
                background-position: -3px -543px;
              }
              }

            }
            &.booklist-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: -3px -475px;
              }
              }

            }
            &.movie-review {
              &:hover,&:focus,&.active {
                 &:after {
                background-position: -4px -608px;
              }
              }

            }
            &.music-review {
              &:hover,&:focus,&.active {
                   &:after {
                background-position: -4px -669px;
              }
              }

            }
            &.video-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: -8px -739px;
              }
              }

            }
          }
           .cs-elegant & {
                          background: $orange;
             &:hover,&:focus,&.active {
               background: $white;
               color: $orange;
             }
             &.activity-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: 0px -803px;
                }
              }
            }
            &.book-review {
              &:hover,&:focus,&.active {
                 &:after {
                background-position: -3px -938px;
              }
              }

            }
            &.booklist-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: -3px -870px;
              }
              }

            }
            &.movie-review {
              &:hover,&:focus,&.active {
                 &:after {
                background-position: -4px -1003px;
              }
              }

            }
            &.music-review {
              &:hover,&:focus,&.active {
                   &:after {
                background-position: -4px -1066px;
              }
              }

            }
            &.video-review {
              &:hover,&:focus,&.active {
                &:after {
                background-position: -8px -1136px;
              }
              }

            }
          }
        }
     }
  }
}
h2.reviews-title, .view-booklist-slideshow .view-header h1 {
  @extend h1;
  margin-top: 0;
  background-size: 100%;
  background-repeat: repeat;
  margin-bottom: 10px;
  width: calc(100% + 40px);
  margin-left: -40px;
   .cs-default & {
    background-image: url("../images/yellowbrushstroke_lg.png");
    padding: 27px 10px 30px 40px;
    color: $purple;
  }
  .cs-classic & {
    background-image: url("../images/redbrushstroke_lg.png");
    color: $dark-blue;
    padding: 24px 10px 30px 40px;
  }
   .cs-elegant & {
    background-image: url("../images/bluebrushstroke_lg.png");
    color: $gray;
    padding: 24px 10px 30px 40px;
  }

}
.section-movie-review,.section-music-review,.section-video-game-review {
  #page-title {
    display: none;
  }
}
.common-review-wrapper {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  @include button-font;
     > div:not(.body,.date) {
       font-family: inherit;
        * {
          font-family: inherit;
        }
        margin-bottom: 10px;
     }
     > div:not(.title) {
       padding-left: 22px;
     }
     .title {
       width: 100%;
       display: block;
        > div {
          float: left;
           &:nth-of-type(1) {
            width: 70%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
           }
           &.likes {
            width: 30%;
            text-align: right;
           }
        }
     }
     .review-by-user {
       > div {
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;

          &.views-field-field-user-avatar {
            margin-left: 5px;
            margin-right: 5px;

          }
       }
     }
     .body {
       margin-top: 10px;
       margin-bottom: 20px;
     }
}
