// Blocks
body {
	font-family: McLaren-Regular !important;
}
.block {

	&.block-user-login {
		 @extend .orange-blue;
		  form {
		  	width: 100%;
		  	max-width: 90%;
		  	margin: 0 auto;
		  	 label {
		  	 	@extend .white-text;
		  	 }
		  	 ul {
		  	 	list-style: none;
		  	 	li a {
		  	 	@extend .white-text;
		  	   }
		  	 }
		  	 button {
		  	 	@extend .yellow-button;
		  	 }
		  }
	}
	&.review-booklist-block {
		background: $white;
		max-width: 252px;
		margin: 0 auto;
		border-radius: 20px;
		padding-left: 10px;
		padding-right: 10px;
		 .block-title {
		 	border-top: none;
		 	padding: 10px;
		 	text-align: center;
		 	 a {
		 	 	font-family: McLaren-Regular !important;
		 	    font-size: 17px;
		 	 	color: $black;
		 	 	position: relative;
		 	 	&.active {
		 	 		color: $orange !important;
		 	 		  &:before {
 		 			  	content: "";
 		 			    width: 25px;
 		 			    background: url('../images/libraryzurb/star.png') no-repeat;
 		 			    position: absolute;
 		 			    top: 0;
 		 			    left: -31px;
 		 			    height: 25px;
 		 			    display: block;
 		 			  }
		 	 	}
		 	 }
		 }
		 ul {
		 	&.menu {
		 		margin-bottom: 6px;
		 		 li {
		 		 	text-align: center;
		 		 	  a {
		 		 	  	 color: $black;
		 		 	  	 font-size: 17px;
		 		 	  	  &:focus {
		 		 	  	  	outline: none;
		 		 	  	  }
		 		 	  }
		 		 	&.active {
		 		 		
		 		 		a {
		 		 			color: $orange !important;
		 		 			position: relative;
		 		 			  &:before {
		 		 			  	content: "";
		 		 			    width: 25px;
		 		 			    background: url('../images/libraryzurb/star.png') no-repeat;
		 		 			    position: absolute;
		 		 			    top: 0;
		 		 			    left: 10%;
		 		 			    height: 25px;
		 		 			    display: block;
		 		 			  }

		 		 		}
		 		 	}
		 		 }
		 	}
		 }
	}
	&.announcement {
		background: $yellow url('../images/libraryzurb/annocement.png') no-repeat;
		background-size: 100%;
		background-position: center center;
		color: $black;
		border-radius: 20px;
		box-shadow: 1px 2px $buttonshadow;
		 .block-title {
		 	padding: 26px 36px;
		 	border: none;
		 	color: $black;
		 	font-size: 28px;
		 	font-family: McLaren-Regular !important;
		 }
		 .views-field-body {
		 	p {
		 		padding-left: 36px;
		 		font-family: Arialbold !important;
		 		font-size: 17px;
		 		font-weight: bold;
		 	}
		 	ol {
		 		margin-left: 90px;
		 		padding-bottom: 40px;
		 		
		 		 li {
		 		 	position: relative;
		 		 	font-size: 17px;
		 		 	font-family: Arialregular !important;
		 		 	&:after {
		 		 		background: url('../images/libraryzurb/arrow-list.png') no-repeat;
		 		 		display: block;
		 		 		position: absolute;
		 		 		left: -47px;
		 		 		height: 21px;
		 		 		width: 47px;
		 		 		content: "";
		 		 		top: 0;
		 		 	}
		 		 }
		 	}
		 }
	}
	 &.homepage-blocks {
	        background: $blue;
	        overflow: hidden;
	        border-radius: 20px;
	        margin-bottom: 25px;
	        color: $white;
	        position: relative;
	        box-shadow: 1px 2px $buttonshadow;
	            &.playlib-books {
	            	.owl-carousel {
	            		position: inherit;
	            		.owl-item {
	            			.views-field {
	            				display: flex;
	            				align-items: center;
	            				justify-content: center;
							    height: 280px;
							     img {
							     	width: 100%;
							     }

	            			}
	            		}
		            	.owl-controls {
		            		position: absolute;
		            		top: 20px;
		            		right: 30px;
		            		.owl-pagination {
                              .owl-page {
                              	   &.active {
                                      span {
                                      	background: $blue;
                                      }
                              	   }
	                              	span {
	                              		opacity: 1;
	                              		width: 20px;
	                              		height: 20px;
	                              		background: $white;
	                              	}
                              }
		            		}
		            		.owl-buttons {
		            		display: none;
		            	    }
		            	}
		            	
	                }
	            }
	            &.playlib-media {
	            	.owl-carousel {
	            		.owl-item {
	            			text-align: center;
	            		}
	            		.views-field.views-field-field-video-link {
	            			width: 200px;
	            		}
	            		.flickr-wrap .flickr-photo-img:hover, img.flickr-photoset-img:hover {
	            			transform: none;
	            			top: 0;
	            			border: none;
	            		}
	            		span.flickr-credit, .flickr-citation {
	            			display: none;
	            		}
	            		.flickr-photo-img, img.flickr-photoset-img {
	            			box-shadow: none;
	            			border: none;
	            			border-radius: 0;
	            			height: 180px;
	            			width: 180px;
	            		}
	            		.owl-controls {
			    				position: absolute;
			    		        top: 30%;
			    		        width: 100%;
			    		        .owl-pagination {
			    		        	display: none;
			    		        }
			    				.owl-buttons {
			    					.owl-prev {
			    						float: left;
			    						background: url('../images/libraryzurb/left-arrow.png') no-repeat;
			    						opacity: 1;
			    						color: transparent;
			    						border-radius: 0;
			    						margin-left: -28px;
			    						padding: 10px;

			    					}
			    					.owl-next {
			    						float: right;
			    						background: url('../images/libraryzurb/right-arrow.png') no-repeat;
			    						opacity: 1;
			    						color: transparent;
			    						border-radius: 0;
			    						margin-right: -45px;
			    						padding: 10px;

			    					}
			    				}
			    			}
	            	}
	            }    
			         .block-title {
			           color: $white;
			          	font-family: McLaren-Regular !important;
						padding-top: 26px;
						padding-bottom: 25px;
					    font-size: 28px;
						height: 110px;
						border-bottom: medium none;
						margin-top: -1px;
						padding-left:4%;
						z-index: 0;
						position: relative;
						font-weight: normal !important;
						border-radius: 20px;
						overflow: hidden;
						 &:after {
						 	content: "";
						 	background: url('../images/libraryzurb/background-saffron.png') no-repeat;
						 		background-position: -35px 10px;
						 		width: 100%;
						 		height: 110px;
						 		transform: rotate(180deg);
						 		-webkit-transform: rotate(180deg);
						 		-moz-transform: rotate(180deg);
						 		-ms-transform: rotate(180deg);
						 		-o-transform: rotate(180deg);
						 		position: absolute;
						 		left: 0;
						 		top: 0;
						 		z-index: -1;

						 }
			         }
			         p {
			           padding-left: 40px;
			           padding-right: 40px;
			           font-size: 17px;
			         }
	         
	      }
	&.footer-playlibdetails, &.playlib-copyright, &.footer-playlibpolicies {
		width: 100%;
		text-align: left !important;
		float: none !important;
		clear: both;
		font-family: Arialbold !important;
	}
	&.footer-playlibdetails,  &.footer-playlibpolicies {
		font-size: 14px;
	}
	&.playlib-copyright {
		font-size: 12px !important;
	}
	&.block-menu-menu-social-sharing-icons {
		position: absolute;
		top: 0;
		right: 0;
		  .block-title {
		  	display: none;
		  	border-bottom: none;
		  }
		  	  ul.menu {
		  	  	li {
		  	  		border-right: none !important;
		  	  		width: 50px;
		  	  		 a {
		  	  		 	visibility: hidden;
		  	  		 	position: relative;
		  	  		 	  &:after {
		  	  		 	  	content: " ";
		  	  		 	  	width: 40px;
		  	  		 	  	height: 40px;
		  	  		 	  	display: block;
		  	  		 	  	visibility: visible;
		  	  		 	  	position: absolute;
		  	  		 	  	top: 0;
		  	  		 	  	left: 0;
		  	  		 	  	-webkit-transition-duration: 0.8s;
							-moz-transition-duration: 0.8s;
							-o-transition-duration: 0.8s;
							transition-duration: 0.8s;

							-webkit-transition-property: -webkit-transform;
							-moz-transition-property: -moz-transform;
							-o-transition-property: -o-transform;
							transition-property: transform;
							
							border-radius: 100%;
							box-shadow: 0px 12px 12px -8px $black;

		  	  		 	  }

		  	  		 	  &.fb {
		  	  		 	  	 &:after {
		  	  		 	  	 	 background: url('../images/libraryzurb/facebook.png') no-repeat;
		  	  		 	  	 	 background-position: center;
		  	  		 	  	 }
		  	  		 	  }
		  	  		 	  &.twit {
		  	  		 	  	 &:after {
		  	  		 	  	 	background: url('../images/libraryzurb/twitter.png') no-repeat;
		  	  		 	  	 	background-position: center;
		  	  		 	  	 }
		  	  		 	  }
		  	  		 	  &.tmblr {
		  	  		 	  	 &:after {
		  	  		 	  	 	background: url('../images/libraryzurb/tumbir.png') no-repeat;
		  	  		 	  	 	background-position: center;
		  	  		 	  	 }
		  	  		 	  }
		  	  		 	  &.pntrst {
		  	  		 	  	 &:after {
		  	  		 	  	 background: url('../images/libraryzurb/pinterest.png') no-repeat;
		  	  		 	  	 background-position: center;
		  	  		 	  	}
		  	  		 	  }
                         &:hover {
		  	  		 		&:after {
		  	  		 			transform: rotate(360deg);
		  	  		 			-webkit-transform: rotate(360deg);
						 		-moz-transform: rotate(360deg);
						 		-ms-transform: rotate(360deg);
						 		-o-transform: rotate(360deg);
		  	  		 		}
		  	  		 	}
		  	  		 }
		  	  	}
		  	  }
		  
	}
}
.block-title {
	font-weight: normal !important;
}
.view {
	&.view-media-photos-videos- {
	
	}
}

// Drupal sytem blocks:
// .block-search {}
// .block-system {}

.owl-carousel {
	max-width: 89%;
	margin: 0 auto;
	padding-bottom: 40px;
}