// Blocks
body {
	@extend .mclaren;
}
.block {
    margin-bottom: 35px;
    &.dashboard-block {
    	@extend .orange-blue;
    	.view {
    		display: table;
    		width: 100%;
    		padding: 12px 2.3%;
    		position: relative;
	    	.attachment {
	          width: 50%;
	          display: table-cell;
	         /*  float: left; */
	           .view {
	           	 padding: 0 !important;
	           	 .view-content {
	           	 	float: left;
	           	 	display: inline-block;
	           	 	width: 100%;
	           	 	 .views-row {
	           	 	 	margin-bottom: 0;
	           	 	 	 .views-field {
	           	 	 	 	float: left;
	           	 	 	 }
	           	 	 }
	           	 }
	           }
	    	}
	    	.view-content {
	    		width: 50%;
	    		float: right;
	    		display: table-cell;
	    		table {
	    			float: right;
	    		}
	    		table, table tr.even, table tr.alt, table tr:nth-of-type(2n) {
	    			background: none !important;
	    			@extend .no-border;
	    		}
	    		 table tr td .views-field {
	    		 	h2 {
	    		 		display: none;
	    		 	}
	    		 	.content {
	    		 		display: inline-block;
	    		 		background: $white;
	    		 	}
	    		 }
	    	}
	    	.item-list {
	    		position: absolute;
	    		top: -17px;
	    		right: 4%;
	    		display: block;
	    		 .pagination {
	    		 	li {
	    		 		margin-left: 10px;
	    		 		a {
	    		 			color: transparent;
	    		 			position: relative;
	    		 			background: transparent;
	    		 			 &:hover {
	    		 			 	background: transparent;
	    		 			 }
	    		 			 &:after {
	    		 			 	@include previous(20px, 20px, $top: 0, $left: 0);
	    		 			 	border-radius: 100%;
	    		 			 	background: $white;
	    		 			 }
	    		 		}
	    		 		&.current {
	    		 			a {
	    		 				&:after {
	    		 					background: $orange !important;
	    		 				}
	    		 			}
	    		 		}
	    		 		&.arrow {
	    		 			display: none;
	    		 		}
	    		 	}
	    		 }
	    	}
     	}
    }
    &.block-views-booklist-slideshow-block-2 {
    	h2.block-title {
    		@extend .mclaren;
    		font-size: 25px;
    		color: $black;
    		@extend .no-border;
    		margin-bottom: 33px;

    	}
    }
    &.bordr-bottom {
    	border-bottom: 1px solid $light-gray;
    	padding-bottom: 20px;
    }
    &.block-private-msg-custom {
    	@extend .yellow-background;
    	padding: 35px;
    	width: 100%;
    	display: inline-block;
    	 h2 {
    	 	color: $black;
    	 	margin-top: 0;
    	 	font-size: 28px;
    	 	@extend .mclaren;
    	 	@extend .no-border;
    	 }
    	 .pm-custom {
    	 	width: 100%;
    	     display: inline-block;
    	     position: relative;
    	      .pm-view {
    	      	position: absolute;
    	      	top: 20%;
    	      	right: 0;
    	      	font-size: 17px;
    	      	padding: 12px 22px;
    	      	@extend .blue-button;
    	      }
    	 	 .pm {
    	 	 	width: 80%;
    	 	 	display: inline-block;
    	 	 	margin-bottom: 25px;
    	 	 	 .pm-subject {
    	 	 	 	width: 50%;
    	 	 	 	float: left;
    	 	 	 	color: $red;
    	 	 	 	font-size: 17px;
    	 	 	 	@extend .arial-bold;
    	 	 	 	 .pm-new {
    	 	 	 	 	float: left;
    	 	 	 	 	padding-right: 10px;
    	 	 	 	 	color: $red;
    	 	 	 	 }
    	 	 	 }
    	 	 	 .pm-admin {
    	 	 	 	width: 25%;
    	 	 	 	float: left;
    	 	 	 	font-size: 17px;
    	 	 	 	@extend .arial-regular;
    	 	 	 	color: $black;
    	 	 	 }
    	 	 	 .pm-date {
    	 	 	 	float: left;
    	 	 	 	width: 25%;
    	 	 	 	color: $black;
    	 	 	 	font-size: 17px;
    	 	 	 	@extend .arial-regular;
    	 	 	 }

    	 	 }
    	 }
    }
    &.dashboard-block {
    	/* @extend .orange-blue; */
    	.view {
    		/* width: 100%;
    		display: inline-block;
    		padding: 35px 4%;
    		position: relative; */
    		 .view-content {
    		 	/* width: 50%;
    		 	float: left; */
    		 	 .views-row {
    		 	 	.views-field-field-user-avatar {
    		 	 		/* float: left;
    		 	 		padding-right: 10px; */
    		 	 	}
    		 	 	.views-field-name {
    		 	 		display: flex;
    		 	 		height: 100%;
    		 	 		align-content: center;
    		 	 		align-items: center;
    		 	 		 a {
    		 	 		 	color: $white;
    		 	 		 	@extend .arial-bold;
    		 	 		 }
    		 	 	}
    		 	 }
    		 }
    		 /* .attachment-after {
    		 	width: 50%;
    		 	float: right;
    		 } */
    	}
    	/* .owl-carousel {
    		position: inherit !important;
    		.owl-controls {
    			position: absolute;
    			top: -50px;
    			right: 0;
    			 .owl-pagination {
                              .owl-page {
                              	   &.active {
                                      span {
                                      	background: $orange;
                                      }
                              	   }
	                              	span {
	                              		opacity: 1;
	                              		width: 20px;
	                              		height: 20px;
	                              		background: $white;
	                              	}
                              }
		            		}
    			.owl-buttons {
    				display: none;
    			}
    		}
    		.owl-item {
    			h2 {
    			display: none;
    		   }
    		}
 
    	} */
    }
	&.block-user-login {
		 @extend .orange-blue;
		 .block-title {
		 	padding-left: 11.5%;
		 }
		  form {
		  	width: 100%;
		  	max-width: 77%;
		  	margin: 0 auto;
		  	 label {
		  	 	@extend .white-text;
		  	 }
		  	 ul {
		  	 	list-style: none;
		  	 	li {
		  	 		margin-left: 0;
		  	 		a {
		  	 	@extend .white-text;
		  	   }
		  	 }
		  	}
		  	 button {
		  	 	@extend .yellow-button;
		  	 	margin-left: 0;
		  	 }
		  }
	}
	&.review-booklist-block {
		background: $white;
		border-radius: 20px;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 48px;
		@extend .box-shadow;
		 .block-title {
		 	border-top: none;
		 	padding: 10px;
		 	padding-left: 22.6%;
		 	 a {
		 	 	@extend .mclaren;
		 	    font-size: 22px;
		 	 	color: $black;
		 	 	position: relative;
		 	 	&.active {
		 	 		color: $orange !important;
		 	 		  &:before {
		 	 		  	@include previous(25px, 25px, $top: 3px, $left: -31px);
 		 			  	/* content: "";
 		 			    width: 25px; */
 		 			    background: url('../images/libraryzurb/star.png') no-repeat;
 		 			    /* position: absolute;
 		 			    top: 3px;
 		 			    left: -31px;
 		 			    height: 25px;
 		 			    display: block; */
 		 			  }
		 	 	}
		 	 }
		 }
		 ul {
		 	&.menu {
		 		margin-bottom: 6px;
		 		 li {
		 		 	padding: 6px 0px 0px 22.6%;
		 		 	  a {
		 		 	  	 color: $black;
		 		 	  	 font-size: 22px;
		 		 	  	  &:focus {
		 		 	  	  	outline: none;
		 		 	  	  }
		 		 	  }
		 		 	&.active {
		 		 		
		 		 		a {
		 		 			color: $orange !important;
		 		 			position: relative;
		 		 			  &:before {
		 		 			  	@include previous(25px, 25px, $top: 3px, $left: -31px);
		 		 			    background: url('../images/libraryzurb/star.png') no-repeat;
		 		 			  }

		 		 		}
		 		 	}
		 		 }
		 	}
		 }
	}
	&.write-book-review {	
		margin-bottom: 0 !important;
	 	h2.block-title {
	 		margin-bottom: 25px;
	 	}

 	}
	&.announcement {
		background: $yellow url('../images/libraryzurb/annocement.png') no-repeat;
		background-size: 100%;
		background-position: center center;
		color: $black;
		border-radius: 20px;
		@extend .box-shadow;
		 .block-title {
		 	padding: 26px 36px;
		 	border: none;
		 	color: $black;
		 	font-size: 28px;
		 	@extend .mclaren;
		 }
		 .views-field-body {
		 	p {
		 		padding-left: 36px;
		 		@extend .arial-bold;
		 	}
		 	ol {
		 		margin-left: 70px;
		 		padding-bottom: 40px;
		 		list-style: none;
		 		
		 		 li {
		 		 	position: relative;
		 		 	font-size: 17px;
		 		 	@extend .arial-regular;
		 		 	&:after {
		 		 		@include previous(47px, 21px, $left: -32px, $top: 0);
		 		 		background: url('../images/libraryzurb/arrow-list.png') no-repeat;
		 		 	}
		 		 }
		 	}
		 }
	}
	 &.homepage-blocks {
	        background: $blue;
	        overflow: hidden;
	        border-radius: 20px;
	        color: $white;
	        position: relative;
	        @extend .box-shadow;
	            &.playlib-books {
	            	.owl-carousel {
	            		position: inherit;
	            		.owl-item {
	            			.views-field {
	            				display: flex;
	            				align-items: center;
	            				justify-content: center;
							    height: 240px;
							     img {
							     	width: 100%;
							     }

	            			}
	            		}
		            	.owl-controls {
		            		position: absolute;
		            		top: 20px;
		            		right: 30px;
		            		.owl-pagination {
                              .owl-page {
                              	   &.active {
                                      span {
                                      	background: $blue;
                                      }
                              	   }
	                              	span {
	                              		opacity: 1;
	                              		width: 20px;
	                              		height: 20px;
	                              		background: $white;
	                              	}
                              }
		            		}
		            		.owl-buttons {
		            		display: none;
		            	    }
		            	}
		            	
	                }
	            }
	            &.playlib-media {
	            	.owl-carousel {
	            		.owl-item {
	            			text-align: center;
	            		}
	            		.views-field.views-field-field-video-link {
	            			width: 165px;
	            		}
	            		.flickr-wrap .flickr-photo-img:hover, img.flickr-photoset-img:hover {
	            			transform: none;
	            			top: 0;
	            			border: none;
	            		}
	            		span.flickr-credit, .flickr-citation {
	            			display: none;
	            		}
	            		.flickr-photo-img, img.flickr-photoset-img {
	            			box-shadow: none;
	            			border: none;
	            			border-radius: 0;
	            			height: 109px;
	            			width: 158px;
	            		}
	            		.owl-controls {
			    				position: absolute;
			    		        top: 20%;
			    		        width: 100%;
			    		        .owl-pagination {
			    		        	display: none;
			    		        }
			    				.owl-buttons {
			    					.owl-prev {
			    						float: left;
			    						background: url('../images/libraryzurb/left-arrow.png') no-repeat;
			    						opacity: 1;
			    						color: transparent;
			    						border-radius: 0;
			    						margin-left: -28px;
			    						padding: 10px;

			    					}
			    					.owl-next {
			    						float: right;
			    						background: url('../images/libraryzurb/right-arrow.png') no-repeat;
			    						opacity: 1;
			    						color: transparent;
			    						border-radius: 0;
			    						margin-right: -45px;
			    						padding: 10px;

			    					}
			    				}
			    			}
	            	}
	            }    
			         .block-title {
			         	@extend .wave-img;
			         }
			         p {
			           padding-left: 40px;
			           padding-right: 40px;
			           font-size: 17px;
			         }
	         
	      }
	&.footer-playlibdetails, &.playlib-copyright, &.footer-playlibpolicies {
		width: 100%;
		text-align: left !important;
		float: none !important;
		clear: both;
		@extend .arial-regular;
	}
	&.footer-playlibdetails {
		margin-bottom: 25px !important;
	}
	&.footer-playlibdetails,  &.footer-playlibpolicies {
		font-size: 14px !important;
	}
	&.playlib-copyright {
		font-size: 12px !important;
	}
	&.block-menu-menu-social-sharing-icons {
		position: absolute;
		top: 0;
		right: 0;
		  .block-title {
		  	display: none;
		  	border-bottom: none;
		  }
		  	  ul.menu {
		  	  	li {
		  	  		border-right: none !important;
		  	  		width: 50px;
		  	  		 a {
		  	  		 	bottom: 20px;
		  	  		 	font-size: 0;
		  	  		 	position: relative;
		  	  		 	  &:after {
		  	  		 	  	@include previous(40px, 40px, $top: 0, $left: 0);
		  	  		 	  	@extend .animate;
							border-radius: 100%;
							@extend .box-shadow;

		  	  		 	  }

		  	  		 	  &.fb {
		  	  		 	  	 &:after {
		  	  		 	  	 	 background: url('../images/libraryzurb/facebook.png') no-repeat;
		  	  		 	  	 	 background-position: center;
		  	  		 	  	 }
		  	  		 	  }
		  	  		 	  &.twit {
		  	  		 	  	 &:after {
		  	  		 	  	 	background: url('../images/libraryzurb/twitter.png') no-repeat;
		  	  		 	  	 	background-position: center;
		  	  		 	  	 }
		  	  		 	  }
		  	  		 	  &.tmblr {
		  	  		 	  	 &:after {
		  	  		 	  	 	background: url('../images/libraryzurb/tumbir.png') no-repeat;
		  	  		 	  	 	background-position: center;
		  	  		 	  	 }
		  	  		 	  }
		  	  		 	  &.pntrst {
		  	  		 	  	 &:after {
		  	  		 	  	 background: url('../images/libraryzurb/pinterest.png') no-repeat;
		  	  		 	  	 background-position: center;
		  	  		 	  	}
		  	  		 	  }
                         &:hover {
		  	  		 		&:after {
		  	  		 			@include rotate(360deg);
		  	  		 		}
		  	  		 	}
		  	  		 }
		  	  	}
		  	  }
		  
	}
}
.block-title {
	font-weight: normal !important;
	text-transform: capitalize;
}
.view {
	&.view-media-photos-videos- {
	  .view-footer {
	  	button {
	  		margin-top: 20px;
	  	}
	  }
	}
}

// Drupal sytem blocks:
// .block-search {}
// .block-system {}

.owl-carousel {
	max-width: 89%;
	margin: 0 auto;

}