/**
 * Styles for buttons.
 */

// Docs: http://foundation.zurb.com/docs/v/4.3.2/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

button,
.button {
  padding: $button-sml 20px;
  background: $yellow;
  color: $black;
  margin-left: 20px;
  border: 1px solid $yellow;
  border-radius: 10px;
  font-size: 17px;
  text-transform: capitalize;
  @extend .box-shadow;
   &:hover {
     background: $button-hover !important;
     color: $black;
     outline: none;
     text-decoration: none !important;
   }
   &:focus, &.active {
   	background: $button-active !important;
   	color: $black;
   	outline: none;
   }

  a {
    color: $black;
    font-size: 17px;
    text-transform: capitalize;

    &:hover {
      outline: none;
      color: $black;
      background: $button-hover !important;
      text-decoration: none !important;
    }
    &:focus, &.active {
    	outline: none;
    	text-decoration: none !important;
    	color: $black;
    	background: $button-active !important;
    }
  }
}

