/**
 * Styles for buttons.
 */

// Docs: http://foundation.zurb.com/docs/v/4.3.2/components/buttons.html
//
// Before adding styles be sure to modify variables in the
// "scss/_variables.scss" file.

button,
.button {
  padding: $button-sml 20px;
  @include mobile {
    padding: 4px 13px 6px;
  }
  background: $yellow;
  color: $black;
  margin-left: 20px;
  border: 1px solid $yellow;
  border-radius: 10px;
  font-size: 17px;
  text-transform: capitalize;
  @include mclaren;
  @include boxshadow;
   &:hover {
     background: $button-hover;
     color: $black;
     outline: none;
     text-decoration: none;
   }
   &:focus, &.active {
   	background: $button-active;
   	color: $black;
   	outline: none;
   }

  a {
    color: $black;
    font-size: 17px;
    text-transform: capitalize;
    @include mclaren;

    &:hover {
      outline: none;
      color: $black;
      background: $button-hover;
      text-decoration: none;
      @include noborder;
    }
    &:focus, &.active {
    	outline: none;
    	text-decoration: none;
    	color: $black;
    	background: $button-active;
    }
  }
}

