body {
	-webkit-font-smoothing: antialiased;
	.main {
		margin-top: -5px;
	}
	/**common css for dashboard**/
	 /* &.page-user-profile {
	 	.homebox {
	 		#homebox-buttons {
	 			a {
	 				text-decoration: none;
	 				@extend .blue-button;
	 				font-size: 21px;
	 				margin-bottom: 10px;
	 			}
	 		}
	 		.homebox-column {
	 			background: none !important;
	 			.homebox-portlet {
	 				@extend .no-border;
	 				@extend .yellow-background;
	 				background-color: $yellow !important;
	 			 .homebox-portlet-inner {
	 			 	@extend .no-border;
	 			 	.portlet-header {
	 			 		@extend .no-border;
	 			 		background: $blue !important;
	 			 		color: $white !important;
	 			 		margin-bottom: 50px;
	 			 		@media screen and (min-width: 768px){
	 			 		font-size: 22px !important;
	 			 		padding: 10px 20px !important;
	 			 		@extend .mclaren; 
	 			 		border-radius: 20px 20px 0px 0px;
	 			 		.portlet-icon {
	 			 			visibility: hidden;
	 			 			position: relative;
	 			 			top: 5px;
	 			 			width: 20px !important;
	 			 			height: 20px !important;
	 			 			@extend .arial-regular;
	 			 			  &:after {

	 			 			  	content: " ";
	 			 			  	width: 20px;
	 			 			  	height: 20px;
	 			 			  	line-height: 20px;
	 			 			  	border-radius: 100%;
	 			 			  	background: $white;
	 			 			  	color: $orange;
	 			 			  	
	 			 			  	display: block;
	 			 			  	left: 0;
	 			 			  	top: 5px;
	 			 			  	visibility: visible;
	 			 			  	text-align: center;
	 			 			  }
	 			 			&.portlet-close {
	 			 				&:after {
	 			 					content: "x" !important;
	 			 					font-size: 14px;
	 			 				}
	 			 			}
	 			 			&.portlet-minus {
	 			 				&:after {
	 			 					content: "-" !important;
	 			 				}
	 			 			}
	 			 			&.portlet-maximize {
	 			 					display: none !important;
	 			 			}
	 			 		}
	 			 		.portlet-title {
	 			 		position: relative;
	 			 		width: 190px;
	 			 		margin-left: 40px;
	 			 		  &:after {
	 			 		  	content: "";
	 			 		  	height: 35px;
	 			 		  	width: 35px;
	 			 		  	background: url(../images/libraryzurb/right-arrow.png) no-repeat;
	 			 		  	position: absolute;
	 			 		  	right: 0;
	 			 		  }
	 			 		}
	 			 	 }
	 			 	}
	 			 }
	 			}
	 		}
	 	}
	 } */
	
	/**css for msg center**/
	&.page-messages {
		/**create-msg***/
		&.page-messages-new, &.page-messages-view {
			.main {
				form {
				width: 100%;
				max-width: 90%;
				margin: 0 auto;
				 label,div {
				 	@extend .white-text;
				 }
				.form-submit {
					@extend .yellow-button;
				}
				fieldset#edit-token {
					display: none;
				}
			 }
			}
		}
		/**end create-msg**/
		div.main {
			background: $blue;
	        overflow: hidden;
	        border-radius: 20px;
	        margin-bottom: 25px;
	        position: relative; 
	        padding: 0;
	        padding-bottom: 20px;
	        @extend .box-shadow;
	         #page-title {
			    color: $white;
	          	@extend .mclaren;
				padding-top: 26px;
				padding-bottom: 25px;
			    font-size: 28px;
				height: 110px;
				border-bottom: medium none;
				margin-top: -1px;
				padding-left:4%;
				z-index: 0;
				position: relative;
				 &:after {
				 	content: "";
				 	background: url('../images/libraryzurb/background-saffron.png') no-repeat;
				 		background-position: -35px 10px;
				 		width: 100%;
				 		height: 110px;
				 		transform: rotate(180deg);
				 		-webkit-transform: rotate(180deg);
				 		-moz-transform: rotate(180deg);
				 		-ms-transform: rotate(180deg);
				 		-o-transform: rotate(180deg);
				 		position: absolute;
				 		left: 0;
				 		top: 0;
				 		z-index: -1;

				 }
	         }
	        ul {
	        	&.pagination.pager {
	        		float: right;
	        		margin-right: 20px;
	        		 li {
	        		 	a {
	        		 		background: $yellow;
	        		 		color: $black;
	        		 		border-left: 1px solid $black;
	        		 		padding: 10px;
	        		 	}
	        		 	&.arrow {
	        		 		&.first {
	        		 			a {
	        		 				border-left: 0 !important;
	        		 				border-radius: 10px 0px 0px 10px;
	        		 			}
	        		 		}
	        		 		&.last {
	        		 			a {
	        		 				border-radius: 0px 10px 10px 0px;
	        		 			}
	        		 		}
	        		 	}
	        		 }
	        	}
	        	&.button-group {
	        		li {
	        			a {
	        				/* background: $yellow;
	        				color: $black; */
	        				font-size: 17px;
	        				@extend .yellow-button;
	        			}
	        		}
		        		&:after {
		        			clear: none !important;
		        		}
	        	}
	        	&.action-links {
	        		list-style: none;
	        		 li {
	        		 	a {
	        		 		@extend .yellow-button;
	        		 		margin-left:20px;
	        		 		font-size: 17px;
	        		 		position: relative;
	        		 		top: 8.5px;
	        		 		/*padding: 0.625em 1.125em 0.5625em;
	        		 		font-size: 0.8125em;
	        		 		border: 1px solid $yellow;
	        		 		border-radius: 10px; */
	        		 		@extend .box-shadow;
	        		 	/* 	color: $black;
	        		 		background: $yellow;
	        		 		position: relative;
	        		 		top: 5px; */
	        		 	}
	        		 }
	        	}

	        }
	        form {
	        	clear: both;
	        		 button {
        	 			font-size: 17px !important;
        	 		}
        	 	 #privatemsg-list-form {
        	 	 	table {
        	 	 		border: none;
        	 	 		margin: 0 auto !important;
        	 	 		max-width: 90%;
        	 	 		 tr {
        	 	 		 	 	th, th > a, td, td > a {
        	 	 		 	 		color: $white;
        	 	 		 	 	}
        	 	 		 	 }

        	 	 		 thead {
        	 	 		 	background: $blue;
        	 	 		 	font-weight: normal;
        	 	 		 	border-bottom: 5px solid $blue;

        	 	 		 	 
        	 	 		 }
        	 	 		 tbody {
        	 	 		 	border-top: none;
        	 	 		 	.privatemsg-unread td {
        	 	 		 		font-weight: normal;
        	 	 		 	}
        	 	 		 	 tr.even, tr.odd {
        	 	 		 	 	border-bottom: none;
        	 	 		 	 	background-color: $blue;
        	 	 		 	 }

        	 	 		 }
        	 	 		 tr.even, tr.alt, tr:nth-of-type(2n) {
        	 	 		 	background: $blue;
        	 	 		 }

        	 	 	}
        	 	 	.container-inline {
        	 	 		width: 100%;
        	 	 		padding-bottom: 20px;
        	 	 		max-width: 480px;
        	 	 		margin: 0 auto;

        	 	 		  div {
        	 	 		  	 &.form-type-textfield {
        	 	 		  	 	display: none;
        	 	 		  	 }
        	 	 		  	 &.form-type-select {
        	 	 		  	 	.chosen-container-single {
        	 	 		  	 		width: 200px !important;
        	 	 		  	 		 .chosen-single {
        	 	 		  	 		 	font-size: 17px;
        	 	 		  	 		 	@extend .yellow-button;
        	 	 		  	 		 	padding: 13px 20px 10px;
        	 	 		  	 		 	height: auto !important;
        	 	 		  	 		 	position: relative;
        	 	 		  	 		 	bottom: 2px;
        	 	 		  	 		 	/* font-size: 14px;
        	 	 		  	 		 	background: $yellow !important; */
        	 	 		  	 		 	@extend .box-shadow;
        	 	 		  	 		 	/* border: 1px solid $yellow;
        	 	 		  	 		 	color: $black;
        	 	 		  	 		 	padding: 7px 20px;
        	 	 		  	 		 	height: auto !important;
        	 	 		  	 		 	border-radius: 10px; */
        	 	 		  	 		 	  div {
        	 	 		  	 		 	  	top: 8px;
        	 	 		  	 		 	  }
        	 	 		  	 		 }
        	 	 		  	 	}
        	 	 		  	 }
        	 	 		  }
        	 	 	}
        	 	 }
	        	 fieldset {
	        	 	border: none;
	        	 	 legend {
	        	 	 	background: none;
	        	 	 	font-weight: normal;
	        	 	 	margin-top: 15px;

	        	 	 	 a {
	        	 	 	 	@extend .yellow-button;
	        	 	 	 	/* background: $yellow;
	        	 	 	 	color: $black;
	        	 	 	 	border: 1px solid $yellow; */
	        	 	 	 	@extend .box-shadow;
	        	 	 	 	/* border-radius: 10px;
	        	 	 	 	padding: 0.625em 1.125em 0.5625em;
	        		 		font-size: 0.8125em; */
	        		 		font-size: 17px;
	        	 	 	 	

	        	 	 	 }

	        	 	 }
	        	 	.form-item {
	        	 		label {
	        	 			color: $white;
	        	 			text-align: left !important;
	        	 			padding-bottom: 5px;
	        	 		}

	        	 	}

	        	 }

	        }
	     }
	}
 /**msg center css end**/
 /**css for page-reviews **/
  &.page-reviews,  &.page-booklists  {
  	 #page-title {
  	 	@extend .black-text;
  	 }
  	 .view-header {
  	 	p {
  	 		a {
  	 			color: $blue;
  	 			 &:hover, &:focus {
  	 			 	color: $blue;
  	 			 }
  	 		}
  	 	}
  	 }
     .pull-9.sidebar {
     	width: 29.53%;
     	right: 69.4%;
     	padding-left: 2.65%;
     	padding-right: 2.65%;
     }

  	 .sidebar {
  	 	background: $blue;
  	 	color: $white;
  	 	padding-top: 25px;
  	 	padding-bottom: 25px;
  	 	border-radius: 20px;
  	 	@extend .box-shadow;
		  .block-title {
  	 	  	@extend .white-text;
  	 	  	font-size: 22px;
  	 	  	margin-top: 6px;
  	 	  }
  	 	  p {
  	 	  	 color: white;
  	 	  	 &.button {
  	 	  	 	@extend .yellow-button;
  	 	  	 	margin-left: 0 !important;
  	 	  	 	margin-bottom: 24px;
  	 	  	 }
  	 	  }
  	 	  .toogle-follow {
  	 	  	display: none;
  	 	  }
  	 	  .view.view-my-book-reviews, .view.view-booklist-on-activities-page {
  	 	  	margin-top: 40px;
  	 	  }
  	 	  .reviews-block-block {
  	 	    margin: 0 auto !important;
  	 	    .view-content {
  	 	    	ol {
  	 	    		margin-left: 5%;
  	 	    		 .views-field-title {
  	 	    		 	a {
  	 	    		 		@extend .white-text;
  	 	    		 		border-bottom: 1px solid $white;
  	 	    		 	}
  	 	    		 }
  	 	    		 .views-field-count {
  	 	    		 	 .field-content {
  	 	    		 	 	position: relative;
  	 	    		 	 	top: 10px;
  	 	    		 	 }
  	 	    		 	 .views-label {
  	 	    		 	 	position: relative;
  	 	    		 	 	top: 10px;
  	 	    		 	 	padding-right: 35px;
  	 	    		 	 	 &:after {
  	 	    		 	 	 	content: "";
  	 	    		 	 	 	height: 30px;
  	 	    		 	 	 	width: 30px;
  	 	    		 	 	 	display: block;
  	 	    		 	 	 	background-size: 30px;
  	 	    		 	 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
  	 	    		 	 	 	position: absolute;
  	 	    		 	 	 	top: -4px;
  	 	    		 	 	 	right: 0;
  	 	    		 	 	 }
  	 	    		 	 }
  	 	    		 }
  	 	    	}
  	 	    }
  	 	   .view-header {
  	 	  		h3:nth-of-type(1) {
  	 	  			a {
	  	 	  			@extend .white-text;
	  	 	  			font-size: 21px !important;
	  	 	  		}
           		 }
           		 h3 {
           		 	font-size: 17px !important;
           		 	@extend .arial-bold;
           		 	color: $white;
           		 	margin-bottom: 15px;
           		 	  a {
	           		 	  	font-size: 17px !important;
	           		 		@extend .arial-bold;
	           		 		color: $white;
           		 	  }
           		 }
            }
  	 	  }
  	 } 
  	  .view {
  	  	.view-filters {
  	  		@extend .yellow-background;
  	  		 form {
  	  		 	 margin: 0 !important;
  	  		 	.views-exposed-form {
	  	  		 	padding: 3px 2.8% 12px 3.4%;
	  	  		 	border: none;
	  	  		 	  .views-exposed-widget {
	  	  		 	  	width: 25%;
	  	  		 	  	padding-left: 1%;
	  	  		 	  	padding-right: 0;
	  	  		 	  	padding-top: 17px;
	  	  		 	  	 .chosen-container {
	  	  		 	  	 	width: 100% !important;
	  	  		 	  	 }
	  	  		 	  	 input[type="text"] {
	  	  		 	  	 	height: 40px;
	  	  		 	  	 	position: relative;
	  	  		 	  	 	top: 3px;
	  	  		 	  	 }
	  	  		 	  }
	  	  		 	  label {
	  	  		 	  	@extend .black-text;
	  	  		 	  	font-size: 16px;
	  	  		 	  	/* padding-bottom: 5px; */
	  	  		 	  }
	  	  		 	  .chosen-processed {
	  	  		 	  	.chosen-search {
	  	  		 	  		input {
	  	  		 	  	      background: $white;
	  	  		 	     	}
	  	  		 	  	}
	  	  		 	  	.chosen-drop {
	  	  		 	  		background: $blue;
	  	  		 	  			.chosen-results {
	  	  		 	  				li a {
	  	  		 	  					background: $blue;
	  	  		 	  					@extend .white-text;
	  	  		 	  					 &:hover, &:focus {
	  	  		 	  					 	background: $blue;
	  	  		 	  					 	@extend .white-text;
	  	  		 	  					 }
	  	  		 	  				}
	  	  		 	  			}
	  	  		 	  	}
	  	  		 	  	a {

	  	  		 	  	    @extend .blue-button;
	  	  		 	  	    height: auto !important;
	  	  		 	  	    border: none;
	  	  		 	  	     div {
		  	  		 	  		b{
		  	  		 	  			visibility: hidden;
		  	  		 	  			position: relative;
		  	  		 	  			  &:after {
		  	  		 	  			  	content: "";
		  	  		 	  			  	border-left: 5px solid transparent;
		  	  		 	  			  	border-right: 5px solid transparent;
		  	  		 	  			  	border-top: 5px solid $white;
		  	  		 	  			  	position: absolute;
		  	  		 	  			  	top: 45%;
		  	  		 	  			  	display: block;
		  	  		 	  			  	left: 0;
		  	  		 	  			  	visibility: visible;
		  	  		 	  			  }
		  	  		 	  		}

	  	  		 	  		}
	  	  		 	  	  }
	  	  		 	  	
	  	  		 	  }

	  	  		 	.views-submit-button {
	  	  		 		button {
	  	  		 			@extend .blue-button;
	  	  		 			margin-top: 17px;
	  	  		 			line-height: 1.2;
	  	  		 			text-transform: capitalize;
	  	  		 			margin-left: 0;
	  	  		 		}
	  	  		 	}
	  	  		}
  	  		 }
  	  	}
  	  }
  }
  &.page-reviews {
  	 counter-reset: section;
  	 .main {
	  	 .view-content {
	  	 	.views-row img {
	  	 		@extend .no-border;
	  	 	}
	  	 	.item-list {
	  	 		ol {
	  	 			list-style: none;
	  	 			 display: table;

	  	 			li {
	  	 				margin-bottom: 0;
	  	 				display: table-row;
	  	 				width: 100%;
	  	 				position: relative;
	  	 				 float: left;
	  	 				 border-bottom: 1px solid $gray;
	  	 				 padding-top: 35px;
	  	 				 padding-bottom: 35px;
	  	 				.views-field {
	  	 					

	  	 					 &.views-field-title {
	  	 					 	 padding-left: 4%;
	  	 					 	 padding-top: 20px;
	  	 					 	 display: table-cell;
	  	 					 	 float: left;
	  	 					 	a {
	  	 					 		font-size: 20px;
	  	 					 	}
	  	 					 }
	  	 					 &.views-field-count {
	  	 					 	position: relative;
	  	 					 	top: 20px;
	  	 					 }
	  	 					 &.views-field-body {
	  	 					 	/* padding-left: 4% !important;
	  	 					 	padding-top: 18px; */
	  	 					 	@extend .arial-regular;
	  	 					 }
	  	 					 &.views-field-nothing {
	  	 					 	/* padding-left: 4% !important; */
	  	 					 	 div {
	  	 					 	 	 float: left; 
	  	 					 	 	&.date {
	  	 					 	 		width: 70%;
	  	 					 	 		display: table-row; 
	  	 					 	 		@extend .arial-regular;
	  	 					 	 		padding-top: 23px;

	  	 					 	 	}
	  	 					 	 	&.field-name-field-avatar-image {
	  	 					 	 		position: relative;
	  	 					 	 		height: 41px;
	  	 					 	 		padding: 5px;
	  	 					 	 		bottom: 19px;

	  	 					 	 		img {
		  	 					 	 	
		  	 					 	 		margin: 0 !important;
	  	 					 	 	   }
	  	 					 	 	}
	  	 					 	 }
	  	 					 }
	  	 					 &.views-field-field-author-last-name {
	  	 					 	font-size: 20px;
	  	 					 	float: left;
	  	 					 	display: table-cell;
	  	 					 	padding-top: 20px;
	  	 					 	padding-left: 5px;
	  	 					 }
	  	 					 &.views-field-view-node {
	  	 					 	span {
	  	 					 		&.button {
	  	 					 			visibility: hidden;
	  	 					 			a {
                                          visibility: visible;
	  	 					 			}
	  	 					 		}
	  	 					 	}
	  	 					 }
	  	 					 &.views-field-title, &.views-field-php {
	  	 					 	a {
	  	 					 		@extend .blue-text;
	  	 					 	}
	  	 					 }
	  	 					 &.views-field-count {
	  	 					 	text-align: right;
	  	 					 	width: 20%;
	  	 					 	float: right;
	  	 					 	display: table-row;
	  	 					 	.views-label-count {
			  	 			 		position: relative;
			  	 			 		padding-right: 35px;
			  	 			 		&:after {
			  	 			 			content: "";
			  	 	    		 	 	height: 30px;
			 	    		 	 	 	width: 30px;
			 	    		 	 	 	display: block;
			 	    		 	 	 	background-size: 30px;
			 	    		 	 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
			 	    		 	 	 	position: absolute;
			 	    		 	 	 	top: 0;
			 	    		 	 	 	right: 0;
			  	 			 		}
			  	 			 	}
	  	 					 }

	  	 					 &.views-field-field-book-cover-image-link {
	  	 					 	display: table-cell;
	  	 					 	float: left;
	  	 					 	width: 30%;
	  	 					 	padding: 0px;
	  	 					 	table {
	  	 					 		margin: 0 !important;
	  	 					 		@extend .no-border;
	  	 					 		 tbody {
	  	 					 		  	@extend .no-border;
	  	 					 		  	 td {
	  	 					 		  	 	padding: 0;
	  	 					 		  	 	img {
	  	 					 		  	 		margin: 0;
	  	 					 		  	 		padding: 0;
	  	 					 		  	 		 @media screen and (max-width: 1278px) {
	  	 					 		  	 		 	width: 100% !important;
	  	 					 		  	 		 	height: auto !important;

	  	 					 		  	 		 }
	  	 					 		  	 		 @media screen and (min-width: 1279px) {
	 		  	 		 		 		  	 		width: 242px !important;
	 		  	 									height: 361px !important;
	  	 					 		  	 		 }
	  	 					 		  	 	}
	  	 					 		  	 }
	  	 					 		  }
	  	 					 	}
	  	 					 }
	  	 					 &.views-field-body, &.views-field-nothing {
	  	 					 	padding-top: 23px;
	  	 					 }
	  	 					 &.views-field-nothing,&.views-field-body {
	  	 					 	width: 70%;
	  	 					 	float: right;
	  	 					 	display: table-row; 
	  	 					 	padding-left: 4%;
	  	 					 }
	  	 					 &.views-field-field-user-avatar {
	  	 					 	img {
	  	 					 		float: left;
	  	 					 	}
	  	 					 }
	  	 					 &.views-field-view-node {
	  	 					 	display: table-row;
	  	 					 	width: 70%;
	  	 					 	float: right;
	  	 					 	padding-left: 4%;
	  	 					 	/* width: 50%;
	  	 					 	float: none !important;
	  	 					 	margin: 0 auto;
	  	 					 	position: relative;
	  	 					 	top: 23px;
	  	 					 	right: 6px; */
	  	 					 	 .button {
	  	 					 	 	  padding: 0 !important;
	  	 					 	 	  margin: 23px 0 0;
	  	 					 	 
	  	 					 	 		/* @extend .blue-button; */
	  	 					 	 		a {
	  	 					 	 			@extend .blue-button;
	  	 					 	 		}
	  	 
	  	 					 	 }
	  	 					 }
	  	 				}
	  	 				font-size: 17px;
	  	 				.views-field-title {
	  	 					&:before {
	  	 						counter-increment: section;            
	 							 content: " " counter(section) ". "
	  	 					}
	  	 				}
	  	 			}
	  	 		}
	  	 	}
	  	 }
	  	 
	 }

  }
  &.page-booklists {
  	.l-header .row.header-middle section.block-menu-menu-secoundary-menu ul.menu li a.reviews::after {
  		background: url('../images/libraryzurb/reviewactive.png') no-repeat !important;
  	}
  	.main {
	  	.view-content {
	  	 	.item-list {
	  	 		ol {
	  	 			margin-left: 20px;
	  	 			li {
	  	 				font-size: 17px;
	  	 			 .views-field-php {
	  	 			 	a {
	  	 			 		color: $blue;
	  	 			 		font-size: 21px;
	  	 			 		  &:hover {
	  	 			 		  	color: $blue;
	  	 			 		  }
	  	 			 	}
	  	 			 }
	  	 			 .views-field-count {
	  	 			 	.views-label-count {
	  	 			 		position: relative;
	  	 			 		padding-right: 35px;
	  	 			 		&:after {
	  	 			 			content: "";
	  	 	    		 	 	height: 30px;
	 	    		 	 	 	width: 30px;
	 	    		 	 	 	display: block;
	 	    		 	 	 	background-size: 30px;
	 	    		 	 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
	 	    		 	 	 	position: absolute;
	 	    		 	 	 	top: 0;
	 	    		 	 	 	right: 0;
	  	 			 		}
	  	 			 	}
	  	 			 }
	  	 			 .views-field-count {
	  	 			 	float: right;
	  	 			 }
	  	 			 .field-name-field-avatar-image {
	  	 			 	img {
	  	 			 		float: left;
	  	 			 	}
	  	 			 }
	  	 			 .views-field-title {
	  	 			 	a {
	  	 			 		font-size: 21px;
	  	 			 		color: $blue;
	  	 			 		 &:hover {
	  	 			 		 	color: $blue;
	  	 			 		 }
	  	 			 	}
	  	 			 }
	  	 			}
	  	 		}
	  	 	}
	  	 }
	  	.view-booklist-slideshow {
	  		.owl-carousel {
	  			position: relative;
	  			 .owl-item {
	  			 	.views-field-field-booklist-cover-image {
	  			 		width: 150px;
	  			 	}
	  			 }
	  			 .views-field-title {
	  			 	font-size: 21px;
	  			 	 .field-content {
	  			 	 	a {
	  			 	 		color: $blue;
	  			 	 		@extend .mclaren;
	  			 	 		 &:hover, &:focus {
	  			 	 		 	color: $blue;
	  			 	 		 }
	  			 	 	}
	  			 	 }
	  			 }
	  			 .views-field-nothing {
	  			 	width: 70%;
	  			 	float: left;
	  			 	margin-top: 20px;

	  			 	  div {
	  			 	  	float: left;
	  			 	  	color: $black;
	  			 	  	 &:first-child {
	  			 	  	 	width: 100px;
	  			 	  	 }
	  			 	  	 &.field-name-field-avatar-image {
	  			 	  	 	width: 45px;
	  			 	  	 }
	  			 	  	 a.username {
	  			 	  	 	color: $blue;
	  			 	  	 	font-size: 21px;
	  			 	  	 	  &:hover {
	  			 	  	 	  	color: $blue;
	  			 	  	 	  }
	  			 	  	 }
	  			 	  }
	  			 }
	  			 .views-field-count {
	  			 	width: 30%;
	  			 	float: left;
	  			 	text-align: right;
	  			 	margin-top: 20px;
	  			 	  span {
	  			 	  	color: $black;
	  			 	  	position: relative;
	  			 	  	 &.views-label {
	  			 	  	 	padding-right: 35px;
	  			 	  	 	  &:after {
	  			 	  	 	  	content: "";
	 	    		 	 	 	height: 35px;
	 	    		 	 	 	width: 35px;
	 	    		 	 	 	display: block;
	 	    		 	 	 	background-size: 30px;
	 	    		 	 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
	 	    		 	 	 	position: absolute;
	 	    		 	 	 	top: 0;
	 	    		 	 	 	right: -3px;
	  			 	  	 	  }
	  			 	  	 }
	  			 	  }
	  			 }
	  			 .owl-pagination {
	  			 	display: none;
	  			 }
	  			 .owl-buttons {
	  			 	width: 100%;
	  			 	position: absolute;
	  			 	top: 30%;
	  			 	 .owl-prev {
	  			 	 	float: left;
	  			 	 	visibility: hidden;
	  			 	 	position: relative;
	  			 	 	opacity: 1;
	  			 	 	  &:before {
	  			 	 	  	content: "";
	  			 	 	  	width: 30px;
	  			 	 	  	height: 30px;
	  			 	 	  	display: block;
	  			 	 	  	visibility: visible;
	  			 	 	  	background: url('../images/libraryzurb/left-blue-arrow.png') no-repeat;
	  			 	 	  	background-size: 25px;
	  			 	 	  	position: absolute;
	  			 	 	  	left: -40px;
	  			 	 	  	top: 0;
	  			 	 	  }
	  			 	 }
	  			 	 .owl-next {
	  			 	 	float: right;
	  			 	 	visibility: hidden;
	  			 	 	position: relative;
	  			 	 	opacity: 1;
	  			 	 	  &:after {
	  			 	 	  	content: "";
	  			 	 	  	width: 30px;
	  			 	 	  	height: 30px;
	  			 	 	  	display: block;
	  			 	 	  	visibility: visible;
	  			 	 	  	background: url('../images/libraryzurb/right-blue-arrow.png') no-repeat;
	  			 	 	  	background-size: 25px;
	  			 	 	  	position: absolute;
	  			 	 	  	right: -37px;
	  			 	 	  	top: 0;
	  			 	 	  }
	  			 	 }
	  			 }
	  		}
	  	}
	  }
	}
}
/**activities page **/
.section-activities {
 .main {
 .view-activities-page-, .block-block {
 	@extend .orange-blue;
 	padding-bottom: 20px;
 	 p, .view-content {
 	 	padding-left: 20px;
 	 	padding-right: 20px;
 	 }
 	 div {
 	 	a {
 	 		padding-left: 20px;
 	 	}
 	 }
 }
}
.sidebar {
	.block-views {
		@extend .orange-blue;
		padding-bottom: 20px;
		 &:first-child {
		 	ul {
		 		list-style: none !important;
		 	}
		 }
		 .view-footer {
		 	padding-left: 20px;
		 	margin-top: 10px;
		 	p {
		 		a {
		 			@extend .yellow-button;
		 			@extend .box-shadow;
		 		}
		 	}
		 }
		 .views-field-title {
		 	padding-bottom: 10px;
		 }
		 .views-field-count {
		 	.views-label {
		 		padding-right: 32px;
		 		@extend .like;
		 	}
		 }
		 h3 {
		 	@extend .white-text;
		 	margin-top: 20px;
		 	text-align: center;
		 }
		 ul {
		 	list-style: ideograph-numeric;
		 	margin-left: 20px;
		 	 	a {
		 	 		@extend .white-text;
		 	 		border-bottom: 1px solid $white;
		 	 		font-size: 17px;
		 	 	}
		 }
	}
}

}
/**css for progress page**/
 .section-progress {
 	 .main {
 	 	@extend .blue-background;
 	 	padding-left: 0;
 	 	padding-right: 0;
 	 	 #page-title {
 	 	 	@extend .wave-img;
 	 	 }
 	 	 .view-calendar-sticker {
 	 	 	@extend .yellow-background;
 	 	 	width: 100%;
 	 	 	max-width: 95%;
 	 	 	margin: 0 auto;
 	 	 	position: relative;
 	 	 	
 	 	 	 .view-header {
 	 	 	 	
 	 	 	 	width: 48%;
 	 	 	 	padding: 20px 0 20px 2%;
 	 	 	 	left: 0;
 	 	 	 	 p {
 	 	 	 	 	margin-bottom: 0;
 	 	 	 	 	color: $black;
 	 	 	 	 	  &.heading {
 	 	 	 	 	  	font-size: 21px;
 	 	 	 	 	  }
 	 	 	 	 }
 	 	 	 }
 	 	 	 .view-content {
 	 	 	 	position: relative;
 	 	 	 	width: 100%;
 	 	 	 	max-width: 53%;
 	 	 	 	display: inline-block;
 	 	 	 	.views-row {
 	 	 	 		float: left;
 	 	 	 		width: 20%;
 	 	 	 		clear: none !important;
 	 	 	 		max-width: 100px;
 	 	 	 		height: 110px;
 	 	 	 		display: flex;
 	 	 	 		align-items: center;
 	 	 	 		align-content: center;
 	 	 	 		 img {
 	 	 	 		 	border: none;
 	 	 	 		 }


 	 	 	 	}
 	 	 	 }
 	 	 }
 	 	.block {
 	 		&.progress-calendar {
 	 			width: 100%;
 	 			max-width: 95%;
 	 			margin: 20px auto;
 	 			 .block-title {
 	 			 	display: none;
 	 			 }
 	 			 #calendar {
 	 			 	.fc-header {
 	 			 		border: none;
 	 			 		background: none;
 	 			 		 .fc-header-center {
 	 			 		 	h2 {
 	 			 		 		color: $orange;
 	 			 		 		@extend .mclaren;
 	 			 		 		border-bottom: none;
 	 			 		 		@extend .box-shadow;
 	 			 		 	}
 	 			 		 }
 	 			 		 tbody {
 	 			 		 	border-top: none;
 	 			 		 }
 	 			 		 td {
 	 			 		 	span {
 	 			 		 		&.fc-button {
 	 			 		 			background: $yellow;
 	 			 		 			@extend .box-shadow;
 	 			 		 			opacity: 1 !important;
 	 			 		 			color: $black;
 	 			 		 			 &.fc-button-agendaWeek, &.fc-button-agendaDay, &.fc-button-month {
 	 			 		 			 	display: none;
 	 			 		 			 }
 	 			 		 		}
 	 			 		 	}
 	 			 		 }
 	 			 	}
 	 			 	.fc-content {
 	 			 		color: $black;
 	 			 		.fc-border-separate {
 	 			 			margin-bottom: 0;
 	 			 			border: none;
 	 			 			 .fc-day-header {
 	 			 			 	padding-bottom: 5px;
 	 			 			 	color: $white;
 	 			 			 	font-weight: normal !important;
 	 			 			 }
 	 			 			 tbody {
 	 			 			 	@extend .box-shadow;
 	 			 			 }
 	 			 		}
 	 			 		.fc-widget-header{
 	 			 			border: none;
 	 			 			background: $blue;
 	 			 			}
 	 			 		.fc-widget-content {
 	 			 			border: 1px solid $orange;
 	 			 		}
 	 			 		.fc-day {
 	 			 			.fc-day-number {
 	 			 				color: $blue;
 	 			 			}
	 	 			 		&.fc-state-highlight {
	 	 			 			.fc-day-number {
	 	 			 				color: $orange !important;
	 	 			 			}
	 	 			 		}
 	 			 		}
 	 			 	}
 	 			 }
 	 		}
 	 	}
 	}
 }
