body {
	/**css for msg center**/
	&.page-messages {
		div.main {
			background: $blue;
	        overflow: hidden;
	        border-radius: 20px;
	        margin-bottom: 25px;
	        position: relative; 
	        padding: 0;
	        padding-bottom: 20px;
	         #page-title {
			    color: $white;
	          	font-family: McLaren-Regular !important;
				padding-top: 26px;
				padding-bottom: 25px;
			    font-size: 28px;
				height: 110px;
				border-bottom: medium none;
				margin-top: -1px;
				padding-left:4%;
				z-index: 0;
				position: relative;
				 &:after {
				 	content: "";
				 	background: url('../images/libraryzurb/background-saffron.png') no-repeat;
				 		background-position: -35px 10px;
				 		width: 100%;
				 		height: 110px;
				 		transform: rotate(180deg);
				 		-webkit-transform: rotate(180deg);
				 		-moz-transform: rotate(180deg);
				 		-ms-transform: rotate(180deg);
				 		-o-transform: rotate(180deg);
				 		position: absolute;
				 		left: 0;
				 		top: 0;
				 		z-index: -1;

				 }
	         }
	        ul {
	        	&.pagination.pager {
	        		float: right;
	        		margin-right: 20px;
	        		 li {
	        		 	a {
	        		 		background: $yellow;
	        		 		color: $black;
	        		 		border-left: 1px solid $black;
	        		 		padding: 10px;
	        		 	}
	        		 	&.arrow {
	        		 		&.first {
	        		 			a {
	        		 				border-left: 0 !important;
	        		 				border-radius: 10px 0px 0px 10px;
	        		 			}
	        		 		}
	        		 		&.last {
	        		 			a {
	        		 				border-radius: 0px 10px 10px 0px;
	        		 			}
	        		 		}
	        		 	}
	        		 }
	        	}
	        	&.button-group {
	        		li {
	        			a {
	        				background: $yellow;
	        				color: $black;
	        			}
	        		}
		        		&:after {
		        			clear: none !important;
		        		}
	        	}
	        	&.action-links {
	        		list-style: none;
	        		 li {
	        		 	a {
	        		 		margin-left:20px;
	        		 		padding: 0.363em 1.125em 0.425em;
	        		 		border: 1px solid $yellow;
	        		 		border-radius: 10px;
	        		 		box-shadow: 2px 3px $buttonshadow;
	        		 		color: $black;
	        		 		background: $yellow;
	        		 		position: relative;
	        		 		top: 5px;
	        		 	}
	        		 }
	        	}

	        }
	        form {
	        	clear: both;
	        		 button {
        	 			font-size: 14px !important;
        	 		}
        	 	 #privatemsg-list-form {
        	 	 	table {
        	 	 		border: none;
        	 	 		margin: 0 auto !important;
        	 	 		max-width: 90%;
        	 	 		 tr {
        	 	 		 	 	th, th > a, td, td > a {
        	 	 		 	 		color: $white;
        	 	 		 	 	}
        	 	 		 	 }

        	 	 		 thead {
        	 	 		 	background: $blue;
        	 	 		 	font-weight: normal;
        	 	 		 	border-bottom: 5px solid $blue;

        	 	 		 	 
        	 	 		 }
        	 	 		 tbody {
        	 	 		 	border-top: none;
        	 	 		 	.privatemsg-unread td {
        	 	 		 		font-weight: normal;
        	 	 		 	}
        	 	 		 	 tr.even, tr.odd {
        	 	 		 	 	border-bottom: none;
        	 	 		 	 	background-color: $blue;
        	 	 		 	 }

        	 	 		 }
        	 	 		 tr.even, tr.alt, tr:nth-of-type(2n) {
        	 	 		 	background: $blue;
        	 	 		 }

        	 	 	}
        	 	 	.container-inline {
        	 	 		width: 100%;
        	 	 		padding-bottom: 20px;
        	 	 		max-width: 480px;
        	 	 		margin: 0 auto;

        	 	 		  div {
        	 	 		  	 &.form-type-textfield {
        	 	 		  	 	display: none;
        	 	 		  	 }
        	 	 		  	 &.form-type-select {
        	 	 		  	 	.chosen-container-single {
        	 	 		  	 		width: 200px !important;
        	 	 		  	 		 .chosen-single {
        	 	 		  	 		 	font-size: 14px;
        	 	 		  	 		 	background: $yellow !important;
        	 	 		  	 		 	box-shadow: 2px 3px $buttonshadow;
        	 	 		  	 		 	border: 1px solid $yellow;
        	 	 		  	 		 	color: $black;
        	 	 		  	 		 	padding: 7px 20px;
        	 	 		  	 		 	height: auto !important;
        	 	 		  	 		 	border-radius: 10px;
        	 	 		  	 		 	  div {
        	 	 		  	 		 	  	top: 8px;
        	 	 		  	 		 	  }
        	 	 		  	 		 }
        	 	 		  	 	}
        	 	 		  	 }
        	 	 		  }
        	 	 	}
        	 	 }
	        	 fieldset {
	        	 	border: none;
	        	 	 legend {
	        	 	 	background: none;
	        	 	 	font-weight: normal;
	        	 	 	margin-top: 15px;

	        	 	 	 a {
	        	 	 	 	background: $yellow;
	        	 	 	 	color: $black;
	        	 	 	 	border: 1px solid $yellow;
	        	 	 	 	box-shadow: 2px 3px $buttonshadow;
	        	 	 	 	border-radius: 10px;
	        	 	 	 	padding: 0.363em 1.125em 0.425em;
	        	 	 	 	  &:hover, &:focus {
	        	 	 	 	  	outline: none;
	        	 	 	 	  }
	        	 	 	 	

	        	 	 	 }

	        	 	 }
	        	 	.form-item {
	        	 		label {
	        	 			color: $white;
	        	 			text-align: left !important;
	        	 			padding-bottom: 5px;
	        	 		}

	        	 	}

	        	 }

	        }
	     }
	}
 /**msg center css end**/
 /**css for page-reviews **/
  &.page-reviews,  &.page-booklists  {
  	 #page-title {
  	 	@extend .black-text;
  	 }
  	 .view-header {
  	 	p {
  	 		a {
  	 			color: $blue;
  	 			 &:hover, &:focus {
  	 			 	color: $blue;
  	 			 }
  	 		}
  	 	}
  	 }

  	 .sidebar {
  	 	background: $blue;
  	 	color: $white;
  	 	padding-top: 20px;
  	 	border-radius: 20px;
  	 	box-shadow: 17px 22px 31px -22px $black;
  	 	  .block-title {
  	 	  	@extend .white-text;
  	 	  	font-size: 21px !important;
  	 	  	margin-top: 50px;
  	 	  }
  	 	  p {
  	 	  	@extend .white-text;
  	 	  	 &.button {
  	 	  	 	@extend .yellow-button;
  	 	  	 }
  	 	  }
  	 	  .toogle-follow {
  	 	  	display: none;
  	 	  }
  	 	  .reviews-block-block {
  	 	    margin: 0 auto !important;
  	 	    .view-content {
  	 	    	ol {
  	 	    		margin-left: 5%;
  	 	    		 .views-field-title {
  	 	    		 	a {
  	 	    		 		@extend .white-text;
  	 	    		 		border-bottom: 1px solid $white;
  	 	    		 	}
  	 	    		 }
  	 	    		 .views-field-count {
  	 	    		 	 .field-content {
  	 	    		 	 	position: relative;
  	 	    		 	 	top: 10px;
  	 	    		 	 }
  	 	    		 	 .views-label {
  	 	    		 	 	position: relative;
  	 	    		 	 	top: 10px;
  	 	    		 	 	padding-right: 35px;
  	 	    		 	 	 &:after {
  	 	    		 	 	 	content: "";
  	 	    		 	 	 	height: 30px;
  	 	    		 	 	 	width: 30px;
  	 	    		 	 	 	display: block;
  	 	    		 	 	 	background-size: 30px;
  	 	    		 	 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
  	 	    		 	 	 	position: absolute;
  	 	    		 	 	 	top: 0;
  	 	    		 	 	 	right: 0;
  	 	    		 	 	 }
  	 	    		 	 }
  	 	    		 }
  	 	    	}
  	 	    }
  	 	   .view-header {
  	 	  		h3:nth-of-type(1) {
  	 	  			a {
	  	 	  			@extend .white-text;
	  	 	  			font-size: 21px !important;
	  	 	  		}
           		 }
           		 h3 {
           		 	font-size: 17px !important;
           		 	font-family: Arialregular !important;
           		 	font-weight: normal !important;
           		 	color: $white;
           		 	  a {
	           		 	  	font-size: 17px !important;
	           		 		font-family: Arialregular !important;
	           		 		font-weight: normal !important;
	           		 		color: $white;
           		 	  }
           		 }
            }
  	 	  }
  	 } 
  	  .view {
  	  	.view-filters {
  	  		@extend .yellow-background;
  	  		 form {
  	  		 	.views-exposed-form {
	  	  		 	padding: 1.5em 1em 0.5em;
	  	  		 	border: none;
	  	  		 	  label {
	  	  		 	  	@extend .black-text;
	  	  		 	  	padding-bottom: 5px;
	  	  		 	  }
	  	  		 	  .chosen-processed {
	  	  		 	  	.chosen-search {
	  	  		 	  		input {
	  	  		 	  	      background: $white;
	  	  		 	     	}
	  	  		 	  	}
	  	  		 	  	.chosen-drop {
	  	  		 	  		background: $blue;
	  	  		 	  			.chosen-results {
	  	  		 	  				li a {
	  	  		 	  					background: $blue;
	  	  		 	  					@extend .white-text;
	  	  		 	  					 &:hover, &:focus {
	  	  		 	  					 	background: $blue;
	  	  		 	  					 	@extend .white-text;
	  	  		 	  					 }
	  	  		 	  				}
	  	  		 	  			}
	  	  		 	  	}
	  	  		 	  	a {

	  	  		 	  	    @extend .blue-button;
	  	  		 	  	    height: 40px;
	  	  		 	  	    border: none;
	  	  		 	  	     div {
		  	  		 	  		b{
		  	  		 	  			visibility: hidden;
		  	  		 	  			position: relative;
		  	  		 	  			  &:after {
		  	  		 	  			  	content: "";
		  	  		 	  			  	border-left: 5px solid transparent;
		  	  		 	  			  	border-right: 5px solid transparent;
		  	  		 	  			  	border-top: 5px solid $white;
		  	  		 	  			  	position: absolute;
		  	  		 	  			  	top: 45%;
		  	  		 	  			  	display: block;
		  	  		 	  			  	left: 0;
		  	  		 	  			  	visibility: visible;
		  	  		 	  			  }
		  	  		 	  		}

	  	  		 	  		}
	  	  		 	  	  }
	  	  		 	  	
	  	  		 	  }

	  	  		 	.views-submit-button {
	  	  		 		button {
	  	  		 			@extend .blue-button;
	  	  		 		}
	  	  		 	}
	  	  		}
  	  		 }
  	  	}
  	  }
  }
  &.page-reviews {
  	 counter-reset: section;
  	 .main {
	  	 .view-content {
	  	 	.item-list {
	  	 		ol {
	  	 			list-style: none;
	  	 			li {
	  	 				.views-field {
	  	 					float: left;
	  	 					padding-left: 5px;
	  	 					padding-right: 5px;
	  	 					 &.views-field-view-node {
	  	 					 	span {
	  	 					 		&.button {
	  	 					 			visibility: hidden;
	  	 					 			a {
                                          visibility: visible;
	  	 					 			}
	  	 					 		}
	  	 					 	}
	  	 					 }
	  	 					 &.views-field-title, &.views-field-php {
	  	 					 	a {
	  	 					 		@extend .blue-text;
	  	 					 	}
	  	 					 }
	  	 					 &.views-field-count {
	  	 					 	text-align: right;
	  	 					 	.views-label-count {
			  	 			 		position: relative;
			  	 			 		padding-right: 35px;
			  	 			 		&:after {
			  	 			 			content: "";
			  	 	    		 	 	height: 30px;
			 	    		 	 	 	width: 30px;
			 	    		 	 	 	display: block;
			 	    		 	 	 	background-size: 30px;
			 	    		 	 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
			 	    		 	 	 	position: absolute;
			 	    		 	 	 	top: 0;
			 	    		 	 	 	right: 0;
			  	 			 		}
			  	 			 	}
	  	 					 }

	  	 					 &.views-field-field-book-cover-image-link {
	  	 					 	width: 30%;
	  	 					 }
	  	 					 &.views-field-count,&.views-field-field-user-avatar,&.views-field-body {
	  	 					 	width: 70%;
	  	 					 }
	  	 					 &.views-field-field-user-avatar {
	  	 					 	img {
	  	 					 		float: left;
	  	 					 	}
	  	 					 }
	  	 					 &.views-field-view-node {
	  	 					 	margin-top: 50px;
	  	 					 	 .button {
	  	 					 	 
	  	 					 	 		@extend .blue-button;
	  	 					 	 		a {
	  	 					 	 			@extend .blue-button;
	  	 					 	 		}
	  	 
	  	 					 	 }
	  	 					 }
	  	 				}
	  	 				font-size: 17px;
	  	 				.views-field-title {
	  	 					&:before {
	  	 						counter-increment: section;            
	 							 content: " " counter(section) ". "
	  	 					}
	  	 				}
	  	 			}
	  	 		}
	  	 	}
	  	 }
	  	 
	 }

  }
  &.page-booklists {
  	.l-header .row.header-middle section.block-menu-menu-secoundary-menu ul.menu li a.reviews::after {
  		background: url('../images/libraryzurb/reviewactive.png') no-repeat !important;
  	}
  	.main {
	  	.view-content {
	  	 	.item-list {
	  	 		ol {
	  	 			margin-left: 20px;
	  	 			li {
	  	 				font-size: 17px;
	  	 			 .views-field-php {
	  	 			 	a {
	  	 			 		color: $blue;
	  	 			 		font-size: 21px;
	  	 			 		  &:hover {
	  	 			 		  	color: $blue;
	  	 			 		  }
	  	 			 	}
	  	 			 }
	  	 			 .views-field-count {
	  	 			 	.views-label-count {
	  	 			 		position: relative;
	  	 			 		padding-right: 35px;
	  	 			 		&:after {
	  	 			 			content: "";
	  	 	    		 	 	height: 30px;
	 	    		 	 	 	width: 30px;
	 	    		 	 	 	display: block;
	 	    		 	 	 	background-size: 30px;
	 	    		 	 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
	 	    		 	 	 	position: absolute;
	 	    		 	 	 	top: 0;
	 	    		 	 	 	right: 0;
	  	 			 		}
	  	 			 	}
	  	 			 }
	  	 			 .views-field-count {
	  	 			 	float: right;
	  	 			 }
	  	 			 .field-name-field-avatar-image {
	  	 			 	img {
	  	 			 		float: left;
	  	 			 	}
	  	 			 }
	  	 			 .views-field-title {
	  	 			 	a {
	  	 			 		font-size: 21px;
	  	 			 		color: $blue;
	  	 			 		 &:hover {
	  	 			 		 	color: $blue;
	  	 			 		 }
	  	 			 	}
	  	 			 }
	  	 			}
	  	 		}
	  	 	}
	  	 }
	  	.view-booklist-slideshow {
	  		.owl-carousel {
	  			position: relative;
	  			 .owl-item {
	  			 	.views-field-field-booklist-cover-image {
	  			 		width: 150px;
	  			 	}
	  			 }
	  			 .views-field-title {
	  			 	font-size: 21px;
	  			 	 .field-content {
	  			 	 	a {
	  			 	 		color: $blue;
	  			 	 		font-family: McLaren-Regular !important;
	  			 	 		 &:hover, &:focus {
	  			 	 		 	color: $blue;
	  			 	 		 }
	  			 	 	}
	  			 	 }
	  			 }
	  			 .views-field-nothing {
	  			 	width: 70%;
	  			 	float: left;
	  			 	margin-top: 20px;

	  			 	  div {
	  			 	  	float: left;
	  			 	  	color: $black;
	  			 	  	 &:first-child {
	  			 	  	 	width: 100px;
	  			 	  	 }
	  			 	  	 &.field-name-field-avatar-image {
	  			 	  	 	width: 45px;
	  			 	  	 }
	  			 	  	 a.username {
	  			 	  	 	color: $blue;
	  			 	  	 	font-size: 21px;
	  			 	  	 	  &:hover {
	  			 	  	 	  	color: $blue;
	  			 	  	 	  }
	  			 	  	 }
	  			 	  }
	  			 }
	  			 .views-field-count {
	  			 	width: 30%;
	  			 	float: left;
	  			 	text-align: right;
	  			 	margin-top: 20px;
	  			 	  span {
	  			 	  	color: $black;
	  			 	  	position: relative;
	  			 	  	 &.views-label {
	  			 	  	 	padding-right: 35px;
	  			 	  	 	  &:after {
	  			 	  	 	  	content: "";
	 	    		 	 	 	height: 35px;
	 	    		 	 	 	width: 35px;
	 	    		 	 	 	display: block;
	 	    		 	 	 	background-size: 30px;
	 	    		 	 	 	background: url('../images/libraryzurb/smily-white.png') no-repeat;
	 	    		 	 	 	position: absolute;
	 	    		 	 	 	top: 0;
	 	    		 	 	 	right: -3px;
	  			 	  	 	  }
	  			 	  	 }
	  			 	  }
	  			 }
	  			 .owl-pagination {
	  			 	display: none;
	  			 }
	  			 .owl-buttons {
	  			 	width: 100%;
	  			 	position: absolute;
	  			 	top: 30%;
	  			 	 .owl-prev {
	  			 	 	float: left;
	  			 	 	visibility: hidden;
	  			 	 	position: relative;
	  			 	 	opacity: 1;
	  			 	 	  &:before {
	  			 	 	  	content: "";
	  			 	 	  	width: 30px;
	  			 	 	  	height: 30px;
	  			 	 	  	display: block;
	  			 	 	  	visibility: visible;
	  			 	 	  	background: url('../images/libraryzurb/left-blue-arrow.png') no-repeat;
	  			 	 	  	background-size: 25px;
	  			 	 	  	position: absolute;
	  			 	 	  	left: -40px;
	  			 	 	  	top: 0;
	  			 	 	  }
	  			 	 }
	  			 	 .owl-next {
	  			 	 	float: right;
	  			 	 	visibility: hidden;
	  			 	 	position: relative;
	  			 	 	opacity: 1;
	  			 	 	  &:after {
	  			 	 	  	content: "";
	  			 	 	  	width: 30px;
	  			 	 	  	height: 30px;
	  			 	 	  	display: block;
	  			 	 	  	visibility: visible;
	  			 	 	  	background: url('../images/libraryzurb/right-blue-arrow.png') no-repeat;
	  			 	 	  	background-size: 25px;
	  			 	 	  	position: absolute;
	  			 	 	  	right: -37px;
	  			 	 	  	top: 0;
	  			 	 	  }
	  			 	 }
	  			 }
	  		}
	  	}
	  }
	}
}
/**activities page **/
.section-activities {
 .main {
 .view-activities-page-, .block-block {
 	@extend .orange-blue;
 	padding-bottom: 20px;
 	 p, .view-content {
 	 	padding-left: 20px;
 	 	padding-right: 20px;
 	 }
 	 div {
 	 	a {
 	 		padding-left: 20px;
 	 		@extend .white-text;
 	 	}
 	 }
 }
}
.sidebar {
	.block-views {
		@extend .orange-blue;
		padding-bottom: 20px;
		 &:first-child {
		 	ul {
		 		list-style: none !important;
		 	}
		 }
		 .view-footer {
		 	padding-left: 20px;
		 	margin-top: 10px;
		 	p {
		 		a {
		 			@extend .yellow-button;
		 			box-shadow: 2px 3px $buttonshadow;
		 		}
		 	}
		 }
		 .views-field-title {
		 	padding-bottom: 10px;
		 }
		 .views-field-count {
		 	.views-label {
		 		padding-right: 32px;
		 		@extend .like;
		 	}
		 }
		 h3 {
		 	@extend .white-text;
		 	margin-top: 20px;
		 	text-align: center;
		 }
		 ul {
		 	list-style: ideograph-numeric;
		 	margin-left: 20px;
		 	 	a {
		 	 		@extend .white-text;
		 	 		border-bottom: 1px solid $white;
		 	 		font-size: 17px;
		 	 	}
		 }
	}
}

}
/**css for progress page**/
 .section-progress {
 	 .main {
 	 	@extend .blue-background;
 	 	padding-left: 0;
 	 	padding-right: 0;
 	 	 #page-title {
 	 	 	@extend .wave-img;
 	 	 }
 	 	 .view-calendar-sticker {
 	 	 	@extend .yellow-background;
 	 	 	width: 100%;
 	 	 	max-width: 95%;
 	 	 	margin: 0 auto;
 	 	 	position: relative;
 	 	 	
 	 	 	 .view-header {
 	 	 	 	
 	 	 	 	width: 48%;
 	 	 	 	padding: 20px 0 20px 2%;
 	 	 	 	left: 0;
 	 	 	 	 p {
 	 	 	 	 	margin-bottom: 0;
 	 	 	 	 	color: $black;
 	 	 	 	 	  &.heading {
 	 	 	 	 	  	font-size: 21px;
 	 	 	 	 	  }
 	 	 	 	 }
 	 	 	 }
 	 	 	 .view-content {
 	 	 	 	position: relative;
 	 	 	 	width: 100%;
 	 	 	 	max-width: 53%;
 	 	 	 	display: inline-block;
 	 	 	 	.views-row {
 	 	 	 		float: left;
 	 	 	 		width: 20%;
 	 	 	 		clear: none !important;
 	 	 	 		max-width: 100px;
 	 	 	 		height: 110px;
 	 	 	 		display: flex;
 	 	 	 		align-items: center;
 	 	 	 		align-content: center;
 	 	 	 		 img {
 	 	 	 		 	border: none;
 	 	 	 		 }


 	 	 	 	}
 	 	 	 }
 	 	 }
 	 	.block {
 	 		&.progress-calendar {
 	 			width: 100%;
 	 			max-width: 95%;
 	 			margin: 20px auto;
 	 			box-shadow: 24px 15px 57px -21px $black;
 	 			 .block-title {
 	 			 	display: none;
 	 			 }
 	 			 #calendar {
 	 			 	.fc-header {
 	 			 		border: none;
 	 			 		background: none;
 	 			 		 .fc-header-center {
 	 			 		 	h2 {
 	 			 		 		color: $orange;
 	 			 		 		font-family: McLaren-Regular !important;
 	 			 		 		font-weight: normal !important;
 	 			 		 		border-bottom: none;
 	 			 		 		box-shadow: 5px 7px 25px -5px $black;
 	 			 		 	}
 	 			 		 }
 	 			 		 tbody {
 	 			 		 	border-top: none;
 	 			 		 }
 	 			 		 td {
 	 			 		 	span {
 	 			 		 		&.fc-button {
 	 			 		 			background: $yellow;
 	 			 		 			box-shadow: 6px 11px 15px -9px $black !important;
 	 			 		 			opacity: 1 !important;
 	 			 		 			color: $black;
 	 			 		 			 &.fc-button-agendaWeek, &.fc-button-agendaDay, &.fc-button-month {
 	 			 		 			 	display: none;
 	 			 		 			 }
 	 			 		 		}
 	 			 		 	}
 	 			 		 }
 	 			 	}
 	 			 	.fc-content {
 	 			 		.fc-border-separate {
 	 			 			margin-bottom: 0;
 	 			 			border: none;
 	 			 			 .fc-day-header {
 	 			 			 	padding-bottom: 5px;
 	 			 			 	color: $white;
 	 			 			 	font-weight: normal !important;
 	 			 			 }
 	 			 		}
 	 			 		.fc-widget-header{
 	 			 			border: none;
 	 			 			background: $blue;
 	 			 			}
 	 			 		.fc-widget-content {
 	 			 			border: 1px solid $orange;
 	 			 		}
 	 			 		.fc-day {
 	 			 			.fc-day-number {
 	 			 				color: $blue;
 	 			 			}
	 	 			 		&.fc-state-highlight {
	 	 			 			.fc-day-number {
	 	 			 				color: $orange !important;
	 	 			 			}
	 	 			 		}
 	 			 		}
 	 			 	}
 	 			 }
 	 		}
 	 	}
 	}
 }
