/**
 * Styles for the Pre-Header area.
 */

.pre-header {
  background-color: $yellow;
  color: $black;
  font-size: 0.9em;
  padding: 3px 0 19px;
  display: inline-block;

  a {
    color: $color_gray_light;
    padding: 0 5px;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    @include inline-list;
    margin-bottom: 0;
  }

  .pre-header-left {
    padding: 0;
      section {
        .view {
           .views-field {
             float: left;
             margin-left: 10px;
             a {
               background-color: $blue;
               padding: 5px 20px;
               border: 1px solid $blue;
               border-radius: 5px;
                &.msg {
                   padding: 5px 20px 5px 40px !important;
                   background: $blue url('../images/libraryzurb/msg-img.png');
                   background-repeat: no-repeat;
                   background-position: 10px 5px;
    
                }
             }
              &.views-field-name {
                a {
                  color: $black !important;
                  background: none !important;
                  border: none !important;
                }
              }
              
           }
        }
      }
  }

  .pre-header-right {
    padding: 0;
    li {
      float: right;
    }
  }

  // do not display on mobile
  @media only screen and (max-width: #{$topbar-breakpoint}) {
    display: none;
  }
}

#topmostbranding {
  max-width: 710px;
  padding: 3px 0.5em;
  display: inline-block;
  float: right;
}
