/**
 * Styles for the Pre-Header area.
 */

.pre-header {
  background-color: $yellow;
  color: $black;
  font-size: 0.9em;
  padding: 3px 12px 19px 0px;
  display: inline-block;

  a {
    color: $color_gray_light;
    padding: 0 5px;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    @include inline-list;
    margin-bottom: 0;
  }

  .pre-header-left {
    padding: 0;
      section {
        .view {
          .view-content {
            float: right;
            position: relative;
            top: 15px;
          }
           .views-field {
             float: left;
             margin-left: 10px;
             a {
               background-color: $blue;
               padding: 2px 12px 5px; 
               border-radius: 10px;
               font-size: 19px;
               color: $white;
               @extend .box-shadow;
               
                &.msg {
                   padding: 2px 12px 5px 33px !important; 
                   background: $blue url('../images/libraryzurb/msg-img.png');
                   background-repeat: no-repeat;
                   background-position: 10px 8px;
    
                }
             }
              &.views-field-name {
                a {
                  color: $black !important;
                  background: none !important;
                  border: none !important;
                  font-size: 14px;
                  box-shadow: none !important;
                }
              }
              
           }
        }
      }
  }

  .pre-header-right {
    padding: 0;
    li {
      float: right;
    }
  }

  // do not display on mobile
  @media only screen and (max-width: #{$topbar-breakpoint}) {
    display: none;
  }
}

#topmostbranding {
  max-width: 100%;
  padding: 3px 0.5em;
  display: inline-block;
  float: right;
}
