/**
 * Styles for the Pre-Header area.
 */

.pre-header {
  background-color: $yellow;
  color: $black;
  font-size: 14px;
  @include mclaren;
  padding: 3px 12px 19px 0px;
  display: inline-block;
  @include mobile {
     padding: 0;
  }

  a {
    color: $color_gray_light;
    padding: 0 5px;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    @include inline-list;
    margin-bottom: 0;
  }

  .pre-header-left {
    padding: 0;
      .breadcurm {
    width: 30%;
    float: left;
      @include tablet {
        width: 100%;
        float: none;
        display: inline-block;
      }
     ul {
      margin: 0;
      position: relative;
      top: 10px;
      @include noborder;
      background: transparent;
       li {
          position: relative;
          &:first-child {
            content: " ";
          }
          &:before {
                  content: " > ";
                  width: 20px;
                  height: 20px;
                  text-align: center;
                  color: $black;
                  left: -30px;
                  top: 0;
                  position: absolute;
                  font-size: 17px;
                }
          &.current {
             
             a {
               color: $black;
              
               
             }
          }
         a {
          color: $blue;
          @include arialregular;
          text-transform: capitalize;
          font-size: 17px;
          float: left;

         }
       }
     }
   }
   .top-menu {
    width: 70%;
    float: right;
      @include tablet {
        width: 100%;
        display: inline-block;
        float: none;
      }
   }
      section {
        .view {
          .view-content {
            float: right;
            position: relative;
            top: 15px;
              @include tablet {
                float: none;
                text-align: left;
                left: 10px;
                top: 0;
              }
          }

           .views-field {
             float: left;
             margin-left: 10px;
             line-height: 1.4;
             a {
               background-color: $blue;
               padding: 2px 12px 5px; 
               border-radius: 10px;
               font-size: 19px;
               color: $white;
               @include mclaren;
               @include boxshadow;
                 &.newclass {
                  background-color: $red !important;
                 }
               
                &.msg {
                   padding: 2px 12px 5px 33px !important; 
                   background: $blue url('../images/libraryzurb/msg-img.png');
                   background-repeat: no-repeat;
                   background-position: 10px 8px;
    
                }
             }
              &.views-field-name {
                a {
                  color: $black !important;
                  background: none !important;
                  border: none !important;
                  font-size: 14px;
                  box-shadow: none !important;
                  @include mclaren;
                }
              }
              
           }
        }
      }
  }

  .pre-header-right {
    padding: 0;
    li {
      float: right;
    }
  }

  // do not display on mobile

}

#topmostbranding {
  max-width: 100%;
  padding: 3px 0.5em;
  display: inline-block;
  float: right;
   @include mobile {
    padding: 0; 
   }
}
#citylinks {
   @include mobile {
      display: none;
   }
}
#mobile-header {

   @include tablet {
      display: none;
   }
   @include desktop {
      display: none;
   }
   @include mobile {
      padding-left: 0;
      padding-right: 0;
   }
   button {
     float: left;
     margin-left: 10px;
     margin-bottom: 0;
     margin-top: 10px;
     @include noborder;
     border-radius: none !important;
     position: relative;
     padding: 17px;
     box-shadow: none !important;
     z-index: 9;
       &:hover, &:focus {
         background: $yellow !important;
       }

       &:after {
         @include previous(35px, 5px, $left: 0, $top: 5px);
         border-top: 5px solid $orange;
         box-shadow: 0px 10px 0px 0px $orange, 0px 20px 0px 0px $orange;
         

       }
   }
   .block {
      &.block-private-msg-custom {
         border-radius: none !important;
         box-shadow: none !important;
         margin-bottom: 0 !important;
         padding: 0 !important;
         background: none;
         display: none;
         clear: both;
         .views-row {
            margin-bottom: 0;
             .views-field {
               a {
                  background: $blue;
                  padding: 10px 0px;
                  border-bottom: 1px solid $white;
                    &.newclass {
                       background: $red !important;
                    }
                    &.msg {
                       position: relative;
                        &:before {
                           content: "";
                           width: 30px;
                           height: 20px;
                           display: inline-block;
                           position: absolute;

                           margin-left: -32px;
                           background: url('../images/libraryzurb/msg-img.png') no-repeat;
                           background-position: 6px 1px !important;
                        }
                    }
               }
             }
         }
           .mobile_menu {
              li, a {
                width: 100%;
                display: inline-block;
                font-size: 17px;
                @include mclaren;
                 padding-left: 0;
                 text-align: center;
                 color: $white;
              }
              .menu {
                line-height: 1;
                 li {
                  margin-left: 0;
                    a {
                        padding: 10px 0;
                        border-bottom: 1px solid $white;
                        background: $orange;
                        overflow: visible;
                        &:hover, &:focus {
                          border-bottom: 1px solid $orange;
                          background: $white;
                          color: $orange !important;
                        }
                          &:before {
                            content: "";
                           width: 43px;
                           height: 25px;
                           display: inline-block;
                           position: absolute;
                           margin-left: -46px;
                           background-position: -5px -7px !important;
                            background-size: 63px !important;
                            margin-top: -6px;
                          

                          }
                        &.progress {
                          height: auto;
                          margin-bottom: 0;
                          padding:10px 0;
                          border-left: none;
                          border-right: none;
                          border-top: none;
                          font-weight: normal;
                            &:before {
                               background: url('../images/libraryzurb/progress.png') no-repeat;
                               
                            }
                            &:hover, &:focus {
                              &:before {
                                  background: url('../images/libraryzurb/progress_hover.png') no-repeat;
                              }
                            }
                        }
                        &.activities {
                           &:before {
                               background: url('../images/libraryzurb/activities.png') no-repeat;
                            }
                             &:hover, &:focus {
                              &:before {
                                  background: url('../images/libraryzurb/activities_hover.png') no-repeat;
                              }
                            }
                        }
                        &.rewards {
                           &:before {
                               background: url('../images/libraryzurb/rewards.png') no-repeat;
                              
                            }
                             &:hover, &:focus {
                              &:before {
                                  background: url('../images/libraryzurb/rewards_hover.png') no-repeat;
                              }
                            }
                        }
                        &.events {
                           &:before {
                               background: url('../images/libraryzurb/events.png') no-repeat;
                            }
                             &:hover, &:focus {
                              &:before {
                                  background: url('../images/libraryzurb/events_hover.png') no-repeat;
                              }
                            }
                        }
                        &.reviews{
                           &:before {
                               background: url('../images/libraryzurb/reviews.png') no-repeat;
                            }
                             &:hover, &:focus {
                              &:before {
                                  background: url('../images/libraryzurb/reviewactive.png') no-repeat;
                              }
                            }
                        }
                        &.photos{
                           &:before {
                               background: url('../images/libraryzurb/photosnvideos.png') no-repeat;
                            }
                             &:hover, &:focus {
                              &:before {
                                  background: url('../images/libraryzurb/photos_videos_hover.png') no-repeat;
                              }
                            }
                        }
                        &.current-program{
                           &:before {
                               background: url('../images/libraryzurb/current-programs.png') no-repeat;
                            } 
                             &:hover, &:focus {
                              &:before {
                                  background: url('../images/libraryzurb/currentprogs_hover.png') no-repeat;
                              }
                            }
                        }
                    }
                 }
              }
           }
      }
      &.block-views {
         margin-bottom: 0 !important;
         margin-right: 10px;
         float: right;
         margin-top: 17px;
          .views-field-name {
             a.username {
               color: $black !important;
             }
          }
          .views-field-php-2 {
            a {
              @include mobile {
                 @include bluebutton($font-size: 17px, $p: sm);
              }
            @include bluebutton($font-size: 17px);
            margin-bottom: 10px;
             &:hover {
              color: $white;
             }
            }
          }
      }
   }
}
